﻿@model PoliceMonitor.Models.CustomersViewModels

@{
    ViewBag.Title = "Create";
}
<h2>Create Customer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">
                Multi Select Talk Group
            </label>
            <div class="col-md-6">
                @Html.ActionLink("Select Talk Group", "Filter", new { name = "Create" }, new {id="SaveFill" })
                 @*<p id="eventResult">Here is the result of event.</p>*@
                 @*@Html.ListBoxFor(m => m.SelectedValues, new MultiSelectList(ViewBag.TalkGroups, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })*@
            </div>
            

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ContactPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactPhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UnlimitedUsers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.CheckBoxFor(model => model.UnlimitedUsers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnlimitedUsers, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UsersCount, htmlAttributes: new { @class = "control-label col-md-2", @id = "labelUsersCount" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UsersCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersCount, "", new { @class = "text-danger" })
            </div>
        </div>

            @*<div class="form-group checkboxDiv">
                <label class="col-md-2 control-label">
                    Select Talk Group
                </label>
                <div class="col-md-10">
                    <div class="row">
                        @foreach (var item in (SelectList)ViewBag.TalkGroups)
                    {
                            <div class="col-sm-6">
                                <input type="checkbox" name="SelectedTalkGroup" value="@item.Value" class="checkbox-inline" />
                                @Html.Label(item.Text, new { @class = "", @title = item.Text })
                            </div>
                    }
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.DefaultAutoplaySetting, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div>
                    @Html.CheckBoxFor(model => model.DefaultAutoplaySetting)
                    @Html.ValidationMessageFor(model => model.DefaultAutoplaySetting, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group checkboxDiv">
            <label class="col-md-2 control-label" style="font-weight:bold">
                Permission Level
            </label>
            <div class="col-md-10">
                <div class="row">
                    @foreach (SelectListItem item in ViewBag.PermissionLevelList)
                {
                        <div class="col-sm-6">
                            <input type="checkbox" name="SelectedPermissionLevel" value="@item.Value" class="checkbox-inline" />
                            @Html.Label(item.Text, new { @class = "", @title = item.Text })
                            @*<label name="SelectedTalkGroup1" text="@item.text" title="@item.text"  value="@item.Value" class="checkbox-inline" />*@
                        </div>
                }
                </div>
            </div>
        </div>

        
        @*<div class="form-group">
            <label class="col-md-2 control-label">
                Permission Level
            </label>
            <div class="col-md-10">
                <div class="row">
                    @foreach (var item in ViewBag.PermissionLevelList)
                    {
                        <div class="col-md-10">
                            <input type="checkbox" name="SelectedPermissionLevel" value="@item.Value" class="checkbox-inline" checked="@item.Selected" />
                            @Html.Label(item.Text, new { @class = "", @title = item.Text, @style = "font-weight:normal" })
                        </div>
                    }
                </div>
            </div>
        </div>*@

        @{
            var value=TempData["ID"];
        }
        <input type="hidden" id="FilterSystemID" name="FilterSystemID" value="@value" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
@*<script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>*@

        <link rel="stylesheet" href="~/Content/multiple-select.css">
        <link rel="stylesheet" href="~/Content/developer.css">
        <script src="~/Scripts/jquery.multiple.select.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#SelectedValues').multipleSelect({
            filter: true,
            displayValues: true
            //onCheckAll: function () {
            //    $("#eventResult").text($("select").multipleSelect("getSelects"));
            //},
            //onUncheckAll: function () {
            //    $("#eventResult").text('');
            //},
            //onClick: function (view) {
            //    $("#eventResult").text(view.label + '(' + view.value + ') ' +
            //        (view.checked ? 'checked' : 'unchecked'));
            //}
        });

        if(sessionStorage.CustomerName)
        {
            $("#CustomerName").val(sessionStorage.CustomerName);
            sessionStorage.CustomerName = "";
        }
        if (sessionStorage.StreetAddress) {
            $("#StreetAddress").val(sessionStorage.StreetAddress);
            sessionStorage.StreetAddress = "";
        }
        if (sessionStorage.City) {
            $("#City").val(sessionStorage.City);
            sessionStorage.City = "";
        }
        if (sessionStorage.State) {
            $("#State").val(sessionStorage.State);
            sessionStorage.State = "";
        }
        if (sessionStorage.ZipCode) {
            $("#ZipCode").val(sessionStorage.ZipCode);
            sessionStorage.ZipCode = "";
        }
        if (sessionStorage.ContactName) {
            $("#ContactName").val(sessionStorage.ContactName);
            sessionStorage.ContactName = "";
        }
        if (sessionStorage.ContactPhoneNumber) {
            $("#ContactPhoneNumber").val(sessionStorage.ContactPhoneNumber);
            sessionStorage.ContactPhoneNumber = "";
        }
        if (sessionStorage.UsersCount) {
            $("#UsersCount").val(sessionStorage.UsersCount);
            sessionStorage.UsersCount = "";
        }
    });
    $("#SaveFill").click(function () {
        sessionStorage.CustomerName = $("#CustomerName").val();
        sessionStorage.StreetAddress = $("#StreetAddress").val();
        sessionStorage.City = $("#City").val();
        sessionStorage.State = $("#State").val();
        sessionStorage.ZipCode = $("#ZipCode").val();
        sessionStorage.ContactName = $("#ContactName").val();
        sessionStorage.ContactPhoneNumber = $("#ContactPhoneNumber").val();
        sessionStorage.UsersCount = $("#UsersCount").val();
      
    })
    $(function () {

        $('#UnlimitedUsers').click(function () {
            if (!$(this).is(':checked')) {
                
                $("#labelUsersCount").css("display", "block");
                $("#UsersCount").css("display", "block");
            }
            else {
                $("#labelUsersCount").css("display", "none");
                $("#UsersCount").css("display", "none");
            }


        });
    });

</script>
}