﻿@model  PoliceMonitor.Models.CustomerLog
@{
    ViewBag.Title = "Manage Customer Log";
    ViewBag.Active = "CustomerLog";

}
<h2>Manage Customer Log</h2>


@*<div class="form-group">
        <div class="col-md-4">

            @Html.DropDownList("CustomerList",new SelectList(ViewBag.CustomerList, "CustomerId", "CustomerName"), "Select Customer", htmlAttributes: new { @class = "form-control", onChange = "FillTalkGroups();" })

        </div>
    </div>*@



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    var _user = User as PoliceMonitor.Security.Principal.CustomPrincipal;
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4 input-group">
                @if (_user.UserRoles[0].RoleName == "Admin")
                {
                    @Html.DropDownList("CustomerList", new SelectList(ViewBag.CustomerList, "CustomerId", "CustomerName"), htmlAttributes: new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownList("CustomerList", new SelectList(ViewBag.CustomerList, "CustomerId", "CustomerName"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                }


                @*@Html.DropDownList(model => model.Customer, new SelectList(ViewBag.CustomerList, "CustomerId", "CustomerName", model => model.Customer), "Select Customer", htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDate, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class='input-group date col-md-4' id='datetimepicker1'>
                @Html.TextBoxFor(c => c.SDate, new Dictionary<string, object> { { "id", "StartDatetime" }, { "name", "StartDatetime" }, { "class", "form-control" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @*<div class="col-md-10">
                    @Html.EditorFor(model => model.SDate, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.ValidationMessageFor(model => model.SDate, "", new { @class = "text-danger" })
                </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='input-group date col-md-4' id='datetimepicker2'>
                @Html.TextBoxFor(c => c.EDate, new Dictionary<string, object> { { "id", "EndDatetime" }, { "name", "EndDatetime" }, { "class", "form-control" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @*<div class="col-md-10">
                    @Html.EditorFor(model => model.EDate, new { htmlAttributes = new { @class = "form-control", placeholder = "End Date"} })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.ValidationMessageFor(model => model.EDate, "", new { @class = "text-danger" })
                </div>*@
        </div>

        <div class="form-group">
            <div class="col-md-6 input-group" style="text-align:right">
                <input type="button" value="Search" class="btn btn-primary" id="SearchCustomer" />
            </div>
        </div>
        @*@if (Model != null)
            {
                <span>rohit</span>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                               <span>User ID</span>
                            </th>
                            <th>
                                <span>User Name</span>
                            </th>
                            <th>
                                <span>Login Count</span>
                            </th>
                        </tr>
                        @foreach (var item in Model.Detail)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.counts)
                                </td>
                            </tr>
                        }
                    </table>
                </div>*@
        <div id="ListCustomer" class="table-responsive">

        </div>


    </div>
}

@section Scripts {
    <link rel="stylesheet" href="~/Content/Site.css?v=" @System.Configuration.ConfigurationManager.AppSettings["Dynamic"] />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link href="~/Content/jquery-editable-select.min.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/meiomask.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js")
    @Scripts.Render("~/Scripts/tree.js")
    @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
    @Scripts.Render("~/Scripts/helpers/playbackhelper.js")
    <script>
        $(document).ready(function (e) {
            debugger
            $("#SearchCustomer").on('click', function () {
                //alert("rohit");
                var CustomerID = $("#CustomerList").val();
                var StartDate = $("#StartDatetime").val();
                var EndDate = $("#EndDatetime").val();

                $.ajax({
                    url: '@Url.Content("~/Customers/CustomerLoginDetail")',
                    type: "GET",
                    dataType: "JSON",
                    data: { customerid: CustomerID, StartDate: StartDate, EndDate: EndDate },
                    success: function (CustomerDetails) {
                        debugger
                        var TableList = "<table class=' table'><tr><th>User ID</th><th>User Name</th><th> Login Count</th>"
                        jQuery.each(CustomerDetails.Detail, function (i, val) {
                            //alert(val);
                            TableList += "<tr><td>" + val.UserId + "</td><td>" + val.UserName + "</td><td>" + val.counts + "</td><tr/>"
                        })
                        TableList += "</table>";
                        $("#ListCustomer").append(TableList);
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            })
        })
    </script>
    @*<script src="~/Scripts/jquery-1.11.3.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('input[type=datetime]').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });

            });
        </script>*@

}

