﻿@model PoliceMonitor.Models.CustomersViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<style>
    .checkboxDiv { position:relative;}
    .checkboxDiv input{position: absolute;left:0px;top: 9px;}
    .checkboxDiv label {display: block;margin-bottom: 5px;  padding-left: 5px;font-weight: normal;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; margin-top: 5px;}

</style>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnlimitedUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnlimitedUsers)
        </dd>
        @if (!Model.UnlimitedUsers)
        {
        <dt>
            @Html.DisplayNameFor(model => model.UsersCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersCount)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            Talk Groups
        </dt>
        <dd>
            <div class="form-group checkboxDiv">
                <div class="col-md-10">
                    <div class="row">
                        @foreach (var item in Model.TalkGroupList)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" name="SelectedTalkGroup" value="@item.Value" checked="checked" disabled="disabled" class="checkbox-inline" />
                                @Html.Label(item.Text, new { @class = "", @title = item.Text })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </dd>
        <dt>
            Permission Level
        </dt>
        <dd>
            <div class="form-group checkboxDiv">
                <div class="col-md-10">
                    <div class="row">
                        @foreach (var item in Model.PermissionLevelList)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" name="SelectedPermissionLevel" value="@item.Value" checked="checked" disabled="disabled" class="checkbox-inline" />
                                @Html.Label(item.Text, new { @class = "", @title = item.Text })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
