﻿@model PoliceMonitor.Models.CustomersViewModels

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Multi Select Talk Group
            </label>
            <div class="col-md-6">
                @{
                    
                    //var customer = model => model.CustomerId;
                }
                @Html.ActionLink("Select Talk Group", "Filter", new { name = "Edit", customerid = @Model.CustomerId })
                @*@Html.ListBoxFor(m => m.SelectedValues, new MultiSelectList(ViewBag.TalkGroups, "Value", "Text"))*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ContactPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactPhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnlimitedUsers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div>
                    @Html.CheckBoxFor(model => model.UnlimitedUsers)
                    @Html.ValidationMessageFor(model => model.UnlimitedUsers, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsersCount, htmlAttributes: new { @class = "control-label col-md-2", @id = "labelUsersCount" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UsersCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UsersCount, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div>
                    @Html.CheckBoxFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
             </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DefaultAutoplaySetting, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div>
                    @Html.CheckBoxFor(model => model.DefaultAutoplaySetting)
                    @Html.ValidationMessageFor(model => model.DefaultAutoplaySetting, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">
                Permission Level
            </label>
            <div class="col-md-10">
                <div class="row">
                    @foreach (var item in Model.PermissionLevelList)
                    {
                        <div class="col-md-10 playbackCheckboxDiv">
                            <input type="checkbox" name="SelectedPermissionLevel" value="@item.Value" class="checkbox-inline" checked="@item.Selected" />
                            @Html.Label(item.Text, new { @class = "", @title = item.Text, @style = "font-weight:normal" })
                        </div>
                    }
                </div>
            </div>
        </div>
        @*<div class="form-group checkboxDiv">
            <label class="col-md-2 control-label" style="font-weight:bold">
                Permission Level
            </label>
            <div class="col-md-10">
                <div class="row">
                    @foreach (SelectListItem item in ViewBag.PermissionLevelList)
                    {
                        <div class="col-sm-6">
                            <input type="checkbox" name="SelectedPermissionLevel" value="@item.Value" class="checkbox-inline" />
                            @Html.Label(item.Text, new { @class = "", @title = item.Text })
                            @*<label name="SelectedTalkGroup1" text="@item.text" title="@item.text"  value="@item.Value" class="checkbox-inline" />*@
                        @*</div>
                    }
                </div>
            </div>
        </div>*@
        @{
    var value = TempData["ID"];
   // var value1 = TempData["ID1"];
        }
        <input type="hidden" id="FilterSystemID" name="FilterSystemID" value="@value" />
        @*<input type="hidden" id="FilterSystemID1" name="FilterSystemID1" value="@value1" />*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    @*<script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>*@

    <link rel="stylesheet" href="~/Content/multiple-select.css">
    <link rel="stylesheet" href="~/Content/developer.css">
    <script src="~/Scripts/jquery.multiple.select.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#SelectedValues').multipleSelect({
            filter: true,
            displayValues: true
            //onCheckAll: function () {
            //    $("#eventResult").text($("select").multipleSelect("getSelects"));
            //},
            //onUncheckAll: function () {
            //    $("#eventResult").text('');
            //},
            //onClick: function (view) {
            //    $("#eventResult").text(view.label + '(' + view.value + ') ' +
            //        (view.checked ? 'checked' : 'unchecked'));
            //}
        });
    });
        $(function() {

            if (!$('#UnlimitedUsers').is(':checked')) {
                
                $("#labelUsersCount").css("display", "block");
                $("#UsersCount").css("display", "block");
            }
            else {
                $("#labelUsersCount").css("display", "none");
                $("#UsersCount").css("display", "none");
            }

            $('#UnlimitedUsers').click(function () {
                if (!$(this).is(':checked')) {
                    UsersCount
                    $("#labelUsersCount").css("display", "block");
                    $("#UsersCount").css("display", "block");
                }
                else {
                    $("#labelUsersCount").css("display", "none");
                    $("#UsersCount").css("display", "none");
                }

                
            });
        });

</script>
    }
