﻿@model PoliceMonitor.Models.FilterViewModel
@{
    //Layout = null;
    ViewBag.Title = "Select TalkGroups";
}

@using (Html.BeginForm())
{
    //<html lang="en">
    <head>
        <link href="~/Content/stylesheet.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    </head>


    <body>

        <div class="container">
            <br /><br />
            <div class="col-md-12">
                <h1 class="">Select TalkGroups</h1>
            </div>

        </div>

        @{
            var val = @TempData["ID"];
        }
        <div class="">
            <div class="container">
                <div class="col-xs-6 col">
                    <div class="row">
                        <div class="col-xs-12"><p>Items to Select</p></div>
                        <div class="col-xs-6">
                            @Html.DropDownList("SystemID", new SelectList(ViewBag.SysID, "ID", "Name"), "Select System", htmlAttributes: new { @class = "System" })
                            @*//<select><option>System ID1</option><option>System ID2</option></select>*@
                        </div>
                        <div class="col-xs-6">
                            @*@Html.DropDownList("County", new SelectList(ViewBag.County, "county"), "Select County", htmlAttributes: new { @class="County" })*@
                            <select id="SetCounty"><option>Select County</option></select>
                        </div>
                        <div class="col-xs-6" style="margin-top:20px;">
                            <input type="text" id="myInput" onkeyup="FilterTalk()" placeholder="Search for TalkGroup..">
                        </div>
                        <div class="col-xs-12">
                            <div class="inner">
                                <span id="loadingUl" style="display:none;">Loading..</span>
                                <ul id="AllTalk"></ul>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <br/>
                            <span>Add talkgroups to all users under the customer account</span>
                            <input id="AddUserTalkgroup" type="checkbox" value="true" name="AddUserTalkgroup" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-1 col tables">
                    <div class="cell">
                        <div class="col-xs-12 text-center"><button type="button" id="AddBtn" class="btn btn-primary">&gt;&gt;</button></div>
                        <div class="col-xs-12 text-center"><button type="button" id="RemoveBtn" class="btn btn-primary">&lt;&lt;</button></div>
                    </div>
                </div>

                <div class="col-xs-5 col">
                    <div class="row">
                        <div class="col-xs-12"><p>Selected Items (Total: <span id="CountItems"></span>)</p></div>
                        <div class="col-xs-6" style="margin-top:52px;">
                            <input type="text" id="myInput1" onkeyup="FilterTalk1()" placeholder="Search for TalkGroup..">
                        </div>
                        @*<div class="col-xs-12"><input type="text" placeholder="Search Added Items" /></div>*@
                        <div class="col-xs-12">
                            <div class="inner">
                                <ul id="Selected"></ul>
                            </div>
                        </div>

                        @*<button type="button" id="backBtn" onclick="location.href='@Url.Action("Filter", "Customers",FormMethod.Post)'" class="btn btn-primary">Select Talkgroup </button>*@
                        @*<input type="button" value="Detail" class="btn btn-primary" id="backBtn" onclick="location.href='@Url.Action("Create", "Customers")?id=' + document.getElementById('FilterSystemID').value" />*@

                        @{
                            var FilterSys = @ViewBag.SelectID;
                        }
                        @*<button type="submit" id="backBtn" onclick="location.href='@Url.Action("Create", "Customers", FormMethod.Post)'" class="btn btn-primary">Select Talkgroup </button>*@

                        <input type="hidden" id="FilterSystemID" name="FilterSystemID" value="@FilterSys" />
                        
                        <div class="col-xs-12">     
                            <br />
                            <button type="submit" id="backBtn" class="btn btn-primary">Save </button>
                        </div>
                    </div>

                </div>
                <br /><br />
            </div>
        </div>

    </body>
}

@section scripts {
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.matchHeight.js"></script>
    <script>
        $(document).ready(function (e) {
            debugger
            if ($("#FilterSystemID").val() != "") {
                var split = $("#FilterSystemID").val();
                var selectedval = split.split(",");
                var sys = [];
                var talk = [];
                $.each(selectedval, function (i) {
                    if (i < selectedval.length - 1) {
                        var value = selectedval[i];
                        var value1 = value.split('_');
                        sys += value1[0] + ",";
                        talk += value1[1] + ",";
                    }
                })
                $.ajax({
                    url: '@Url.Content("~/Customers/GetSelectedTalkGroupval")',
                    type: "POST",
                    dataType: "JSON",
                    data: { SystemId: sys, talkgroupid: talk },
                    success: function (talkgroup) {
                        $("#AllTalk").empty();
                        var content = '';

                        $.each(talkgroup, function (i, talkgroup) {
                            $("#" + talkgroup.SystemId).val();
                            content += '<li><input type="checkbox" id="' + talkgroup.SystemId + '_' + talkgroup.ID + '" value="(' + talkgroup.County + ') ' + talkgroup.Name + ' (' + talkgroup.ID + ')"/> <label for="' + talkgroup.ID + '">(' + talkgroup.County + ') ' + talkgroup.Name + '  (' + talkgroup.ID + ') (' + talkgroup.SystemId + ')</label></li>'
                        });

                        $("#Selected").html(content);
                        var count = $('#Selected input[type=checkbox]').length;
                        $("#CountItems").text(count);
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });

            }
            var byRow = $('body').hasClass('test-rows');
            $('.container').each(function () {
                $(this).children('.col').matchHeight({
                    byRow: byRow
                });
            });
            $('.inner li').click(function () {

                $('.inner li').removeClass('selected');
                $(this).addClass('selected');
            });
        });
        $("#AddBtn").on('click', function () {
            var obj = $("#AllTalk input[type='checkbox']:checked");
            var obj1 = $("#Selected input[type='checkbox']");
            var content = '';


            $.each(obj, function (i) {
                var Tempid = $(this).attr('id');
                var temp = 0;
                $.each(obj1, function (i) {
                    if (Tempid == $(this).attr('id')) {
                        temp = 1;
                    }
                })
                if (temp == 0) {
                    content += '<li><input type="checkbox" id="' + $(this).attr('id') + '" value="' + $(this).val() + '"/> <label for="' + $(this).attr('id') + '">' + $(this).val() + ' (' + $(this).attr('id').split('_')[0] + ')</label></li>'
                    $(this).parent('li').remove();
                }
                else {
                    $(this).parent('li').remove();
                }
            });
            //$.each(obj, function (i) {
            //    content += '<li><input type="checkbox" id="' + $(this).attr('id') + '" value="' + $(this).val() + '"/> <label for="' + $(this).attr('id') + '">' + $(this).val() + ')</label></li>'

            //    $(this).parent('li').remove();
            //});
            $("#Selected").append(content);
            $("#FilterSystemID").val("");
            var objhyd = $("#Selected input[type='checkbox']");
            var contenthyd = '';
            var sysID = $("#SystemID").val();
            if (sysID == "") {
                sysID = "1039";
            }
            $.each(objhyd, function (i) {
                contenthyd += '' + sysID + '_' + $(this).attr('id') + ',';
            });
            var count = $('#Selected input[type=checkbox]').length;
            $("#CountItems").text(count);
            $("#FilterSystemID").val(contenthyd);
        });
        $("#RemoveBtn").on('click', function () {
            var obj = $("#Selected input[type='checkbox']:checked");
            var content = '';
            var SystemId = $('#SystemID').val();
            var obj1 = $("#AllTalk input[type='checkbox']");
            $.each(obj, function (i) {
                var Tempid = $(this).attr('id');
                var temp = 0;
                $.each(obj1, function (i) {

                    if (Tempid == $(this).attr('id')) {
                        temp = 1;
                    }
                    if (SystemId != Tempid.split('_')[0]) {
                        temp = 1;
                    }
                })
                if (temp == 0) {
                    content += '<li><input type="checkbox" id="' + $(this).attr('id') + '" value="' + $(this).val() + '"/> <label for="' + $(this).attr('id') + '">' + $(this).val() + ' (' + $(this).attr('id').split('_')[0] + ')</label></li>'
                    $(this).parent('li').remove();
                }
                else {
                    $(this).parent('li').remove();
                }
            });
            //$.each(obj, function (i) {
            //    content += '<li><input type="checkbox" id="' + $(this).attr('id') + '" value="' + $(this).val() + '"/> <label for="' + $(this).attr('id').split('_')[1] + '">' + $(this).val() +  '</label></li>'
            //    $(this).parent('li').remove();
            //});
            $("#AllTalk").prepend(content);
            $("#FilterSystemID").val("");
            var objhyd = $("#Selected input[type='checkbox']");
            var contenthyd = '';
            var sysID = $("#SystemID").val();
            if (sysID == "") {
                sysID = "1039";
            }
            $.each(objhyd, function (i) {
                contenthyd += '' + sysID + '_' + $(this).attr('id') + ',';
            });
            var count = $('#Selected input[type=checkbox]').length;
            $("#CountItems").text(count);
            $("#FilterSystemID").val(contenthyd);
        });
        $("#SetCounty").on('change', function () {
            GetTalkGroup();
        });
        $("#backBtn").on('click', function () {
            $("#FilterSystemID").val("");
            var objhyd = $("#Selected input[type='checkbox']");
            var contenthyd = '';
            var sysID = $("#SystemID").val();
            if (sysID == "") {
                sysID = "1039";
            }
            $.each(objhyd, function (i) {
                contenthyd += $(this).attr('id') + ',';
            });
            $("#FilterSystemID").val(contenthyd);
        });
        $("#SystemID").on('change', function () {
            $("#loadingUl").show();
            $("#AllTalk").empty();
            $("#County").val("");
            var SystemId = $("#SystemID").val();
            $("#SetCounty").empty();
            $.ajax({
                url: '@Url.Content("~/Customers/getCounty")',
                type: "POST",
                dataType: "JSON",
                data: { SystemId: SystemId },
                success: function (SelectCounty) {
                    //$("#AllTalk").empty();
                    var content = '<option>Select County</option>';

                    $.each(SelectCounty, function (i, SelectCounty) {
                        content += '<option>' + SelectCounty + '</option>'
                    });
                    $("#SetCounty").append(content);
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
            GetTalkGroup();
        });
        function FilterTalk() {
            var input, filter, ul, li, a, i;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("AllTalk");
            li = ul.getElementsByTagName('li');
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("input")[0];
                if (a.value.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        function FilterTalk1() {
            var input, filter, ul, li, a, i;
            input = document.getElementById('myInput1');
            filter = input.value.toUpperCase();
            ul = document.getElementById("Selected");
            li = ul.getElementsByTagName('li');
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("input")[0];
                if (a.value.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        function GetTalkGroup() {
            var obj1 = $("#Selected input[type='checkbox']");
            var SystemId = $('#SystemID').val();
            //var SystemId = $('#SystemID option:selected').text();
            var County = $("#SetCounty").val();
            var objhyd = $("#Selected input[type='checkbox']");
            $.ajax({
                url: '@Url.Content("~/Customers/GetTalkGroupval")',
                type: "GET",
                dataType: "JSON",
                data: { SystemId: SystemId, County: County },
                success: function (talkgroup) {

                    var content = '';
                    var temp = true;
                    $("#loadingUl").hide();
                    $.each(talkgroup, function (i, talkgroup) {
                        var newid = SystemId + '_' + talkgroup.ID;
                        $.each(obj1, function (k) {
                            if ($(this).attr('id') == newid) {
                                temp = false;
                                return false;
                            }
                            else {
                                temp = true;
                            }
                        })
                        if (temp == true) {
                            content += '<li><input type="checkbox" id="' + SystemId + '_' + talkgroup.ID + '" value="(' + talkgroup.County + ') ' + talkgroup.Name + '  (' + talkgroup.ID + ')"/> <label for="' + talkgroup.ID + '">(' + talkgroup.County + ') ' + talkgroup.Name + '  (' + talkgroup.ID + ') (' + SystemId + ')</label></li>'
                        }
                    });
                    $("#AllTalk").html(content);
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

    </script>
}

