﻿@model IEnumerable<PoliceMonitor.Models.CustomersViewModels>

    @{
    ViewBag.Title = "Manage Customer";
    ViewBag.Active = "Customerndex";
    }

    <h2>Manage Customer</h2>
                      @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Create Customer", "Create")
    </p>
    <div class="table-responsive">
        <div class="col-md-4 form-group">
            @Html.DropDownList("Search", new SelectList(ViewBag.ListItem, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "searchMe();" })
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.SearchType, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.SearchType, new SelectList(Model.SearchList, "Value", "Text", Model.SearchType), htmlAttributes: new { @class = "form-control", onChange = "SelectChange();" })
                @Html.ValidationMessageFor(model => model.SearchType, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPhoneNumber)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.UsersCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                @*<th>
                        Status
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
{
                
                     <tr class="@Convert.ToString(item.Active)"> 
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPhoneNumber)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.UsersCount)
                    </td>
                    <td>
                        @if (item.Active == true)
                                            {
                            <span>Active</span>
                            }
                            else
                            {
                                            <span>InActive</span>
                            }
                    </td>                
    @*<td>
                            @Html.DisplayFor(modelItem => item.ActiveDisplay)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) 
                        @*@Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |*@
                        @if (item.Active)
            {
                             @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId, @class = "Delete" })@*, new { @style = "color:#ca4242;" })*@
                        }
                        else
                        {
                         @Html.ActionLink("Active", "Active", new { id = item.CustomerId })
                        }
                       
                    </td>
                </tr>
            }

        </table>
    </div>
@section scripts {
                      <link rel="stylesheet" href="~/Content/jquery-ui-1.11.4.css" />
                      <link rel="stylesheet" href="~/Content/multiple-select.css">
                      <link rel="stylesheet" href="~/Content/developer.css">
                      <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
                      <script src="~/Scripts/jquery.multiple.select.js"></script>

                      <script language="javascript" type="text/javascript">
                          $(document).ready(function () {
                              $('.False').hide();
                             

                              $('.True').show();
                            debugger
                              $('#Search').on('change', function () {
                                  var search = $('#Search').val();
                                  if (search == "Active")
                                  {
                                      $('.False').hide();
                                      $('.True').show();
                                  }
                                  else if (search == "InActive")
                                  {
                                      $('.False').show();
                                      $('.True').hide();
                                  }
                                  else
                                  {
                                      $('.False').show();
                                      $('.True').show();
                                  }

                              });
                          })
                          </script>
    }