﻿@model IEnumerable<PoliceMonitor.Models.AdminViewModels>

@{
    ViewBag.Title = "Manage Admins";
    ViewBag.Active = "AdminIndex";
}

<h2>Manage Admins</h2>

<p>
    @Html.ActionLink("Create Admin", "AdminCreate")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName) / 
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Customer != null) { 
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            }
            else
            {
                <span style="font-weight:700;color:red">Super Admin</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)<br />
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstName) @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)<br />
            @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State), @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.Raw(item.ActiveDisplay)
        </td>
        <td>
            @Html.ActionLink("Edit", "AdminEdit", new { id = item.UserId }) |
            @Html.ActionLink("Details", "AdminDetails", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "AdminDelete", new { id = item.UserId })
        </td>
    </tr>
}

    </table>
</div>