﻿@model  PoliceMonitor.Models.UserViewModels

@{
    ViewBag.Title = "Create User";
}
<h2>Create User</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
       
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
        {
            
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedCustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    
                    @Html.DropDownListFor(model => model.SelectedCustomerId, new SelectList(ViewBag.CustomerList, "CustomerId", "CustomerName", Model.SelectedCustomerId), "Select Customer", htmlAttributes: new { @class = "form-control", onChange = "FillTalkGroups();" })
                    @Html.ValidationMessageFor(model => model.SelectedCustomerId, "", new { @class = "text-danger" })
                </div>
            </div>
        
        }
       
        @*<div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.UserFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
            </div>
        </div>
              
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @if (User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
        {
            <div class="form-group checkboxDiv">
                <label class="col-md-2 control-label" style="font-weight:bold">
                    Permission Level
                </label>
                <div class="col-md-10">
                    <div id="permissions" class="row">
                    </div>
                </div>
            </div>

            <div class="form-group checkboxDiv">
                <label class="col-md-2 control-label" style="font-weight:bold">
                    Select Talk Group
                </label>
                <div class="col-md-10">
                    <div id="talkGrp" class="row">
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="form-group checkboxDiv">
                <label class="col-md-2 control-label" style="font-weight:bold">
                    Permission Level
                </label>
                <div class="col-md-10">
                    <div class="row">
                        @foreach (var item in Model.PermissionLevelList)
                        {
                            <div class="col-md-10">
                                <input type="checkbox" name="SelectedPermissionLevel" value="@item.Value" class="checkbox-inline" checked="@item.Selected" />
                                @Html.Label(item.Text, new { @class = "", @title = item.Text, @style = "font-weight:normal" })
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group checkboxDiv">
                <label class="col-md-2 control-label" style="font-weight:bold">
                    Select Talk Group
                </label>
                <div class="col-md-10">
                    <div class="row">
                        @foreach (SelectListItem item in ViewBag.TalkGroups)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" name="SelectedTalkGroup" value="@item.Value" class="checkbox-inline" checked="@item.Selected"  />
                                <label title="@item.Text">@item.Text</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        @*<div class="form-group">
            <label class="col-md-2 control-label">
                Radio ID
            </label>
            <div class="col-md-3" >
                <input type="text" id="radioId" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="button" title="Add" value="Add" onclick="AddRadioId();" class="btn btn-default" />
            </div>
        </div>*@

        @*<div class="form-group">
            <label class="col-md-2 control-label">

            </label>
            <div class="col-md-10" id="radioIddiv">
                @if (ViewBag.Radios!=null)
                { 
                    foreach (var item in ViewBag.Radios)
                    {
                        <span type="button" style="padding:5px;background-color:gray;color:white;" id="@item"><span>@item</span> <a href="javascript:void(0)" style="color:white;margin-top:-3px;" title="Remove" onclick="removeSelectedItem(@item)">X</a></span>
                        <input type="hidden" name="SelectedRadio" id="hdnRadio_@item" value="@item" />
                    }
                }*@
                @*<span style="padding:5px;background-color:gray;color:white;"><span>TITUS &amp; CO</span><a href="javascript:void(0)" style="color:white;margin-top:-3px;" onclick="removeSelectedItem()">X</a></span>*@
            @*</div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        $("#radioId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Users/SearchRadio",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Description, value: item.ID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
        FillPermissions();
        FillTalkGroups();

    })

    function AddRadioId() {
        var radioId = $("#radioId").val();

        if (!$("#" + radioId).length) {
            $("#radioIddiv").append(' <span type="button" style="padding:5px;background-color:gray;color:white;" id="' + radioId + '"><span>' + radioId + '</span> <a href="javascript:void(0)" style="color:white;margin-top:-3px;" Title="Remove" onclick="removeSelectedItem(' + radioId + ')">X</a></span>');
            $("#radioIddiv").append(' <input type="hidden" name="SelectedRadio"  id="hdn_Radio' + radioId + '" value="' + radioId + '" />');
            //$("#radioIddiv").append(' <span style="padding:5px;background-color:gray;color:white; padding: 5px 20px;position: relative;" id="' + radioId + '"><span>' + radioId + '</span> <a href="javascript:void(0)" style="color:white;margin-top:-3px; margin-top: -7px;position: absolute; right: 3px;" onclick="removeSelectedItem(' + radioId + ')"><img src="/Content/Icons/close_red.png" style="width:25px;"></a></span>');
        }
        $("#radioId").val("");
    }

    function removeSelectedItem(id) {
        $("#" + id).remove();
        $("#hdnRadio_" + id).remove();

    }

    function FillAdmins() {
        var customerId = $('#SelectedCustomerId').val();
        $.ajax({
            url: '@Url.Content("~/Users/FillAdmin")',
            type: "GET",
            dataType: "JSON",
            data: { customerId: customerId },
            success: function (admins) {
                $("#SelectedAdminId").html(""); // clear before appending new list
                $("#SelectedAdminId").append(
                       $('<option></option>').val(0).html("Select Admin"));
                $.each(admins, function (i, admin) {
                    $("#SelectedAdminId").append(
                        $('<option></option>').val(admin.UserId).html(admin.UserName));
                });
            },
            error: function (msg) {
                console.log(msg);
            }

        });
    }
    function FillTalkGroups() {

        var customerId = $('#SelectedCustomerId').val();
        $.ajax({
            url: '@Url.Content("~/Users/FillTalkGroup")',
            type: "GET",
            dataType: "JSON",
            data: { id: 0, customerId: customerId },
            success: function (talkgroups) {
                //$("#talkGrp").html(""); // clear before appending new list
                $('#talkGrp').empty();

                @*<input type="checkbox" name="SelectedTalkGroup" value="@item.Value" class="checkbox-inline" checked="@item.Selected"  />
                               @Html.Label(item.Text, new { @class = "", @title = item.Text })*@
                var content='';
                $.each(talkgroups, function (i, talkgroup) {
                    content += '<div class="col-sm-6">';
                    content += '<label>';
                    content += '<input type="checkbox" name="SelectedTalkGroup" class="checkbox-inline"  value="' + talkgroup.Value + '" checked="' + talkgroup.Selected + '" />'
                    content +=  talkgroup.Text + '</label>'
                    content += '</div>'
                });
                //content += '<input type="checkbox" name="SelectedTalkGroup" class="checkbox-inline"  id="2" checked="true" value="prasun" />'
                $('#talkGrp').html(content);
                //console.log(content);
                FillPermissions();
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    function FillPermissions() {
       
        var customerId = $('#SelectedCustomerId').val();
        $.ajax({
            url: '@Url.Content("~/Users/FillPermissions")',
            type: "GET",
            dataType: "JSON",
            data: { customerId: customerId },
            success: function (permissions) {
                //$("#talkGrp").html(""); // clear before appending new list
                $('#permissions').empty();

                var content='';
                $.each(permissions, function (i, permiss) {
                    content += '<div class="col-sm-6">';
                    content += '<label>';
                    content += '<input type="checkbox" name="SelectedPermissionLevel" class="checkbox-inline"  value="' + permiss.Value + '" checked="' + permiss.Selected + '" />'
                    content += permiss.Text + '</label>'
                    content += '</div>'
                });
                
                $('#permissions').html(content);
                console.log(content);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }
</script>
    }


