﻿@model IEnumerable<PoliceMonitor.Models.UserViewModels>

@{
    ViewBag.Title = "Manage Users";
    ViewBag.Active = "Users";
}

<h2>Manage Users</h2>

<p>
    @Html.ActionLink("Create User", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            @if (User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
            {
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.UserName) / @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)<br />@Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFirstName) @Html.DisplayFor(modelItem => item.UserLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)<br />
                    @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State), @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveDisplay)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId, custId = item.Customer.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId, custId = item.Customer.CustomerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId, custId = item.Customer.CustomerId })
                </td>
            </tr>
        }

    </table>
</div>