﻿body {
}
 .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute !important;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
        /* width:360px!important;*/
    }
        .tree ul{
            padding-left: 10px;
        }
.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    overflow: hidden;
}
  .panel-primary > .panel-heading{
  color: black;
        }

.tree li a{
    display: inline-block;

    text-decoration: none;
    color: #666;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight :600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 2px 0;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{
      height: 30px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {

    color: #000;
}
      .TalkGroupName  a {    color: #000;}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #dd4814;
}
.tree-checkbox{
    margin :4px !important;
}


*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.tree {
    padding-left: 0px;
    position: relative;
}

.fixed-panel{position: fixed; width:100%; left: 0px; top:51px; border-bottom:3px solid #fff; border-top:3px solid #fff; z-index: 1}
.panel{margin-top: 16px;}
.panel-primary .panel-heading{
        height: 150px;
    background : lightgrey;
}
.panel-body{
    padding:0px!important;
}
        .lock {
            background: url("@Url.Content("~/images/lock.png")");
background-size:cover;
         }
        .unlock {
            background: url("@Url.Content("~/images/unlock.png")");
background-size:cover;
         }
         .lockicon {
                cursor: pointer;
            }
        .TdTraffic .text-info{
        color: #e2e217 !important;
        }
        
        .TdTraffic .text-primary{
        color: green;
        }
       .DivRadio .text-primary{
        color: green;
        }
.playback img{margin:5px;}
        .panel-body .row{margin:10px 0px!important;}
.savedialog td
{
    padding: 10px!important;
}
        
#mainDiv p{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
        .favourite{display:none;}
.ADashTable{ width:100%; clear:both;    border-top: 1px solid #ddd;  display: table; padding:0px !important; margin:0px;}

.stripULLITable:nth-child(odd) { background-color: #f9f9f9;}
.headerbg{background-color: #f9f9f9;}
.fullWidth{width:95% !important;}
.AlarmTH {    padding-left: 0px !important }
.ADashTable li{  float:left; padding: 5px;     display: table-cell; height:35px; text-align:left}
.ADashTable li a,u{text-decoration: none !important; color:#428bca !important;    font-weight: normal; white-space:nowrap;}
.ADashTable li a label{color:#666}
.ADashTable .text-danger { color: #d9534f;}
.ADashTable .TalkGroupAlarm{width:5%;border-right: 1px solid #ccc; text-align: center; }
.ADashTable .TalkGroupName{width:30%; color:#1461dd ;}
.ADashTable .TalkGroupName.headColor{color:#666 !important;}
.ADashTable .DivRadio{width:35%; padding: 9px 5px;    text-align: left;    border-left: 1px solid #ccc;    position: relative;}
.ADashTable .DivRadio span{position: absolute;    left: 30px;}
.ADashTable .playIcon{width:15%;font-size:25px;padding: 9px 5px;    text-align: center;    border-left: 1px solid #ccc;}
.ADashTable .playIconText{width:15%; text-align: center;    border-left: 1px solid #ccc;}
.ADashTable .TdTraffic{width:15%; padding: 7px 25px;    text-align: center;    border-left: 1px solid #ccc; display: inline-flex;}
.ADashTable .TdTraffic a{color: #428bca !important; padding-left:15px;padding-top: 0px;margin: 0px;margin-top: -2px;}
.ADashTable .TdTraffic .text-primary{ color: green; }
.ADashTable .TdTraffic .text-info{ color:#e2e217 !important }
.ADashTable .TdTraffic1{width:10%; padding: 9px 5px;    text-align: center;    border-left: 1px solid #ccc;}
.labelControl {white-space:normal; word-break:break-word; font-weight:normal;}
.modalPaddingControl{padding:5px !important;}
.modalPaddingControl .container-fluid{padding:0px !important;}
.modalPaddingControl .container-fluid .row{padding:0px !important;}
.modalPaddingControl .container-fluid .row .innerLable{padding:0px !important; margin-bottom: 10px;}
.labelControlInner {   margin-top:8px;font-weight:normal;}
.modalPaddingControl{padding:5px !important;}
.leftPadding { padding-left:0px !important;}
.rightPadding { padding-right:0px !important; margin-bottom: 10px;}

@media screen and (max-width:768px){
    .AlarmTH {display:none;    }
    .ADashTable .TalkGroupAlarm {width: 10%;}
    .ADashTable .TalkGroupName{width:90%; }
    .ADashTable .DivRadio {width:100% ;    border-top: 1px solid #ddd; }
    .ADashTable .playIconText {width: 50%;     border-top: 1px solid #ddd;}
    .ADashTable .TdTraffic {width: 50%;     border-top: 1px solid #ddd;}
    .fullWidth{max-width:90% !important; border-bottom: 1px solid #000;}
    .TdTraffic_bb{ border-bottom: 1px solid #000;}
    .ADashTable .TdTraffic1 {width: 50%;     border-top: 1px solid #ddd;}
    .ADashTable {border-bottom:1px solid #ddd;    }
}
