﻿    .checkboxDiv { position:relative;}
    .checkboxDiv input{position: absolute;left:15px;top: 9px;}
    .checkboxDiv label {display: block;margin-bottom: 5px;  padding-left: 20px;font-weight: normal;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; margin-top: 5px;}
    input, select, textarea {max-width:100%;}

   