input.datepicker, .timepicker, #customers{padding: 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; direction: ltr; display: block; width: 100%;}
.filtersForm{margin-bottom: 30px;}
.filtersForm label{display: block; margin-top: 5px;}
.table-striped tbody tr:nth-child(odd){background-color: #f9f9f9;}
.table-striped>thead:nth-child(1){background-color: #eee;}
.table-striped>thead{font-weight: bold; cursor: pointer;}

.reports a{display: block; color: #000;}
.panel-heading{font-weight: bold;}
.reports .panel-collapse{clear: both;}
.reports .col-xs-12{border:none !important}
.reports [class^="col-xs-"], .reports  [class*="col-xs-"]{padding:5px 15px; border-bottom: 1px solid #ccc; white-space: nowrap; overflow: hidden;     text-overflow: ellipsis;}
.reports .panel-heading [class^="col-xs-"], .reports  .panel-heading [class*="col-xs-"]{border-bottom:none}
.reports [class^="col-xs-"] a, .reports  [class*="col-xs-"] a{color: #4286f4; overflow: hidden;}
.reports [class^="col-xs-"] a span, .reports  [class*="col-xs-"] a span{color:#000; white-space: pre-wrap;}
.reports table{margin-bottom: 0px;}

.filtersForm{position:relative;}
.panel-group.reports{min-height:400px;}
#loading span{float:right; color:#fff; font-size:13px; font-weight:bold; cursor:pointer; margin: 30px 0 0 0;
    background: #428bca;
    padding: 8px 10px;
    border-radius: 4px;}

@media screen and (max-width:767px){
#loading{background-position:center;}
#loading span{float:none; position:absolute; text-align:center; display:block; width:100px; margin:25px 0 0 -50px; top:50%; left:50%; position:absolute;}
.panel-group.reports{min-height:inherit;}
.reports, .filtersForm{margin:0 -15px 20px;}
.reports [class^="col-xs-"], .reports [class*="col-xs-"] {border-bottom:none;}
.reports .panel{overflow:hidden;}
.reports .panel .row{border-bottom:1px solid #ccc;}
.reports .panel-heading .row{border-bottom:none;}
.panel-heading.mobileHide{display: none;}
.right{text-align: right;}
}

@media screen and (max-width:579px){
.reportTable, .reportTable thead, .reportTable tbody, .reportTable tr, .reportTable td{display: block; width: 100%; border: none !important; float: left;}
.table-striped>thead:nth-child(1){display: none;}	
.reportTable .collapse{display: none;}
.reportTable thead{border-bottom: 1px solid #ccc !important; clear: both; display: block; float: left; width: 100%; padding: 10px;}
.reportTable thead td:nth-child(1), .reportTable tbody td:nth-child(1){width: 100%;}
.reportTable thead td:nth-child(2),.reportTable thead td:nth-child(3),.reportTable thead td:nth-child(4),
.reportTable tbody td:nth-child(2),.reportTable tbody td:nth-child(3),.reportTable tbody td:nth-child(4)
{width:33.333%; float: left;}
.reportTable thead td:nth-child(4), .reportTable tbody td:nth-child(4){text-align: right;}
.reportTable tbody.collapse.in{visibility: visible; display: block; height: auto !important; }
.reportTable tbody{border-bottom: 1px solid #ccc !important;}
}



@media screen and (max-width:379px){
.reportTable thead td:nth-child(1), .reportTable tbody td:nth-child(1), .reportTable thead td:nth-child(2),.reportTable thead td:nth-child(3),.reportTable thead td:nth-child(4), .reportTable tbody td:nth-child(2),.reportTable tbody td:nth-child(3),.reportTable tbody td:nth-child(4){width:100%; text-align: left;}
}