﻿
body {
    padding-top: 50px;
    padding-bottom: 0px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
position:relative;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.selectActionPOP .row{ margin-bottom:10px !important;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-primary{overflow:visible;}
.ui-dialog{max-width:100%;}
.ui-dialog .ui-dialog-content{padding:0px;}
.downloadtop h4{padding:0px;}
#myTestID2 tr.active{background:rgba(21,194,110,.25) !important;}
#myTestID2 tr.active td{background:none;}
#GripPop tr.active{background:rgba(21,194,110,.25) !important;}
#GripPop tr.active td{background:none;}
#myTestID tr.active{background:rgba(21,194,110,.25) !important;}
#myTestID tr.active td{background:none;}

.mobile{display:none;}
.desktop{display:inline;}
.scroller{overflow:auto;}

.scrollerTable{max-height:500px; margin-bottom:20px;}

.filterTable{margin:-5px -5px 0;}

.mainBtns .toggle{float:left; width:100% !important; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.btn2{width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.btn3{width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.btn4{width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.downloadtop .row .row{margin:0 -5px;}
.downloadtop .row .row .col-md-3{padding:0 5px; height:34px;}
.mainBtns .dropdown {width: 100%;list-style: none;margin: 0px;padding: 0px;}
#myTestID, #myTestID2,#GripPop{min-height: 200px;}
#myTestID label,#myTestID2 label,#GripPop label{white-space:pre-wrap; overflow:visible;}
.transmissionBtn{display:none;}
.transmissionBtnDesktop{width:250px; margin: 0;display:block;}
#GripPop{max-height: 200px !important; overflow:scroll;}

@media screen and (max-width:1199px){
.navbar-toggle{display: block; border-color:#fff !important; color:#fff !important;}
.navbar-collapse{visibility: hidden !important;position: fixed; left:0px; top:50px; overflow: hidden; width:100%;
    background: #4286f4; border-top: 1px solid #000; height: 0px; transition:.3s ease-in-out;}
.navbar-right{margin-right: 0px; float: none !important}
.navbar-nav > li{float: none;}
.navbar-nav{float: none;}
.navbar-collapse.in,.navbar-collapse.collapsing{visibility: visible !important; height:auto; max-height: inherit;  bottom:0px;}
.navbar-nav > li > a{display: block; float: none;}
.navbar-inverse .navbar-brand{text-align: center;}
.navbar .container{width:auto;}
.collapse ul{display:none!important;height:0px!important;}
.transmissionBtn{display:none;}
.transmissionBtnDesktop{width:250px; margin: 0 auto;display:block;}
}


@media screen and (max-width:992px){
#frm-author table{display: block; float: left; width:100%;}
#frm-author tr{padding: 10px;}
#frm-author tr, #frm-author td, #frm-author tbody{display: block; height: auto !important; float: left; width:100%;} 
#frm-author td:first-child{text-align: center;}
#frm-author td:nth-child(2),#frm-author td:nth-child(3),#frm-author td:nth-child(4),#frm-author td:nth-child(5){width:50%; float: left;}
#frm-author td:nth-child(6){float: left; width:100%;}
#frm-author td button{display: block; width:100%;}
.collapse ul{display:none!important;height:0px!important;}
.btn3{margin:10px 0 0;}
.btn4{margin:10px 0 0;}
.downloadtop h4.titleMain{padding:0 0 10px 0 !important;}
.downloadtop .row .row .col-md-3:nth-child(3),.downloadtop .row .row .col-md-3:nth-child(4){height:44px;}
.transmissionBtn{display:none;}
.transmissionBtnDesktop{width:250px; margin: 0 auto;display:block;}
}

@media screen and (max-width:990px){
#dateTimeRange .col-sm-2.col-xs-6{height:65px;}
#myTestID,#myTestID2,#GripPop{max-height:inherit; height:auto !important;}
.downloadtop{margin-top:0px;}
.transmissionBtn{width:250px; margin: 0 auto;display:block;}
.transmissionBtnDesktop{display:none;}
}


@media screen and (max-width:667px){
#myTestID2 table, #myTestID2 tr, #myTestID2 tbody{display:block; width:100%;}
#myTestID2 tr{border-bottom:1px solid #ccc; float:left; clear:both;}
#myTestID2 tr.active{background:rgba(21,194,110,.25) !important;}
#myTestID2 tr.active td{background:none;}
#myTestID2 table tr:first-child{display:none;}
#myTestID2 td{display:block; float:left; width:50%; border:none}
#myTestID2 td:nth-child(1){width:10%;}
#myTestID2 td:nth-child(2){width:90%;}
#myTestID2 td:nth-child(3){width:50%;}
#myTestID2 td:nth-child(4){width:25%;}
#myTestID2 td:nth-child(5){width:25%; text-align:right !important;}
#myTestID2 td:nth-child(6){background:#f9f9f9; width:50% !important}
#myTestID2 td:nth-child(7){background:#f9f9f9; width:50% !important;  text-align:right; height:30px;}

#GripPop table, #GripPop tr, #GripPop tbody{display:block; width:100%;}
#GripPop tr{border-bottom:1px solid #ccc; float:left; clear:both;}
#GripPop tr.active{background:rgba(21,194,110,.25) !important;}
#GripPop tr.active td{background:none;}
#GripPop table tr:first-child{display:none;}
#GripPop td{display:block; float:left; width:50%; border:none}
#GripPop td:nth-child(1){width:10%;}
#GripPop td:nth-child(2){width:90%;}
#GripPop td:nth-child(3){width:50%;}
#GripPop td:nth-child(4){width:25%;}
#GripPop td:nth-child(5){width:25%; text-align:right !important;}
#GripPop td:nth-child(6){background:#f9f9f9; width:50% !important}
#GripPop td:nth-child(7){background:#f9f9f9; width:50% !important;  text-align:right; height:30px;}











.table-striped>tbody>tr:nth-child(odd){background:#fff;}
.scrollerTable {overflow: auto; margin:0 0 30px; position: fixed;left: 15px;right: 15px; width: inherit;top: 265px;
    bottom: 0;}
.mCSB_scrollTools{opacity:0 !important;}
#mCSB_1_container{margin-right:0px;}
.transmissionBtn{width:100%; position:fixed; bottom:0px; z-index:9; left:0px; padding:15px; background:#fff;}
.mobile{display:inline;}
.desktop{display:none;}
.scroller{max-height:inherit;}

.downloadtop .btn{height:34px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

#myTestID table, #myTestID tr, #myTestID tbody{display:block; width:100%;}
#myTestID tr{border-bottom:1px solid #ccc; float:left; clear:both;}
#myTestID tr.active{background:rgba(21,194,110,.25) !important;}
#myTestID tr.active td{background:none;}
#myTestID table tr:first-child{display:none;}
#myTestID td{display:inline-block; float:left; border:none; height:35px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
#myTestID td:nth-child(1){width:10%;}
#myTestID td:nth-child(2){width:90%;}
#myTestID td:nth-child(3){width:60%; padding-left:11%;}
#myTestID td:nth-child(4){width:25%;}
#myTestID td:nth-child(5){width:15%;}
#myTestID td:nth-child(5) input{position:relative; top:-2px;}
#myTestID td:nth-child(6){background:#f9f9f9; width:50% !important; padding-left:11%}
#myTestID td:nth-child(7){background:#f9f9f9; width:30% !important;  text-align:right}
#myTestID td:nth-child(8){background:#f9f9f9; width:20% !important;  text-align:right}
#myTestID .dropdown-menu,#myTestID2 .dropdown-menu{left:inherit; right:0px;}

.transmissionBtn{width:250px; margin: 0 auto;display:block;}
.transmissionBtnDesktop{display:none;}
}


@media screen and (max-width:379px){
#frm-author td:nth-child(2),#frm-author td:nth-child(3),#frm-author td:nth-child(4),#frm-author td:nth-child(5),#frm-author td:nth-child(6){width:100%;}
.collapse ul{display:none!important;height:0px!important;}
.transmissionBtn{width:250px; margin: 0 auto;display:block;}
.transmissionBtnDesktop{display:none;}
}

.playbtn{width: 50px;text-align:center;height:24px;width: 24px;border:none;background-color:transparent;color: transparent;}

@media screen and (max-width:990px){
.liveListen{border:none; margin-top:0px !important; margin-bottom:0px !important; box-shadow:none;}
.liveListen #frm-author{border: 1px solid #428bca; border-radius: 4px; position: fixed; left: 15px; right: 15px; top: 210px; bottom:32px; overflow: auto;}
.liveListen hr{display:none;}
footer{padding: 6px 15px; background:#fff; position: fixed; left:0px; right:0px; text-align: center; bottom:0px;}
footer p{margin:0px;}
.transmissionBtn{width:100%; margin: 0 auto;display:block;}
.transmissionBtnDesktop{display:none;}
}

.liveListen #frm-author{max-height:680px; overflow-y:auto;}
.tree td{padding:2px 5px; vertical-align:middle;}
.tree td label{white-space:inherit;}
body{overflow-y:auto;}
.scrollerTable {position: static;max-height: inherit;}

.searchIcon{display:none;}
@media screen and (max-width:990px){
#searchBar{position:fixed; left:0px; right:0px; top:57px; height:auto; padding:10px; background:#fff; display:none; z-index:99; box-shadow:0 0 4px rgba(0,0,0,0.2);}
#searchBar.active{display:block;}
.searchIcon{position:fixed; z-index: 9999; right:80px; top:7px; display:block}
.searchIcon button{background: none; border: 1px solid #fff; border-radius: 4px; padding: 12px 10px; color: #fff; cursor:pointer;}
}
.checkboxDiv {position: relative;}
.checkboxDiv input {position: absolute;left: 15px;top: 9px;}
.checkboxDiv label {display: block;margin-bottom: 5px;padding-left: 20px;font-weight: normal;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 5px;}
.playbackCheckboxDiv label {margin-bottom: -5px;}

.downloadtop {background: #e0e0e0;padding: 10px;margin: 10px 0 0; display:none;}
.downloadtop h4 {margin: 0px;padding: 8px 0 0 0;}
.highlight td {background: yellow !important;}
.filters td{padding:0 5px;}
.play {background-image: url("images/playbtn1.png");background-position:center;background-repeat:no-repeat;}
.stop {background-image: url("images/stop1.png");background-position:center;background-repeat:no-repeat;}
#loading {position: absolute; top:0px; width: 100%; height: 100%; background:  url("images/Loading_icon.gif");background-position:center;background-repeat:no-repeat;opacity: 0.5;}
.info td {background: #bfbfbf !important;}
.navbar-inverse .navbar-nav > li > a {color:#fff;padding: 15px 6px; font-size:12px}
.actiondialog li {height: 30px}

.custom-combobox {position: relative;display: inline-block;}
.custom-combobox-toggle {position: absolute !important;top: 0;bottom: 0;margin-left: -1px;padding: 0;/* support: IE7 */*height: 1.7em;*top: 0.1em;}
.custom-combobox-input {margin: 0;padding: 0.3em;}
.Talkgroups_select_all {display:block; }
.Talkgroups_select_all b {margin-right: 20px;}       
.Talkgroups_check {}          
.Talkgroups_check ul li a label {margin-right: 20px;}
.tree ul {padding-left: 10px;}
.tree li {margin: 0px 0;list-style-type: none;position: relative;}
.panel-primary > .panel-heading{color: black;}
.tree li a{display: inline-block;text-decoration: none;color: #666;font-family: 'Open Sans',sans-serif;font-size: 14px;font-weight :600;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;margin: 2px 0;}
.tree li ul li a{color:blue!important;}
.tree > ul > li::before, .tree > ul > li::after{border: 0;}
.tree li:last-child::before{height: 30px;}
.tree li a:hover, .tree li a:hover+ul li a {color: #000;}
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{border-color:  #dd4814;}
.tree-checkbox{margin :4px !important;}
*:before, *:after {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}
.tree {overflow: auto;padding-left: 0px;position: relative;}
.panel-primary > .panel-heading{background : lightgrey;}
.panel-body{padding:5px!important;}
.savedialog td{padding: 10px!important;}
.navbar-selected {background: #517dc5;}
.navbar-inverse .navbar-nav > li > a:hover {background-color:#66a3ff;}









.dhtmlwindow{
position: absolute;
border: 2px solid black;
border-radius: 8px;
box-shadow: 10px 10px 5px #888888;
visibility: hidden;
background-color: white;
}

.drag-handle{ /*CSS for Drag Handle*/
padding: 1px;
text-indent: 3px;
font: bold 14px Arial;
background-color: #444444;
color: white;
cursor: move;
overflow: hidden;
width: auto;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 1px solid brown;
background-color: white;
color: black;
height: 150px;
padding: 2px;
overflow: auto;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 1px solid gray;
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.drop {

     background-color: #d9534f;
     border-radius: 4px; 
     text-align: center; 
     padding: 6px 12px; 
     height:34px;      
     color: #fff;
     border-color: #ac2925;
}
.drop:hover{
    background-color:#ac2925;
}

.selectActionPOP select
{
    width: 100%;
    height: 30px;
}
#searchBar {
    margin-top: 60px;
}
@media screen and (max-width:992px) {
    .drop{margin-top:10px;}
}
@media screen and (max-width:990px) {
#searchBar {    margin-top:0px;}
.autoplayPopBtn, .uncheckAllBtn, .checkAllBtn { margin-bottom:10px;}
#myTestID.table-responsive.tableTopMargin {margin-top: 60px !important;    }
.navbar-inverse .navbar-collapse { margin-top:0px !important; }
}


/*kamal css*/

.customeDate { position:relative;}
.customeDate input { padding-right:15px;  z-index: 9; }
.customeDate .glyphicon{position:absolute; top:10px; right:22px; z-index: 1; color: #666;}
.ui-dialog .ui-dialog-titlebar-close {}
.ui-dialog .ui-dialog-titlebar-close { position:absolute;right:6px;top:16px;    background-image: url("images/close.gif");    background-position: center;    background-repeat: no-repeat;    height:15px;    width:14px;}
.modal-open .modal {    z-index: 1;    margin-top: 60px;}
#DivFB { max-height:350px; overflow:auto;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;    line-height: 1.42857143;    vertical-align: top;    border-top: 1px solid #ddd;    vertical-align: middle !important;}
.table > thead > tr:last-child > td { border-bottom: 1px solid #ddd;}
.imageUploadModel {border-top: 1px solid #ddd;    padding-top: 15px;}
.image-holder{max-height: 200px;    width: 200px;    padding-top: 15px;}
.thumb-image{max-height: 200px;    width: 200px;    padding-top: 0px;}
#PostFB::-webkit-scrollbar { 
    display: none; 
}

.arrowBtn { cursor:pointer;}
.arrowBtn:hover { color:#4286f4}
.tableMo{}
.tableMo tbody tr td span{ display:none;}

.labelControl {white-space:normal; word-break:break-word;}
.labelControlInner {   margin-top:8px;margin-left: 8px;}
.leftPadding { padding-left:0px !important;}
.rightPadding { padding-right:0px !important;}
@media screen and (max-width:990px) {
.AlarmTH {display:none;    }
.tableMo thead { display:none;}
.tableMo tbody tr {border-bottom: 1px solid #ccc;}
.tableMo tbody tr td{ display:block; width:100%;min-height: 38px;border: 0px;text-overflow: ellipsis;}
.tableMo tbody tr td span{ width:40%; float:left; text-align:left;display: block;}

}
a.active { color: #666666 }
tr.False { color: red }