@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,300,400italic);  /*font-family: 'Roboto', sans-serif;*/
*{outline:none;list-style:none; box-sizing:border-box; -moz-box-sizing:border-box;}
body{-webkit-font-smoothing:antialiased; overflow-x:hidden; background:#fff; transition:none; -moz-transition:none; -webkit-transition:none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;/*font-family: 'Roboto', sans-serif;*/}
iframe{overflow-x:hidden!important;} 
@media (min-width:1025px) {a[href^="tel"]{pointer-events: none}}
*:focus,*:active,.ui-state-focus{outline:none;}
body,label,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;color:#454545;}
fieldset,img{border:0;}
img{height:auto;max-width:100%;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
strong{font-weight:700;}
caption,th{text-align:left;}
body.fixed-left{overflow:auto;  background: #ececec;}
body.fixed-left #wrapper{height:auto;}
/************************************************************************************************/ 
.table-responsive .container{min-width:800px; border: none; box-shadow: none}
.table-responsive {border: none; box-shadow: none}
h1{margin:30px 0; font-weight:700; color:#000; font-size:24px; text-align: left;}
h2{font-weight:700; color:#000; font-size:24px; margin-top:8px;}
input[type=text]{width:100%; border:1px solid #ccc; padding:6px 10px; border-radius:4px;}
input[type=button]{float:right;}
.inner{border:1px solid #ccc; float:left; width:100%; border-radius:4px; margin-top:30px; height:350px; overflow-y: auto;}
.inner ul{float:left; width:100%;}
.inner ul li{float:left; width:100%; cursor:pointer; padding:5px 15px; border-bottom:1px dotted #ccc;}
.inner ul li label{font-weight: normal; display: block; cursor: pointer;}
.inner ul li input[type=checkbox]{float: left; margin-right: 10px;}
.inner ul li:last-child{border:none;}
.inner ul li:hover{background:#f9f9f9;}
.inner ul li.highlighted{background:rgba(1,101,255,.2);}
.cell{vertical-align:middle; padding-top:220px;}
.cell .col-xs-12:first-child{margin-bottom:10px;}
select{width: 100%; padding:6px;border:1px solid #ccc;}
p{font-weight: bold; margin-bottom: 10px;}