﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AccessDenied</title>
</head>
<body>
    <div>
        UnauthorizedAccess :
        Sorry, but you don't have access to that page.
    </div>
</body>
</html>
