﻿@using PoliceMonitor.Security.Base.Model;
@model LogOnModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-6">
        <table style="margin-top: 50px">
            <tr>
                <td>
                    <img src="@Url.Content("~/Images/new_tyler_logo_.png")" width="250" style="padding: 60px 0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <font size="4">Welcome to Radio1033, your browser-based two-way radio live-stream and recording system.</font><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <font size="4">To learn more, please give us a call or email sales.</font>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <section id="loginForm">
            @*@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
@using (Html.BeginForm("Login", "Account", new { returnUrl = @Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                @Html.AntiForgeryToken()
                <h2>@ViewBag.Title</h2>
                <hr /><br/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label", Style="width: 250px" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", Style = "width: 250px" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-6">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                @*<p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>
     Enable this once you have account confirmation enabled for password reset functionality*@
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Contact</h2>
        <br />
        <div class="row">
            <div class="col-md-3">Mailing Address:</div>
            <div class="col-md-5">3500 Vicksburg Lane North – Suite #116 Plymouth, Minnesota 55447</div>
        </div>
        <div class="row">
            <div class="col-md-3">Phone:</div>
            <div class="col-md-5"><a href="tel:+1-763-634-1033">763-634-1033</a></div>
        </div>
        <div class="row">
            <div class="col-md-3">Email:</div>
            <div class="col-md-5"><a href="mailto:sales@radio1033.com">sales@radio1033.com</a><br/><a href="mailto:billing@radio1033.com">billing@radio1033.com</a></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}