﻿@model PoliceMonitor.Security.Base.Model.SettingsModel
@{
    ViewBag.Title = "Settings";
    ViewBag.Active = "Settings";
}

<h2>@ViewBag.Title</h2>
        
@using (Html.BeginForm("Settings", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    if(ViewBag.Success != null)
    {
        <div style="color:green">
            <p>@ViewBag.Success</p>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.AutoPlay, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @if (Model.AutoPlay == true)
            {
                <input type="checkbox" id="AutoPlay" name="AutoPlay" data-toggle="toggle" data-on="Autoplay On" data-off="Autoplay Off" data-onstyle="success" data-offstyle="danger" checked value="true">
            }
            else
            {
                <input type="checkbox" id="AutoPlay" name="AutoPlay" data-toggle="toggle" data-on="Autoplay On" data-off="Autoplay Off" data-onstyle="success" data-offstyle="danger" value="true">
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HoursAgo, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.HoursAgo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HoursDuration, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.HoursDuration, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MinTransmissionTime, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(m => m.MinTransmissionTime, new { htmlAttributes = new { @class = "form-control" } }) (in seconds)
        </div>
    </div>
    
    
    
    
     <div class="form-group ">
        @Html.LabelFor(m => m.YellowMin, new { @class = "col-md-3 control-label labelControl" })
         <div class="col-md-1 rightPadding">
             @Html.EditorFor(m => m.YellowMin, new { htmlAttributes = new { @class = "form-control YellowMin", @id = "YellowMin", min = "0" } })
         </div>
         <div class="col-md-1 leftPadding"><label class="labelControlInner"> Min</label></div>
         <div class="col-md-1 rightPadding">
             @Html.EditorFor(m => m.YellowMax, new { htmlAttributes = new { @class = "form-control YellowMax", @id = "YellowMax", min = "0" } })
         </div>
         <div class="col-md-1 leftPadding"><label class="labelControlInner"> Max</label></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TimeDuration, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @*@Html.EditorFor(m => m.TimeDuration, new { htmlAttributes = new { @class = "form-control", @id = "TimeDuration", min = "1" } }) (in Minutes)*@
            <select id="TimeDuration" class="form-control" onchange="jsFunction(this.value);" style=" height:35px;">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
                <option value="60">60</option>
            </select>
            (in Minutes)
        </div>
    </div>
    
    
    
    
    
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    
    
   
    
    
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    
    @*@{
                var _user = User as PoliceMonitor.Security.Principal.CustomPrincipal;
    }*@
    
            //if (_user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.ACTIVITYMONITOR) && !User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
            { 
            @*<div class="form-group">
                @Html.LabelFor(m => m.Green, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.EditorFor(m => m.Green, new { htmlAttributes = new { @class = "form-control", @id = "Green",min="0",max="4" } })
                </div>
            </div>*@
            }
            <input type="hidden" name="TimeDurationHidden" id="TimeDurationHidden" value="">
    <div class="form-group">
        <div class="col-md-offset-3 col-md-4">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
<link href="~/Content/Site.css" rel="stylesheet" />
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var val = '@ViewBag.TimeDuration';
        $("#TimeDuration").val(val);
    })
    function jsFunction(e){
       
        $("#TimeDurationHidden").val(e);
    }
    </script>
}