﻿@model PoliceMonitor.Models.NotificationViewModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer Notification Setting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedCustomerId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SelectedCustomerId, new SelectList(Model.CustomerList, "CustomerId", "CustomerName", Model.SelectedCustomerId), "Select Customer", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedCustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedCaseId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SelectedCaseId, new SelectList(Model.CaseList, "Value", "Text", Model.SelectedCaseId), htmlAttributes: new { @class = "form-control", onChange = "SelectChange();" })
                @Html.ValidationMessageFor(model => model.SelectedCaseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="case1">
            <div class="form-group">
                @Html.LabelFor(model => model.NotifiyTransmissionsCount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.NotifiyTransmissionsCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NotifiyTransmissionsCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Interval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Interval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Interval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="case2">
            <div class="form-group">
                @Html.LabelFor(model => model.AfterFirstTransmissionWaitInterval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.AfterFirstTransmissionWaitInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AfterFirstTransmissionWaitInterval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="case3">
            <div class="form-group">
                @Html.LabelFor(model => model.LastNSecTransmissionsCount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.LastNSecTransmissionsCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastNSecTransmissionsCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NSecInterval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.NSecInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NSecInterval, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AfterNSecTransmissionWaitInterval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.AfterNSecTransmissionWaitInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AfterNSecTransmissionWaitInterval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        SelectChange();
    });
    function SelectChange() {

        var selectedCaseId = $("#SelectedCaseId").val();
        $("#case1").hide();
        $("#case2").hide();
        $("#case3").hide();
        if (selectedCaseId == 1) {
            $("#case1").show();
            $("#AfterFirstTransmissionWaitInterval").val(null);
            $("#LastNSecTransmissionsCount").val(null);
            $("#NSecInterval").val(null);
            $("#AfterNSecTransmissionWaitInterval").val(null);
        }
        else if (selectedCaseId == 2) {
            $("#case2").show();
            $("#NotifiyTransmissionsCount").val(null);
            $("#Interval").val(null);
            $("#LastNSecTransmissionsCount").val(null);
            $("#NSecInterval").val(null);
            $("#AfterNSecTransmissionWaitInterval").val(null);
        }
        else if (selectedCaseId == 3) {
            $("#case3").show();
            $("#NotifiyTransmissionsCount").val(null);
            $("#Interval").val(null);
            $("#AfterFirstTransmissionWaitInterval").val(null);
        }
    }

</script>
    }
