﻿@model PoliceMonitor.Models.NotificationViewModelsNew

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer Notification Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="width:300px;">
            @Html.DisplayNameFor(model => model.NotificationName) -
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationName)
        </dd>
        <dt style="width:300px;">
            @Html.DisplayNameFor(model => model.Customer.CustomerName) -
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

        @if (Model.NotifiyTransmissionsCount != null)
        {
            <dt style="width:300px;">
                @Html.DisplayNameFor(model => model.NotifiyTransmissionsCount) -
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NotifiyTransmissionsCount)
            </dd>
        }

        @if (Model.Interval != null)
        {
            <dt style="width:300px;">
                @Html.DisplayNameFor(model => model.Interval) -
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Interval)
            </dd>
        }

        @if (Model.AfterFirstTransmissionWaitInterval != null)
        {
            <dt style="width:300px;">
                @Html.DisplayNameFor(model => model.AfterFirstTransmissionWaitInterval) -
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AfterFirstTransmissionWaitInterval)
            </dd>
        }

        @if (Model.LastNSecTransmissionsCount != null)
        {
            <dt style="width:300px;">
                @Html.DisplayNameFor(model => model.LastNSecTransmissionsCount) -
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastNSecTransmissionsCount)
            </dd>
        }

        @if (Model.NSecInterval != null)
        {
            <dt style="width:300px;">
                @Html.DisplayNameFor(model => model.NSecInterval) -
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NSecInterval)
            </dd>
        }

        @if (Model.AfterNSecTransmissionWaitInterval != null)
        {
            <dt style="width:300px;">
                @Html.DisplayNameFor(model => model.AfterNSecTransmissionWaitInterval) -
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AfterNSecTransmissionWaitInterval)
            </dd>
        }

        <dt style="width:300px;">
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>


   
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexNew")
        </div>
    }
</div>
