﻿@model PoliceMonitor.Models.NotificationViewModelsNew

@{
    ViewBag.Title = "Edit";
}
<style>
    .checkboxDiv {
        position: relative;
    }

        .checkboxDiv input {
            position: absolute;
            left: 15px;
            top: 9px;
        }

        .checkboxDiv label {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            font-weight: normal;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 5px;
        }
</style>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer Notification Setting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerNotificationId)

        <div class="form-group">
            @Html.LabelFor(model => model.NotificationName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NotificationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NotificationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedCaseId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.SelectedCaseId, new SelectList(Model.CaseList, "Value", "Text", Model.SelectedCaseId), htmlAttributes: new { @class = "form-control", onChange = "SelectChange();" })
                @Html.ValidationMessageFor(model => model.SelectedCaseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="case1">
            <div class="form-group">
                @Html.LabelFor(model => model.NotifiyTransmissionsCount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NotifiyTransmissionsCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NotifiyTransmissionsCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Interval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Interval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Interval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="case2">
            <div class="form-group">
                @Html.LabelFor(model => model.AfterFirstTransmissionWaitInterval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AfterFirstTransmissionWaitInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AfterFirstTransmissionWaitInterval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="case3">
            <div class="form-group">
                @Html.LabelFor(model => model.LastNSecTransmissionsCount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.LastNSecTransmissionsCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastNSecTransmissionsCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NSecInterval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NSecInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NSecInterval, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AfterNSecTransmissionWaitInterval, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AfterNSecTransmissionWaitInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AfterNSecTransmissionWaitInterval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" style="font-weight:bold">
                Users
            </label>
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedUserValues, new MultiSelectList(Model.Users, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" style="font-weight:bold">
                User Group
            </label>
            <div class="col-md-4">
                @Html.ListBoxFor(m => m.SelectedGroupValues, new MultiSelectList(Model.GroupList, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group checkboxDiv">
            <label class="col-md-3 control-label" style="font-weight:bold">
                Select Talk Group
            </label>
            <div class="col-md-9">
                <div class="row">
                    @foreach (SelectListItem item in Model.TalkGroupList)
                    {
                        var value = item.Text.Replace(".", "");
                        <div class="col-sm-6">
                            <input type="checkbox" name="SelectedTalkGroup" value="@item.Value" class="checkbox-inline" checked="@item.Selected" />
                            @Html.Label(value, new { @class = "", @title = item.Text })
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">
                Radio ID
            </label>
            <div class="col-md-3">
                <input type="text" id="radioId" class="form-control" />
            </div>
            <div class="col-md-1">
                <input type="button" title="Add" value="Add" onclick="AddRadioId();" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">

            </label>
            <div class="col-md-9" id="radioIddiv">
                @if (ViewBag.Radios != null)
                {
                    foreach (var item in ViewBag.Radios)
                    {
                        <span type="button" style="padding:5px;background-color:gray;color:white;" id="@item"><span>@item</span> <a href="javascript:void(0)" style="color:white;margin-top:-3px;" title="Remove" onclick="removeSelectedItem(@item)">X</a></span>
                        <input type="hidden" name="SelectedRadio" id="hdnRadio_@item" value="@item" />
                    }
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                <div>
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       
        <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexNew")
</div>
@section scripts {

<link rel="stylesheet" href="~/Content/jquery-ui-1.11.4.css" />
<link rel="stylesheet" href="~/Content/multiple-select.css">
<link rel="stylesheet" href="~/Content/developer.css">

<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery.multiple.select.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        $('#SelectedGroupValues').multipleSelect({
            filter: true
        });
        $('#SelectedUserValues').multipleSelect({
            filter: true
        });

        $("#radioId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Users/SearchRadio",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Description, value: item.ID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });


        SelectChange();
    });
    function SelectChange() {
        var selectedCaseId = $("#SelectedCaseId").val();
        $("#case1").hide();
        $("#case2").hide();
        $("#case3").hide();
       
        if(selectedCaseId == 1)
        {
            $("#case1").show();
            $("#AfterFirstTransmissionWaitInterval").val(null);
            $("#LastNSecTransmissionsCount").val(null);
            $("#NSecInterval").val(null);
            $("#AfterNSecTransmissionWaitInterval").val(null);
        }
        else if (selectedCaseId == 2) {
            $("#case2").show();
            $("#NotifiyTransmissionsCount").val(null);
            $("#Interval").val(null);
            $("#LastNSecTransmissionsCount").val(null);
            $("#NSecInterval").val(null);
            $("#AfterNSecTransmissionWaitInterval").val(null);
        }
        else if (selectedCaseId == 3) {
            $("#case3").show();
            $("#NotifiyTransmissionsCount").val(null);
            $("#Interval").val(null);
            $("#AfterFirstTransmissionWaitInterval").val(null);
        }
    }

    function AddRadioId() {
        var radioId = $("#radioId").val();

        if (!$("#" + radioId).length) {
            $("#radioIddiv").append(' <span type="button" style="padding:5px;background-color:gray;color:white;" id="' + radioId + '"><span>' + radioId + '</span> <a href="javascript:void(0)" style="color:white;margin-top:-3px;" Title="Remove" onclick="removeSelectedItem(' + radioId + ')">X</a></span>');
            $("#radioIddiv").append(' <input type="hidden" name="SelectedRadio"  id="hdn_Radio' + radioId + '" value="' + radioId + '" />');
        }
        $("#radioId").val("");
    }

    function removeSelectedItem(id) {
        $("#" + id).remove();
        $("#hdnRadio_" + id).remove();

    }
</script>
}