﻿@model IEnumerable<PoliceMonitor.Entities.CustomerNotificationSettingNew>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "NotificationIndex";
}

<h2>Manage Notification Settings</h2>

<p>
    @Html.ActionLink("Add Setting", "CreateNew")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Transmissions Count
            </th>
            <th>
                Interval
            </th>
            <th>
                First Transmission <br />Wait Interval
            </th>
            <th>
                Last N Sec <br />Transmissions Count
            </th>
            <th>
                N Sec Interval
            </th>
            <th>
                After N Sec Transmission <br /> Wait Interval
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotifiyTransmissionsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfterFirstTransmissionWaitInterval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNSecTransmissionsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSecInterval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfterNSecTransmissionWaitInterval)
        </td>

        <td>
            @Html.ActionLink("Edit", "EditNew", new { id=item.CustomerNotificationId }) |
            @Html.ActionLink("Details", "DetailsNew", new { id=item.CustomerNotificationId }) |
            @Html.ActionLink("Delete", "DeleteNew", new { id=item.CustomerNotificationId })
        </td>
    </tr>
}

    </table>
</div>