﻿@model IEnumerable<PoliceMonitor.Entities.CustomerNotificationSetting>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Notification Settings</h2>

<p>
    @Html.ActionLink("Add Setting", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Transmissions Count
            </th>
            <th>
                Interval
            </th>
            <th>
                First Transmission <br />Wait Interval
            </th>
            <th>
                Last N Sec <br />Transmissions Count
            </th>
            <th>
                N Sec Interval
            </th>
            <th>
                After N Sec Transmission <br /> Wait Interval
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotifiyTransmissionsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfterFirstTransmissionWaitInterval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNSecTransmissionsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSecInterval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AfterNSecTransmissionWaitInterval)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerNotificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerNotificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerNotificationId })
        </td>
    </tr>
}

    </table>
</div>