﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Radio1033</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Images/favicon.png")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.cookie.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    @Scripts.Render("~/Scripts/utils.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    <script>
        $(function () {
            setTimezoneCookie();
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #4286f4; border-color: #4286f4; ">
        <div class="container">
            <div class="pull-left">
                <a href="http://radio1033.com"><img id="img_logo" alt="Logo" src="@Url.Content("~/Images/logo.png")" style="no-repeat center left; display:block; height:50px; width:125px;" /></a>
            </div>
            <div class="pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <img src="~/Images/menuIcon.png" style="max-height: 26px;" />
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            var _user = User as PoliceMonitor.Security.Principal.CustomPrincipal;

                            if (Request.IsAuthenticated)
                            {
                                <li>
                                    @if (ViewBag.Active == "Home")
                                    {
                                        @Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Home", "Index", "Home")
                                    }
                                </li>
                            }

                            if (Request.IsAuthenticated && _user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.PLAYBACK))
                            {
                                <li>
                                    @if (ViewBag.Active == "Playback")
                                    {
                                        @Html.ActionLink("Playback", "Playback", "Home", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Playback", "Playback", "Home")
                                    }
                                </li>
                            }
                            if (Request.IsAuthenticated && User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
                            {
                                <li>
                                    @if (ViewBag.Active == "Customerndex")
                                    {
                                        @Html.ActionLink("Customers", "Index", "Customers", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Customers", "Index", "Customers")
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Active == "CustomerLog")
                                    {
                                        @Html.ActionLink("Customers Log", "CustomerLog", "Customers", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Customers Log", "CustomerLog", "Customers")
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Active == "AdminIndex")
                                    {
                                        @Html.ActionLink("Admin", "AdminIndex", "Users", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Admin", "AdminIndex", "Users")
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Active == "Users")
                                    {
                                        @Html.ActionLink("Users", "Index", "Users", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Users", "Index", "Users")
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Active == "MyRadios")
                                    {
                                        @Html.ActionLink("Add My Radios", "Index", "MyRadios", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Add My Radios", "Index", "MyRadios")
                                    }
                                </li>
                            }

                            if (Request.IsAuthenticated && User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.ADMIN_ROLENAME))
                            {
                                <li>
                                    @if (ViewBag.Active == "Users")
                                    {
                                        @Html.ActionLink("Users", "Index", "Users", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Users", "Index", "Users")
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Active == "AdminIndex")
                                    {
                                        @Html.ActionLink("Admin", "AdminIndex", "Users", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Admin", "AdminIndex", "Users")
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Active == "GroupIndex")
                                    {
                                        @Html.ActionLink("Groups", "Index", "Group", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Groups", "Index", "Group")
                                    }
                                </li>
                            <li>
                                    @if (ViewBag.Active == "CustomerLog")
                                    {
                                        @Html.ActionLink("Customers Log", "CustomerLog", "Customers", new { @class = "navbar-selected" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Customers Log", "CustomerLog", "Customers")
                                    }
                                </li>
                                if (_user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.SEARCHBYRADIO))
                                {
                                    <li>
                                        @if (ViewBag.Active == "MyRadios")
                                        {
                                            @Html.ActionLink("Add My Radios", "Index", "MyRadios", new { @class = "navbar-selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Add My Radios", "Index", "MyRadios")
                                        }
                                    </li>
                                }
                            }
                            
                            if (Request.IsAuthenticated)
                            {
                                if (_user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.NOTIFICATION_CONFIGURATION))
                                {
                                    <li>
                                        @if (ViewBag.Active == "NotificationIndex")
                                        {
                                            @Html.ActionLink("Notification Settings", "IndexNew", "CustomerNotification", new { @class = "navbar-selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Notification Settings", "IndexNew", "CustomerNotification")
                                        }
                                    </li>
                                }
                                if (_user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.LIVELISTENING))
                                {
                                    <li>

                                        @if (ViewBag.Active == "LivePlayback")
                                        {
                                            @Html.ActionLink("Listen Live", "PlaybackIndex", "Home", new { @class = "navbar-selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Listen Live", "PlaybackIndex", "Home")
                                        }

                                    </li>
                                }
                                if (_user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.QUICKPLAYBACK))
                                {
                                    <li>
                                        @if (ViewBag.Active == "QuickPlayback")
                                        {
                                            @Html.ActionLink("Quick Playback", "QuickPlayback", "Home", new { @class = "navbar-selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Quick Playback", "QuickPlayback", "Home")
                                        }
                                    </li>
                                }
                                if (_user.HasPermission(PoliceMonitor.Security.Base.Model.Constant.ACTIVITYMONITOR) && !User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
                                {
                                    <li>
                                        @if (ViewBag.Active == "ActivityDashboard")
                                        {
                                            @Html.ActionLink("Activity Dashboard", "ActivityDashboard", "Home", new { @class = "navbar-selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Activity Dashboard", "ActivityDashboard", "Home")
                                        }
                                    </li>
                                }
                            }
                            if (Request.IsAuthenticated)
                            {
                                if ((_user as PoliceMonitor.Security.Principal.CustomPrincipal).CustomerId == 7)
                                {
                                    <li>
                                        @if (ViewBag.Active == "PostFaceBook")
                                        {
                                            @Html.ActionLink("FaceBook Posts", "PostFaceBook", "Home", new { @class = "navbar-selected" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("FaceBook Posts", "PostFaceBook", "Home")
                                        }
                                    </li>
                                }
                            }

                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tyler Technologies</p>
        </footer>
    </div>
    <div style="display: none" align="center" id="messageDialog"></div>
    <div id="loading"></div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('#loading').hide();
        });
    </script>
</body>
</html>