﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (ViewBag.Active == "Settings")
            {
                @Html.ActionLink("Settings", "Settings", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-selected", title = "Manage" })
            }
            else
            {
                @Html.ActionLink("Settings", "Settings", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
            <input type="hidden" id="username" value="@User.Identity.GetUserName()"></input>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
