﻿<div class="tree">
    @{
        var talkGroupModel = new List<PoliceMonitor.Models.TalkGroupModel>();
        talkGroupModel = ViewBag.Model.TalkGroupModel;
        int selectedListCount = talkGroupModel.Where(aa => aa.IsSelect == true).ToList().Count;
        var Name = talkGroupModel.Select(a => a.SystemName).Distinct().ToList();
        var sysid = talkGroupModel.Select(a => a.SysID).Distinct().ToList();       
        if (selectedListCount == talkGroupModel.Count)
        {
            <div class="Talkgroups_select_all">
                <img id="middleImg" src="~/Images/middle.png" width="15px" hidden>
                <input type="checkbox" id="toggleAll" checked /> <b>Select All</b>
            </div>
        }
        else if (selectedListCount == 0)
        {
            <div class="Talkgroups_select_all">
                <img id="middleImg" src="~/Images/middle.png" width="15px" hidden>
                <input type="checkbox" id="toggleAll" /> <b>Select All</b>
            </div>
        }
        else
        {
            <div class="Talkgroups_select_all">
                <img id="middleImg" src="~/Images/middle.png" width="15px">
                <input type="checkbox" id="toggleAll" hidden /> <b>Select All</b>
            </div>
        }
    }


    @for (int v = 0; v < Name.Count; v++)
    {
    <div style="float: left; width: 100%; ">
        @if(Name.Count>1){
        <p sysID="@sysid[v]" style="text-align: center; font-weight: bold; background-color: #d9534f; color: white;">@Name[v]</p>
        }
        <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-12 bottom-right playbackCheckboxDiv">
        @{ 
        var size = talkGroupModel.Where(x => x.SystemName.Trim() == Name[v].Trim()).ToList();
        var ht = ViewBag.Model.Size;
        var value=ht[Name[v]];
         }

            @for (int i = 0; i < value; i++)
            {
                if (Name[v].Trim() == size[i].SystemName.Trim())
                {
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        @if (size[i].AllNotChecked == true)
                                {
                                <img id="middleTGImg" src="~/Images/middle.png" width="15px">
                                <input type="checkbox" class="tree-checkbox parent toggle" hidden checked="@size[i].IsSelect" sysid="@sysid[v]" id=@(size[i].TalkGroupID + "-" + i) />
                                }
                        else
                        {
                                <img id="middleTGImg" src="~/Images/middle.png" width="15px" hidden>
                                <input type="checkbox" class="tree-checkbox parent toggle" checked="@size[i].IsSelect" sysid="@sysid[v]" id=@(size[i].TalkGroupID + "-" + i) />
                        }

                        <label for=@size[i].ChannelName>
                            @Html.DisplayFor(model => size[i].ChannelName)
                        </label>
                    </a>

                    <ul>
                        @for (int j = 0; j < size[i].RadioGroupModel.Count(); j++)
                                {
                                    int k = 1 + j;
                                    //var valueSys = @size[i].RadioGroupModel[j].RadioID + "_" + @sysid[v];
                                <li>
                                    <a  href="javascript:void(0)">
                                        <input type="checkbox" class="tree-checkbox node-item" checked="@size[i].RadioGroupModel[j].IsSelect"
                                               name="SelectedTalkGroups"
                                               value="@size[i].RadioGroupModel[j].RadioID" sysid="@sysid[v]" id="@size[i].RadioGroupModel[j].RadioID" />
                                        @Html.ActionLink(@size[i].RadioGroupModel[j].RadioDesc, "GoToTalkgroup", new { id = @size[i].RadioGroupModel[j].RadioID, SystemId = @sysid[v], transStartUTC = "01/01/1970 00:00:00" }, new { target = "_blank" })
                                    </a>
                                </li>
                                }
                    </ul>
                </li>
            </ul>
                }
            }

        </div>
        <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-12 playbackCheckboxDiv">

            @for (int i = value; i < Enumerable.Count(size); i++)
            {
                if (Name[v].Trim() == size[i].SystemName.Trim())
                {
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        @if (size[i].AllNotChecked == true)
                                {
                                <img id="middleTGImg" src="~/Images/middle.png" width="15px">
                                <input type="checkbox" class="tree-checkbox parent toggle" hidden checked="@size[i].IsSelect" sysid="@sysid[v]" id=@(size[i].TalkGroupID + "-" + i) />

                                }
                        else
                        {
                                <img id="middleTGImg" src="~/Images/middle.png" width="15px" hidden>
                                <input type="checkbox" class="tree-checkbox parent toggle" checked="@size[i].IsSelect" sysid="@sysid[v]" id=@(size[i].TalkGroupID + "-" + i) />
                        }
                        <label for=@size[i].ChannelName>
                            @Html.DisplayFor(model => size[i].ChannelName)
                        </label>
                    </a>

                    <ul>
                        @for (int j = 0; j < size[i].RadioGroupModel.Count(); j++)
                                {
                                    int k = 1 + j;
                                    //var valueSys = @size[i].RadioGroupModel[j].RadioID + "_" + @sysid[v];
                                <li>
                                    <a href="javascript:void(0)">
                                        <input type="checkbox" class="tree-checkbox node-item" checked="@size[i].RadioGroupModel[j].IsSelect"
                                               name="SelectedTalkGroups"
                                               value="@size[i].RadioGroupModel[j].RadioID" sysid="@sysid[v]" id="@size[i].RadioGroupModel[j].RadioID" />
                                        @Html.ActionLink(@size[i].RadioGroupModel[j].RadioDesc, "GoToTalkgroup", new { id = @size[i].RadioGroupModel[j].RadioID, SystemId = @sysid[v], transStartUTC = "01/01/1970 00:00:00" }, new { target = "_blank" })
                                    </a>
                                </li>
                                }
                    </ul>
                </li>
            </ul>
                }
            }
        </div>
    </div>
}
</div>
