﻿<div class="scrollerTable table-responsive tableTopMargin" id="@ViewBag.scrollerId" style="margin-top: 10px; overflow: auto;">
    <audio controls preload="auto" autoplay id="audioctrl" hidden></audio>
    <table aria-multiselectable="true" class="table-condensed table table-bordered table-striped" id="transmisisonTable">
        <tr>
            <td></td>
            <td>Source</td>
            <td>Date</td>
            <td>Length</td>
            <td></td>
            @if (!ViewBag.ShowBack)
            {
                <td>Go to Talkgroup</td>
            }
            <td>Action</td>
            <td>Monitored Status</td>
        </tr>

        @foreach (var item in ViewBag.FilteredList)
        {
            string id = (User.Identity.Name.Equals("jgottsteinpc1") || User.Identity.Name.Equals("johndoe") || User.Identity.Name.Equals("pank1aj")) ? "(" + item.ID + ")" : "";

            <tr id="@item.ID.Replace(":", "")" data-itemid="@item.ID" data-transstartmsec="@item.TransStartMSec" data-translengthmsec="@item.TransLengthMSec"
                data-radioid="@item.RadioID" data-talkgroupid="@item.TalkGroupID" data-systemid="@item.SystemID.Replace("_" + item.TalkGroupID, "")"
                data-radiodesc1="@item.RadioDesc1" data-radiodesc2="@item.RadioDesc2" data-radiodesc="@item.RadioDesc"
                data-transstartutc="@item.TransStartUTC" data-transtimedesc="@item.TransTimeDesc" data-reviewstatus="@item.ReviewStatus" data-marklisten="@item.MarkListen"
                data-username="@item.UserName" data-displayname="@item.DisplayName" data-date="@PoliceMonitor.Utils.Utils.ToClientTime(item.TransStartUTC)"
                class="@((ViewBag.ItemId == item.ID && ViewBag.ShowBack == true) ? "info" : "")">
                <td><input type="checkbox" value="@item.ID" name="selectedTransmission" /></td>
                <td><small><label>@item.RadioDesc1</label><label style="color:blue">@item.RadioDesc2</label></small></td>
                <td><small><label class="text-muted">@PoliceMonitor.Utils.Utils.ToClientTime(item.TransStartUTC)</label></small></td>
                <td><small><label class="text-primary">@item.TransTimeDesc</label> @id</small></td>

                <td style="text-align:center">
                    <input type="button" style="float:none" class="playbtn play" audiosrc="@item.ID" talkgroupid="@item.TalkGroupID" onclick="helper.playAudio(this);" value="Play" />
                </td>
                @if (!ViewBag.ShowBack)
                {

                    //var SystemId = (item.SystemID.Replace("_" + item.TalkGroupID, ""));//.split("_");

                    <td>
                        @Html.ActionLink("Go to Talkgroup", "GoToTalkgroup", new { id = item.TalkGroupID, SystemId = (item.SystemID.Replace("_" + item.TalkGroupID, "")), transStartUTC = item.TransStartUTC, itemid = item.ID })
                    </td>
                }
                <td style="width:8%;">
                    <div class="dropdown" id="dropdownMenu">
                        @if (item.ReviewStatus == null)
                        {
                            <a id="dLabel" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:12px;" onclick="helper.showMenu(this);">
                                Action <span class="caret"></span>
                            </a>
                        }
                        else if (item.ReviewStatus == 1)
                        {
                            <a id="dLabel" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" style="color:red;font-size:12px;">
                                Post audio <span class="caret"></span>
                            </a>
                        }
                        else if (item.ReviewStatus == 2)
                        {
                            <a id="dLabel" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" style="color:green;font-size:12px;">
                                Post to FB <span class="caret"></span>
                            </a>
                        }
                        else if (item.ReviewStatus == 3)
                        {
                            <a id="dLabel" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" style="color:orange;font-size:12px;" onclick="helper.showMenu(this);">
                                Follow up <span class="caret"></span>
                            </a>
                        }
                    </div>
                </td>
                <td>
                    <span>
                        @if ((item.MarkListen == true))
                        {
                            <span title="@item.UserName">Listened</span>
                        }
                    </span>
                </td>
            </tr>

        }
    </table>
    <div class="actiondialog" style="display: none;" align="center">
        <ul style="list-style: none; padding: 0px; height: 100px; ">
            <li onclick="javascript: helper.ChangeMarkForReview(this); return false;"><a href="#">Clear</a></li>

            @if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.CANDOWNLOADAUDIO) == true)
            {
                <li onclick="javascript: helper.DownloadChecked(this); return false;"><a href="#">Download Audio</a></li>
            }
            <li><a href="#" onclick="javascript: helper.ChangeMarkForReview(this); return false;">Follow Up</a></li>
            @if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.MARKASUNLISTED) == true)
            {

                <li onclick="javascript: helper.MarkListen(0, false, 'ViewBag.UserInfo.UserName'); return false;"><a href="#">Mark as Unlistened</a></li>
            }
            @if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).CustomerId == 7 && (User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.MARKASUNLISTED) == true)
            {
                <li id="FBli" onclick="javascript: helper.PostFacebook(this); return false;"><a href="#" data-toggle="modal">Post to Facebook</a></li>
            }

            @*@if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.MARKASUNLISTED) == true)
                {
                    <li onclick="javascript: helper.PostFacebook(this); return false;"><a href="#"  data-toggle="modal">Post to Facebook</a></li>
                }*@
        </ul>
    </div>
</div>

<input type="hidden" id="PostFbPage" value="false" />
<div class="modal fade" tabindex="-1" role="dialog" id="MP4">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select Action</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div class="form-horizontal selectActionPOP">
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Background Image</div>
                                <div class="col-md-7 col-xs-6"><select class="form-control" name="background"><option value="radio1033">Radio 1033</option></select></div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-xs-6">Text Color</div>
                                <div class="col-md-7 col-xs-6" data-co>
                                    <input name="text_color" id="ColorPick" class="form-control" type="color" value="#000000">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-xs-6"><a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="_blank">Time Zone :</a></div>
                                <div class="col-md-7 col-xs-6"><input class="form-control" name="time_zone" value="America/Chicago"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6"><a href="http://man7.org/linux/man-pages/man3/strftime.3.html" target="_blank">Time Format :</a></div>
                                <div class="col-md-7 col-xs-6">

                                    <select name="time_fmt" class="form-control">
                                        @*<option value="">Time Format</option>*@
                                        @foreach (var arr in ViewBag.Timeformat)
                                        {
                                            var TimeZone = arr.TimeZone;
                                            var Timeformat = arr.Timeformat1;
                                        <option value="@TimeZone">@Timeformat</option>
                                        }
                                    </select>


                                    @*<input class="form-control" name="time_fmt" value="%a %F %T %Z">*@





                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Talkgroups</div>
                                <div class="col-md-7 col-xs-6"><select class="form-control" name="show_radio">><option value="both">Group and Name</option><option value="group">Group</option><option value="desc">Name</option><option value="none">None</option></select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Radios</div>
                                <div class="col-md-7 col-xs-6">
                                    <select name="show_radio"><option class="form-control" value="both">Name and ID</option><option value="desc">Name</option><option value="id">ID</option><option value="none">None</option></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Time</div>
                                <div class="col-md-7 col-xs-6">
                                    <select name="show_time"><option class="form-control" value="start">Start Time</option><option value="current">Current Time</option><option value="none">None</option></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Duration</div>
                                <div class="col-md-7 col-xs-6">
                                    <select name="show_duration"><option class="form-control" value="none">None</option><option value="static">Static</option><option value="remaining">Remaining</option></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Title Seconds</div>
                                <div class="col-md-7 col-xs-6">
                                    <input class="form-control" name="title_seconds" value="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">Title</div>
                                <div class="col-md-7 col-xs-6">
                                    <textarea class="form-control" name="title"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6">
                                </div>

                                <div class="col-md-5 col-xs-6">
                                    <button class="btn btn-danger" data-dismiss="modal" type="button" style="margin:auto;" id="downlodeMP4" onclick="helper.MovieOptionsSet(event);">Download Movie</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" style="z-index:2" id="TimeBefor">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Load More Transmissions</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-6">Duration </div>
                    <div class="col-md-6 col-xs-6" data-co>
                        <table><tr><td><input id="timestamp" style="width:50px" class="form-control" type="text"></td><td> <label style="margin-left:5px;">minutes</label></td></tr></table>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="javascript: helper.AddTime(this); return false;" type="button" class="btn btn-primary" aria-label="Close">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








<div class="modal fade " tabindex="-1" role="dialog" id="PostFB" style="z-index: 1; margin-top: 40px; overflow: auto;">
    <div class="modal-dialog  modal-lg" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Facebook Post Entry</h4>
            </div>
            <div class="modal-body ">
                <form id="FormPost">
                    <div class="form-horizontal selectActionPOP">

                        <div class="row">

                            <div class="col-md-2 col-xs-12">Date </div>
                            <div class="col-md-3 col-xs-6 customeDate"><input id='DateTime' class="form-control" name="postedOn" value=""><span class="glyphicon glyphicon-calendar"></span></div>
                            <div class="col-md-2 col-xs-6"><input id="TimeInp" placeholder="HH:mm" class="form-control" type="time" name="Time"></div>

                            <div class="col-md-2 col-xs-12">City or County</div>
                            <div class="col-md-3 col-xs-12">
                                <input type="text" name="city" id="CityID" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-2 col-xs-12">Location </div>
                            <div class="col-md-5 col-xs-12"><input id="Location" maxlength="50" name="Location" class="form-control"></div>

                            <div class="col-md-2 col-xs-12">Event Type</div>
                            <div class="col-md-3 col-xs-12">
                                <input type="text" name="event_type" maxlength="50" id="EventType" class="form-control" />
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-2 col-xs-12">Description</div>
                            <div class="col-md-10 col-xs-12"><textarea id="Description" maxlength="5000" name="description" class="form-control"></textarea></div>
                        </div>



                        <div class="row">

                            <div class="col-md-2 col-xs-12">Category</div>
                            <div class="col-md-5 col-xs-12">
                                <select id="CategoriesID" name="categoryId" class="form-control" style="height:35px;">
                                    <option value="">Select Category</option>
                                    <option value="10">Police Chase Audio</option>
                                    <option value="8">Non Chase Audio</option>
                                    <option value="9">National Audio/Video</option>
                                    <option value="7">Dumb Criminals</option>
                                    <option value="12">Security/Cell Phone Cams</option>
                                    <option value="11">Dash/Body Cams</option>
                                    <option value="13">Live News Feeds</option>
                                    <option value="14">Funny MN Audio Clips</option>
                                    <option value="1">The Craziest Stories</option>
                                    <option value="3">Naked Nutcases</option>
                                    <option value="2">Horrible Parents</option>
                                    <option value="4">Dopey Dopes</option>
                                    <option value="5">911 Numskulls</option>
                                    <option value="6">Alcoholic All-Stars</option>
                                    <option value="16">General 911 calls</option>
                                    @*<option value="17">Shootings</option>
                                    <option value="18">National Incidents</option>*@
                                    <option value="15">Historical</option>
                                </select>
                            </div>

                            <div class="col-md-2 col-xs-12">Public Post</div>
                            <div class="col-md-3 col-xs-12">
                                <input id="MemberChange" name="ismember" type="checkbox">
                            </div>

                        </div>

                        <div class="row" id="ImageUplodeFirst">

                            <div id="wrapper" class="col-md-6 col-xs-12">
                                <label class="control-label">Select Photo</label>
                                <input type="file" id="fileUpload" class="fileUpload" name="Image">
                            </div>
                            <div id="wrapper" class="col-md-6 col-xs-12">
                                <div id="image-holder" class="image-holder" style="overflow:hidden;max-height:150px;max-width:150px;"></div>
                            </div>
                        </div>
                        <input type="hidden" name="transid" id="transmissionID" />
                        <input type="hidden" name="url" id="AudioURL" />
                        <input type="hidden" name="imageurl" id="ImageURL" />
                        <input type="hidden" name="common_img" id="ImageURL" />
                        <input type="hidden" name="TalkURl" id="TalkURl" />
                        @*<input type="hidden" name="UserName" id="UserName" />*@
                    </div>
                </form>



                <div class="row">
                    <div class="col-md-12 col-xs-12 mainBtns downloadtop" style="text-align:right">
                        <div class="row ">
                            @if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.CANDOWNLOADAUDIO) == true)
                            {
                                <div class="col-md-3 col-xs-12 autoplayPopBtn"><input type="checkbox" onclick='javascript: helper.autoplayTransmissionpop(this); return false;' id="autoplayTransmissionpop" data-toggle="toggle" data-on="Autoplay On" data-off="Autoplay Off" data-onstyle="success" data-offstyle="danger"></div>
                                <div class="col-md-4 col-xs-12 "><button type="button" onclick='javascript: helper.unchkAllPop(this); return false;' class="btn btn-danger Fixedbtn btn2" id="unchkAllPop" value="false">Uncheck All</button></div>
                                <div class="col-md-5 col-xs-12 "><button type="button" onclick='javascript: helper.markAllBetweenCheckPop(this); return false;' class="btn btn-danger Fixedbtn btn3" id="markAllBetweenCheckPop" value="false">Mark all <span class="mobile">b/w</span> <span class="desktop">between</span> Checks</button></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-12 ">
                        <div class="scrollerTable table-responsive" id="GripPop">


                        </div> 
                    </div>
                    <iframe id="iframPop" src="" name="Ifram"></iframe>
                </div>
                
                @*<div class=" row">
                        <div class="col-xs-12 col-xs-12" id="GripPop">

                            <div class="scrollerTable table-responsive" id="PostTransmisisonDiv" style="margin-top:10px; height:200px;">

                                <table aria-multiselectable="true" class="table-condensed table table-bordered table-striped" style="margin-top:10px;" id="PostTransmisisonTable">
                                    <tr>
                                        <td></td>
                                        <td>Source</td>
                                        <td>Date</td>
                                        <td>Length</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in ViewBag.FilteredList)
                                    {
                                        string id = (User.Identity.Name.Equals("jgottsteinpc1") || User.Identity.Name.Equals("johndoe") || User.Identity.Name.Equals("pank1aj")) ? "(" + item.ID + ")" : "";
                                        <tr id="@item.ID.Replace(":", "")" data-itemid="@item.ID" data-transstartmsec="@item.TransStartMSec" data-translengthmsec="@item.TransLengthMSec"
                                            data-radioid="@item.RadioID" data-talkgroupid="@item.TalkGroupID"
                                            data-radiodesc1="@item.RadioDesc1" data-radiodesc2="@item.RadioDesc2" data-radiodesc="@item.RadioDesc"
                                            data-transstartutc="@item.TransStartUTC" data-transtimedesc="@item.TransTimeDesc" data-reviewstatus="@item.ReviewStatus" data-marklisten="@item.MarkListen"
                                            data-username="@item.UserName" data-displayname="@item.DisplayName" data-date="@PoliceMonitor.Utils.Utils.ToClientTime(item.TransStartUTC)"
                                            class="@((ViewBag.ItemId == item.ID && ViewBag.ShowBack == true) ? "info PopDiv" : "PopDiv") ">
                                            <td><input type="checkbox" class="@item.ID FbCheck" value="@item.ID" /></td>
                                            <td><small><label>@item.RadioDesc1</label><label style="color:blue">@item.RadioDesc2</label></small></td>
                                            <td><small><label class="text-muted">@PoliceMonitor.Utils.Utils.ToClientTime(item.TransStartUTC)</label></small></td>
                                            <td><small><label class="text-primary">@item.TransTimeDesc</label> @id</small></td>
                                            <td style="text-align:center">
                                                <input type="button" style="float:none" class="playbtn playbtnpop play" audiosrc="@item.ID" talkgroupid="@item.TalkGroupID" onclick="helper.playAudio(this);" value="Play" />
                                            </td>
                                            <td>
                                                <span>
                                                    @if ((item.MarkListen == true))
                                                    {
                                                        <span title="@item.UserName">Listened</span>
                                                    }
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>*@

                <div class="row">

                    <div class="col-md-12 col-xs-12" style="text-align:center;">

                        <a href="#" data-toggle="modal" data-target="#TimeBefor" >Load More Transmissions</a>
                        @*<button type="button" style="" class="btn btn-default">Load More</button>*@
                    </div>
                </div>

            </div>



            <div class="modal-footer" id="postBtn">
                @*<button onclick="javascript: helper.SelectMore(this); return false;" type="button" class="btn btn-default">Add More</button>
                    <button onclick="javascript: helper.PostFB(this); return false;" type="button"  class="btn btn-primary">Post</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="FinalPostFB" style="margin-top: 40px; overflow-y: auto; overflow: scroll">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Facebook Post Entry</h4>
            </div>
            <div class="modal-body">
                <form id="FormPostFinal">
                    <div class="row tableMo" id="DivFB"></div>
                </form>


                <div class="row imageUploadModel " id="ImageUplode">
                    <div class="col-md-5 col-xs-6">Upload Photo</div>
                    <div id="wrapper" class="col-md-7 col-xs-6">
                        <label class="control-label">Select Photo</label>
                        <input type="file" id="fileUploadFB" class="fileUpload" name="Image">
                        <div id="image-holderFB" class="image-holder" style="overflow:hidden;max-height:150px;max-width:150px;"></div>
                    </div>
                </div>


            </div>



            <div class="modal-footer">
                <button onclick="javascript: helper.DeletePostFB(this); return false;" type="button" style="float:left;" class="btn btn-danger">Cancel</button>
                <button onclick="javascript: helper.SacePostFB(this); return false;" type="button" class="btn btn-primary">Save</button>
                <button onclick="javascript: helper.FinalPostFB(this); return false;" type="button" class="btn btn-primary">Save and Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


