﻿<div class="downloadtop">
    <div class="row">
        <div class="col-md-2"><h4 class="titleMain">
            @if(ViewBag.ShowBack)
            {
                <a href='javascript:void:;' onclick="location.href='@Url.Action("FilterTalkGroup", "Home")'"  class="btn btn-danger btn-default">&lt;</a>
            }
             Transmission</h4></div>
        <div class="col-md-10 mainBtns" style="text-align:right">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    @if (ViewBag.AutoPlay)
                    {
                        <input type="checkbox" id="autoplayTransmission" data-toggle="toggle" data-on="Autoplay On" data-off="Autoplay Off" data-onstyle="success" data-offstyle="danger" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="autoplayTransmission" data-toggle="toggle" data-on="Autoplay On" data-off="Autoplay Off" data-onstyle="success" data-offstyle="danger">
                    }
                </div>
                @*<div class="col-md-3 col-xs-6"><button type="button" class="btn btn-danger Fixedbtn btn2" id="unchkAll" value="false">Uncheck All</button></div>
                <div class="col-md-3 col-xs-6"><button type="button" class="btn btn-danger Fixedbtn btn3" id="markAllBetweenCheck" value="false">Mark all <span class="mobile">b/w</span> <span class="desktop">between</span> Checks</button></div>*@
               
                    @if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.CANDOWNLOADAUDIO) == true)
                    {
                        <div class="col-md-3 col-xs-6"><button type="button" class="btn btn-danger Fixedbtn btn2" id="unchkAll" value="false">Uncheck All</button></div>
                <div class="col-md-3 col-xs-6"><button type="button" class="btn btn-danger Fixedbtn btn3" id="markAllBetweenCheck" value="false">Mark all <span class="mobile">b/w</span> <span class="desktop">between</span> Checks</button></div>
               
                        <div class="col-md-3 col-xs-6">
                            <ul class="dropdown">
                                <li>
                                    <button class="btn btn-danger Fixedbtn btn4" data-toggle="dropdown">Download Checked</button>
                                    <ul class="dropdown-menu" style="width:100%;">
                                        <li><a href="javascript: helper.DownloadMP3();">Download Audio</a></li>
                                        <li><a href="#MP4" data-toggle="modal">Download Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                            @*<select class="drop drop-Danger" style="width: 100%" name="Select_download">
                                <option value="Select">Download Checked</option>
                                <option onselect="javascript: helper.DownloadMP3(); return false;" value="MP3">Download MP3</option>
                                <option value="MP4">Download MP4</option>
                            </select>*@
                        </div>
               }
               
            </div>
        </div>
    </div>
</div>


