﻿<div class=" row">
    <div class="col-xs-12 col-xs-12" id="GripPop">

        <div class="scrollerTable table-responsive" id="PostTransmisisonDiv" style="margin-top:10px; height:200px;">

            <table aria-multiselectable="true" class="table-condensed table table-bordered table-striped" style="margin-top:10px;" id="PostTransmisisonTable">
                <tr>
                    <td></td>
                    <td>Source</td>
                    <td>Date</td>
                    <td>Length</td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var item in ViewBag.FilteredList)
                {
                    string id = (User.Identity.Name.Equals("jgottsteinpc1") || User.Identity.Name.Equals("johndoe") || User.Identity.Name.Equals("pank1aj")) ? "(" + item.ID + ")" : "";
                    <tr id="@item.ID.Replace(":", "")" data-itemid="@item.ID" data-transstartmsec="@item.TransStartMSec" data-translengthmsec="@item.TransLengthMSec"
                        data-radioid="@item.RadioID" data-talkgroupid="@item.TalkGroupID"
                        data-radiodesc1="@item.RadioDesc1" data-radiodesc2="@item.RadioDesc2" data-radiodesc="@item.RadioDesc"
                        data-transstartutc="@item.TransStartUTC" data-transtimedesc="@item.TransTimeDesc" data-reviewstatus="@item.ReviewStatus" data-marklisten="@item.MarkListen"
                        data-username="@item.UserName" data-displayname="@item.DisplayName" data-date="@PoliceMonitor.Utils.Utils.ToClientTime(item.TransStartUTC)"
                        class="@((ViewBag.ItemId == item.ID && ViewBag.ShowBack == true) ? "info PopDiv" : "PopDiv") ">
                        <td><input type="checkbox" class="@item.ID FbCheck" value="@item.ID" /></td>
                        <td><small><label>@item.RadioDesc1</label><label style="color:blue">@item.RadioDesc2</label></small></td>
                        <td><small><label class="text-muted">@PoliceMonitor.Utils.Utils.ToClientTime(item.TransStartUTC)</label></small></td>
                        @*<td><small><label class="text-primary">@item.TransTimeDesc</label> @id</small></td>*@
                        <td><small><label class="text-primary">@item.TransTimeDesc</label> @id</small></td>
                        <td style="text-align:center">
                            <input type="button" style="float:none" class="playbtn playbtnpop play" audiosrc="@item.ID" talkgroupid="@item.TalkGroupID" onclick="helper.playAudio(this);" value="Play" />
                        </td>
                        <td>
                            <span>
                                @if ((item.MarkListen == true))
                                {
                                    <span title="@item.UserName">Listened</span>
                                }
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

