﻿@model IEnumerable<PoliceMonitor.Models.CustomersViewModels>

    @{
        ViewBag.Title = "Reports";
        ViewBag.Active = "Reports";
    }
    <style>
        #loading {
            position: absolute; width: 100.2%; height: 100%; background:rgba(255,255,255,.9) url("@Url.Content("~/images/Loading_icon.gif")");background-position:center 37px; z-index:9;
	        background-repeat:no-repeat; display:none;
        }

    </style>

    <link href="~/Content/wickedpicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-editable-select.css" rel="stylesheet" />
    @Styles.Render("~/Content/new-css.css?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    @Scripts.Render("~/Scripts/utils.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    @Scripts.Render("~/Scripts/wickedpicker.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Scripts/jquery-editable-select.js")

    <h2>Reports</h2>
    <div class="container body-content">
        <label style="color:red;" class="danger"></label>
        <form action="" method="get">
            <div class="filtersForm">
            <div id="loading"><span>Close (x)</span></div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label>Start Date</label>
                        <input type="text" id="startDate" placeholder="DD/MM/YYYY" class="datepicker">
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label>Start Time</label>
                        <input type="text" id="startTime" placeholder="MM:HH" class="timepicker" id="startTime">
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label>End Date</label>
                        <input type="text" id="endDate" placeholder="DD/MM/YYYY" class="datepicker">
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label>End Time</label>
                        <input type="text" id="endTime" placeholder="MM:HH" class="timepicker" id="endTime">
                    </div>
                    <div class="col-md-3 col-sm-9 col-xs-12">
                        <label>Select Customers</label>
                        <select id="customers">
                            <option selected value="0">All</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.CustomerId">@item.CustomerName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-12">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-primary" onclick="search()">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel-group reports">

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#startTime').wickedpicker({ now: '00:00', twentyFour: true });
            $('#endTime').wickedpicker({ twentyFour: true });
            $('.datepicker').datepicker({ autoclose: true });
            var startDate = new Date();
            startDate.setDate(1);
            $('#startDate').datepicker('update', startDate);
            $('#endDate').datepicker('update', new Date());
            //$('#customers').editableSelect({ effects: 'slide' });
        });

        function search()
        {
            var messages = validate();
            if (messages.length > 0) {
                $(".danger").text(arrayToString(messages));
                return;
            }

            var data = {
                startDate: getFormattedDate($('#startDate').datepicker('getDate')),
                endDate: getFormattedDate($('#endDate').datepicker('getDate')),
                startTime: $('#startTime').wickedpicker('time'),
                endTime: $('#endTime').wickedpicker('time'),
                customerId: $('#customers').val()
            };
            
            $("#loading").show();
            getAjaxData('@Url.Content("~/Reports/GetCustomerStats")', data, function (result) {
                $(".reports").html("");
                for (var item in result)
                {
                    var usersDiv = '';
                    for (var item1 in result[item].userwiseUsage)
                    {
                        var username = result[item].userwiseUsage[item1].UserName.trim();
                        username = (username == '') ? '&nbsp;' : username;
                        //<a data-toggle="collapse" data-parent="#accordion1" href="#t5">
                        //<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#l5">
                        usersDiv += '<div class="row"><div class="col-xs-12"> <span class="col-sm-4 col-xs-8">' + username + '</span> <span class="col-sm-2 col-xs-4 right">' + toHHMMSS(result[item].userwiseUsage[item1].Duration) + '</span> <span class="col-sm-4 col-xs-8"> ' + result[item].userwiseUsage[item1].TotalTransmissions + ' Transmissions</span> <span class="col-sm-2 col-xs-4 right">' + result[item].userwiseUsage[item1].TotalLogins + ' Logins</span> </div></div>';
                    }

                    $(".reports").append('<div class="panel panel-default"><div class="panel-heading" role="tab"><div class="row"><div class="col-xs-12"> <a class="collapsed" role="button" data-toggle="collapse" href="#" onclick="toggleDetails(' + (1 + item) + ')"> <span class="pull-left">' + result[item].CustomerName + '</span> <span class="pull-right">[ Duration: ' + toHHMMSS(result[item].Duration) + ' / ' + result[item].TotalTransmissions + ' Transmissions / ' + result[item].TotalLogins + ' Logins ]</span> </a> </div></div></div><div id="' + (1 + item) + '" class="panel-collapse collapse"><div class="panel-body" id="accordion5" role="tablist" aria-multiselectable="true"><div class="panel panel-default"><div class="panel-heading mobileHide"><div class="row"> <span class="col-sm-4 col-xs-6">Name</span> <span class="col-sm-2 col-xs-6 right">Duration</span> <span class="col-sm-4 col-xs-6">Transmissions</span> <span class="col-sm-2 col-xs-6 right">Logged In</span> </div></div>' + usersDiv + '<div id="t5" class="panel-collapse collapse" role="tabpanel"><div class="panel-body"><table aria-multiselectable="true" class="table-condensed table table-bordered table-striped"><thead><tr><td>Source</td><td>Date  &amp; Time</td><td>Length</td></tr></thead><tbody><tr><td>Coon Rapids PD (122833)</td><td>11/1/2016 6:43:04 AM</td><td>2.2s</td></tr></tbody></table></div></div></div></div></div></div>');
                }
                $("#loading").hide();
            });
        }

        function toggleDetails(id)
        {
            $('#' + id).collapse("toggle");
        }

        function validate()
        {
            var startdate = $('#startDate').datepicker('getDate');
            var enddate = $('#endDate').datepicker('getDate');
            var messages = [];
            
            if (startdate == null) {
                messages.push("Start date is mandatory");
            }

            if (enddate == null) {
                messages.push("End date is mandatory");
            }

            if (startdate != null && enddate != null)
            {
                startdate.setHours(0, 0, 0, 0);
                enddate.setHours(0, 0, 0, 0);

                if (!(startdate.getTime() === enddate.getTime()))
                {
                    if (startdate > enddate) {
                        messages.push("Start date should be less than end date");
                    }
                }
            }

            return messages;
        }

$('#loading span').click(function(){
	$('#loading').hide();
});
    </script>
