﻿@model PoliceMonitor.Models.PlayBackIndexModel

@{
    ViewBag.Title = "Activity Dashboard";
    ViewBag.Active = "ActivityDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style type="text/css">
           
    </style>


}
@using (Html.BeginForm("PlaybackIndex", "Home", FormMethod.Post, new { id = "PlayBackIndexFormId" }))
{
    <div class="panel panel-primary">
        
        <div>
            <audio controls preload="auto" autoplay id="audioctrl" hidden></audio>

        </div>
        <div id="frm-author" class="panel-body">
            <div class="row favourite">
                <div class="col-sm-4">
                    <label>Monitor Lists</label><br />
                    @Html.DropDownListFor(m => m.SelectedFavouriteID, new System.Web.Mvc.SelectList(Model.ListenLiveFavouriteList, "Value", "Text"), "Main Search List", new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })
                </div>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="row favourite">
                <div class="col-sm-4">
                    <a href="javascript:SaveView(-2)" style="text-decoration:underline">Save Search List</a> -
                    <a href="javascript:SaveView('@Model.SelectedFavouriteID')" style="text-decoration:underline">Edit</a> -
                    <a href="javascript:void(0)" class="confirmView" style="text-decoration:underline">Delete</a> -
                    <a href="javascript:CallChangefunc(0)" style="text-decoration:underline">Reset</a> -
                    <a href="javascript:resetFields()" style="text-decoration:underline">Clear All</a>
                </div>
            </div>
            <div id="DivNotShow" style="display: none; color: red; text-align: center; padding-bottom: 30px;"> Nothing to Display </div>
            <div class="tree playbackCheckboxDiv" >
                @{
                    var talkGroupModel = Model.TalkGroupModel;
                    var sys = talkGroupModel.Select(a => a.SystemName).Distinct().ToList();
                    var sysid = talkGroupModel.Select(a => a.SysID).Distinct().ToList();
                }
                @for (int v = 0; v < sys.Count; v++)
                {
                    if (sys.Count > 1)
                    {
                        <p id="@sysid[v]" class="ShowSystem" style="text-align: center; font-weight: bold; background-color: #d9534f; color: white; margin-top: 10px;">@sys[v]</p>
                    }

                    <ul class="ADashTable ShowMaster">
                        <ul class="AlarmTH">
                            <li class="TalkGroupAlarm">Alarm</li>                       
                            <li class="TalkGroupName headColor">TalkGroup</li>                        
                            <li class="DivRadio">Recent Transmission</li>                        
                            <li class="playIconText"></li> 
                            <li class="TdTraffic1">Recent Traffic</li>
                        </ul>

    @for (int i = 0; i < talkGroupModel.Count(); i++)
{
    if (sys[v].ToString() == talkGroupModel[i].SystemName)
    {
        <ul class="ADashTable ShowCounty ">


            <li class="TalkGroupAlarm headerbg TdTraffic_bb">
                <a href="javascript:void(0)">
                    @if (talkGroupModel[i].AllNotChecked == true)
{
    <img id="middleTGImg" class="middleTGImg" onclick='SelectAll(this)' src="~/Images/middle.png" width="15px">
                        <input type="checkbox" class="tree-checkbox parent toggle" hidden checked="@talkGroupModel[i].IsSelect" id=@(talkGroupModel[i].TalkGroupID + "-" + i) />
}
                    else
                    {
                        <img id="middleTGImg" class="middleTGImg" onclick='SelectAll(this)' src="~/Images/middle.png" width="15px" hidden>
                        <input type="checkbox" class="tree-checkbox parent toggle" checked="@talkGroupModel[i].IsSelect" id=@(talkGroupModel[i].TalkGroupID + "-" + i) />
                    }
                </a>
            </li>
            <li colspan="4" class="headerbg fullWidth">
                <label for=@talkGroupModel[i].ChannelName>
                    @Html.DisplayFor(model => talkGroupModel[i].ChannelName)
                </label>

            </li>

            


                    @for (int j = 0; j < talkGroupModel[i].RadioGroupModel.Count(); j++)
                    {
                        <ul class="ADashTable ShowTalk">
                            @{  int k = 1 + j;
                    <li class="TalkGroupAlarm">
                        <a href="javascript:void(0)">
                            <input type="checkbox" class="tree-checkbox node-item UnSelected" parid="@sysid[v]" checked="@talkGroupModel[i].RadioGroupModel[j].IsSelect"
                                   name="SelectedTalkGroups"
                                   value="@talkGroupModel[i].RadioGroupModel[j].RadioID" id="@talkGroupModel[i].RadioGroupModel[j].RadioID" />
                        </a>
                    </li>
                        <li class="TalkGroupName">
                            <span>@talkGroupModel[i].RadioGroupModel[j].RadioDesc</span>
                            @*@Html.ActionLink(@talkGroupModel[i].RadioGroupModel[j].RadioDesc, "GoToTalkgroup", new { id = @talkGroupModel[i].RadioGroupModel[j].RadioID, SystemId = @sysid[v], transStartUTC = "01/01/1970 00:00:00" }, new { target = "_blank" })*@

                    </li>

    <li id="Radio_@talkGroupModel[i].RadioGroupModel[j].RadioID" data-sysid="@sysid[v]" class="DivRadio @sysid[v]"></li>

                            @*<li id="talk_@talkGroupModel[i].RadioGroupModel[j].RadioID" class="playIcon">*@
                        <li class="playIconText">
                            @Html.ActionLink("Go to Talkgroup", "GoToTalkgroup", new { id = @talkGroupModel[i].RadioGroupModel[j].RadioID, SystemId = @sysid[v], transStartUTC = "01/01/1970 00:00:00" }, new { target = "_blank" })
                            @*<input type="button" style="float:none" class="playbtn play audioPlay" audiosrc="" talkgroupid="" onclick="playAudio(this);" value="Play" />*@@*<i class="fa fa-play-circle-o"></i>*@
                        </li>
    <li id="traffic_@talkGroupModel[i].RadioGroupModel[j].RadioID" data-sysid="@sysid[v]" class="TdTraffic">
        @*<i class="fa fa-circle text-primary" style="font-size: 22px;"></i>*@
        @*<img src="" />*@

        <div class="ImageDiv">
            <img src="~/Images/green.png" />
        </div>
        <a href="javascript:void(0)" role="button" data-talk="@talkGroupModel[i].RadioGroupModel[j].RadioID" data-sysid="@sysid[v]" onclick="showActionPop(this);"><img style=" max-height: 25px;" src="~/Images/download.jpg" /></a>
        
    </li>
}
                    </ul>

                    }

                    </ul>

                        }
                    }

                    </ul>
                }
                <div class="modal fade " tabindex="-1" role="dialog" style="z-index:2" id="ActivityPop">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Recent Traffic Configuration</h4>
                            </div>

                            <div class="modal-body modalPaddingControl">
                                <form id="FormPost">
                                    <div class="form-horizontal selectActionPOP">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-5 col-xs-12 "> <label class="labelControl">Moderate Traffic Range<br/>(Transmissions per minute)</label></div>
                                                <div class="col-md-2 col-xs-8 rightPadding"><input type="number" id="YellowMin" min="0" class="form-control" /></div>
                                                <div class="col-md-1 innerLable"><label class="labelControlInner"> Min</label></div>
                                                
                                                <div class="col-md-2 col-xs-8 rightPadding"><input type="number" id="YellowMax" min="0" class=" form-control" /></div>
                                                <div class="col-md-2 innerLable"><label class="labelControlInner"> Max</label></div>                                               
                                               
                                            </div>
                                    <div class="row">
                                        <div class="col-md-5 col-xs-12"><label class="labelControl">Avg. Time Duration for Traffic</label></div>
                                        <div class="col-md-2 col-xs-8 rightPadding">
                                             @*<input type="number" min="1"  id="TimeDuration" class=" form-control" />*@
                                            <select id="TimeDuration" class="form-control" style="height:35px;">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="30">30</option>
                                                <option value="35">35</option>
                                                <option value="40">40</option>
                                                <option value="45">45</option>
                                                <option value="50">50</option>
                                                <option value="55">55</option>
                                                <option value="60">60</option>
                                            </select>
                                        </div>
                                            <div class="col-md-2 innerLable"><label class="labelControlInner">In Minutes</label></div>
                                    </div>
                                    </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button onclick="ResetTalkTraffic(this); return false;" type="button" class="btn btn-danger" aria-label="Close">Reset</button>
                                <button onclick="AddTalkTraffic(this); return false;" type="button" class="btn btn-primary" aria-label="Close">Submit</button>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>




                    <div class="savedialog" style="display: none" align="center">
                        <table>
                            <tr>
                                <td colspan="2"><input type="hidden" id="hdnFavouriteID"><label class="viewError" style="color:red;display:none;"></label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Name of View</label>
                                </td>
                                <td>
                                    <input id="viewName" type="text" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Make Default</label>
                                </td>
                                <td>
                                    <input id="isPrimary" type="checkbox" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <input id="btnSubmit" type="button" value="Submit" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="confirmdialog" style="display: none" align="center">
                        <table>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <label>Are you sure you want to delete favourite search item?</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <input class="Delete" type="button" value="Delete" />
                                    <input class="Cancel" type="button" value="Cancel" />
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            @*<div id="audios"></div>*@

        </div>
    </div>
}
@section scripts{
    @*@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
    @Scripts.Render("~/Scripts/bootstrap.js")*@
    @Scripts.Render("~/Scripts/audioplayer.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    @*@Scripts.Render("~/Scripts/helpers/transmissionshelper.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])*@
    @*@Scripts.Render("~/Scripts/autocomplete.js")*@
    @*@Scripts.Render("~/Scripts/tree.js")*@


@*@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
@Scripts.Render("~/Scripts/jquery-editable-select.min.js")*@
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="~/Scripts/utils.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<link href="~/Content/ActivityDashboard.css" rel="stylesheet" />
    <link href="~/Content/jquery-editable-select.min.css" rel="stylesheet" />
  @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript">

    /*Code for Favourite List - SaveNew/Edit/Delete*/
        function intermediateImg() {
            var elements = $('ul input[type="checkbox"]');
            var chkElements = $('ul input[type="checkbox"]:checked');
            if (elements.length == chkElements.length) {
                if ($('#toggleAll')[0] != undefined) {
                    $('#toggleAll')[0].hidden = false;
                    $('#toggleAll')[0].checked = true;
                }
                if ($('#middleImg')[0] != undefined) {
                    $('#middleImg')[0].hidden = true;
                }
            }
            else if (chkElements.length == 0) {
                if ($('#toggleAll')[0] != undefined) {
                    $('#toggleAll')[0].hidden = false;
                    $('#toggleAll')[0].checked = false;
                }
                if ($('#middleImg')[0] != undefined) {
                    $('#middleImg')[0].hidden = true;
                }
            }
            else {
                if ($('#toggleAll')[0] != undefined) {
                    $('#toggleAll')[0].hidden = true;
                }
                if ($('#middleImg')[0]) {
                    $('#middleImg')[0].hidden = false;
                }
            }
        }
        function resetField() {
            $('input[type="checkbox"]').show();
        $('input[type="checkbox"]').prop('hidden', false);
        $('input[type="checkbox"]').prop('checked', '');
        $("[id=middleTGImg]").prop('hidden', true);
        $(".middleTGImg").hide();
        $(".ShowTalk").show();
        $(".ShowCounty").show();
        $(".ShowMaster").show();
        $(".ShowSystem").show();
        //$("[id=middleImg]").prop('hidden', true);
        }
        function resetFields() {
            $('input[type="checkbox"]').show();
            $('input[type="checkbox"]').prop('hidden', false);
            $('input[type="checkbox"]').prop('checked', '');
            $("[id=middleTGImg]").prop('hidden', true);
            $(".middleTGImg").hide();
            //$(".ShowTalk").show();
            //$(".ShowCounty").show();
            //$(".ShowMaster").show();
            //$(".ShowSystem").show();
            //$("[id=middleImg]").prop('hidden', true);
        }

    $('#ActivityPop').modal({
        backdrop: 'static',
        keyboard: true,  // to prevent closing with Esc button (if you want this too)
        show:false
    })

    function ResetTalkTraffic(e)
    {
        $.ajax({
            url: "@Url.Action("ResetTalkTraffic", "Home")",
            type: "POST",
            data: { systemID: systemID, TalkID: TalkID },
            dataType: "json",
            success: function (data) {
                if (data == 500) {                    
                    $('#ActivityPop').modal('hide');
                    alert("Reset successfully!!");
                }
                else {
                    alert("TalkGroup not Selected!! Please add some fields.")
                }
            },
            error: function (e) {
                $('#ActivityPop').modal('hide');
                alert("Somthing went Wrong!!")

            }
        });
    }


    function AddTalkTraffic(e)
    {
        var min = $("#YellowMin").val();
        var max = $("#YellowMax").val();
        var TimeDuration = $("#TimeDuration").val();

        $.ajax({
            url: "@Url.Action("AddTalkTraffic", "Home")",
            type: "POST",
            data: { MinTime: min, MaxTime: max, TimeDuration: TimeDuration, systemID: systemID, TalkID: TalkID },
            dataType: "json",
            success: function (data) {
                $('#ActivityPop').modal('hide');
                setTimeout(getlatestTraffic, 100);
            },
            error: function (e) {
            
            }
        });


    }
        //rohit choudhary
    var systemID = 0;
    var TalkID = 0;
    function showActionPop(elm) {
        systemID = elm.getAttribute('data-sysid');
        TalkID = elm.getAttribute('data-talk');

        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getSelectLatest", "Home")',
            dataType: 'JSON',
            data: { TalkIDs: TalkID,systemIDs: systemID },
            
            success: function (result) {
                // alert(result);
                if(result.length>0)
                {
                    $("#YellowMin").val(result[0].YellowMin);
                    $("#YellowMax").val(result[0].YellowMax);
                    $("#TimeDuration").val(result[0].HourDuration);
                    $('#ActivityPop').modal('show');
                }
                else {
                    // var green = '@ViewBag.Green';
                    var Yellowmin = '@ViewBag.Yellowmin';
                    var YellowMax = '@ViewBag.YellowMax';
                    // var red = '@ViewBag.red';
                    var Time = '@ViewBag.TimeDuration';
                    var time1 = parseInt(Time);
                    $("#YellowMin").val(Yellowmin);
                    $("#YellowMax").val(YellowMax);
                    $("#TimeDuration").val(time1);
                    $('#ActivityPop').modal('show');
                }

            },
            error: function (error) {
                console.log(error);
                setTimeout(getlatestTraffic, 1000);
            }
        });



        
        return false;
    }

    //Favourite DropDown Change
        function CallChangefunc(val) {
            $("#DivNotShow").hide();
        if (val == 0)
            val = $('#SelectedFavouriteID').parent().find('.es-visible').val();//$('#SelectedFavouriteID').val();
        $('document').ready(function () { $(window).scrollTop(0); }, 300);
        //$("#SelectedFavouriteID").val("");
        if (val == '' || val == undefined) {
            $("#SelectedFavouriteID").val("");
            resetField();
            //$(".ShowTalk").hide();
            //$(".ShowCounty").hide();
            //$(".ShowMaster").hide();
            //$(".ShowSystem").hide();
            $('document').ready(function () { $(window).scrollTop(0); }, 300);

            return;
        }

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ShowFavouriteData", "Home")',
            data: { id: val },
            cache: false,
            success: function (result) {
               
                var resultJ = JSON.parse(result);
                resetFields();
                $(".ShowTalk").hide();
                $(".ShowCounty").hide();
                $(".ShowMaster").hide();
                $(".ShowSystem").hide();
                if (resultJ.View != "[]") {
                    resultJson = JSON.parse(resultJ.View);
                    for (var i = 0; i < resultJson.length; i++) {
                        $('#' + resultJson[i].name).val(resultJson[i].value);
                        if (resultJson[i].name == "radioFilter") {
                            $('#radioFilter').val(resultJson[i].value);

                            $('input[name="radioFilter"][value="' + resultJson[i].value + '"]').prop('checked', true);

                            if (resultJson[i].value == 'hoursDuration') {
                                $("#hoursDuration").show();
                                $("#dateTimeRange").hide();
                            }
                            else {
                                $("#dateTimeRange").show();
                                $("#hoursDuration").hide();
                            }
                        }

                        if (resultJson[i].name == "SelectedTalkGroups") {
                            //$('#' + resultJson[i].value)[0].checked = true;


                            if (resultJson[i].SysID == undefined || resultJson[i].SysID == null) {
                                //$('#' + resultJson[i].value).attr("sysid", "1039")[0].checked = true;
                                //$('#' + resultJson[i].value).attr("sysid", "1039").closest(".ShowTalk").show();

                                $('#' + resultJson[i].value).attr("sysid", "1039").closest(".ShowMaster").show();
                                $('#' + resultJson[i].value).attr("sysid", "1039").closest(".ShowTalk").show();
                                $('#' + resultJson[i].value).attr("sysid", "1039").closest(".ShowCounty").show();
                                $("#1039").show();
                            }


                            else

                                $('#' + resultJson[i].value).attr("sysid", resultJson[i].SysID).closest(".ShowMaster").show();
                                $('#' + resultJson[i].value).attr("sysid", resultJson[i].SysID).closest(".ShowTalk").show();
                            $('#' + resultJson[i].value).attr("sysid", resultJson[i].SysID).closest(".ShowCounty").show();
                            $("#" + resultJson[i].SysID).show();
                            //    $('#' + resultJson[i].value).attr("sysid", resultJson[i].SysID)[0].checked = true;   ShowMaster
                            select($('#' + resultJson[i].value));




                            //var parentNode = $('#' + resultJson[i].value).parents('.tree ul');
                            //var elements = parentNode.find('ul input[type="checkbox"]');
                            //var chkElements = parentNode.find('ul input[type="checkbox"]:checked');
                            //var middleImage = parentNode.find('#middleTGImg');
                            //if (elements.length == chkElements.length) {
                            //    middleImage[0].hidden = true;
                            //    parentNode.find('li a .parent').prop('hidden', false);
                            //    parentNode.find('li a .parent').prop('checked', true);
                            //}
                            //else if (chkElements.length == 0) {
                            //    middleImage[0].hidden = false;
                            //    parentNode.find('li a .parent').prop('checked', false);
                            //}
                            //else {
                            //    middleImage[0].hidden = false;
                            //    parentNode.find('li a .parent').prop('hidden', true);
                            //}
                           // intermediateImg();

                        }
                    }
                }
                else {
                    $("#DivNotShow").show();
                }
            },
            error: function (e) {
                var r = e.responseJSON;
                if (r == null)

                    $('document').ready(function () { $(window).scrollTop(0); }, 300);
                return;
                if (r.error == true && r.message == 'AuthenticationTimeout')
                    window.location = "@Url.Action("Login", "Account")";
            }
        });
    }

    //Save New Favourite View
    $('#btnSubmit').click(function () {
        var formId = $('#PlayBackIndexFormId').serializeArray();
        var fid = [];
        for (var i = 0; i < formId.length; i++) {
            if (formId[i].name == "SelectedTalkGroups") {
                if ($("#" + formId[i].value).prop("checked") == true) {
                    var sysid = ($("#" + formId[i].value).attr("parid"));
                    formId[i].SysID = sysid;
                }
                fid.push(formId[i]);
            }
        }
        var id = $('#hdnFavouriteID')[0].value;
        $.ajax({
            url: "@Url.Action("SaveView", "Home")",
            type: "POST",
            data: { model: JSON.stringify(fid), name: document.getElementById("viewName").value.trim(), isPrimary: false, id: id, ListenLivePrimary: document.getElementById("isPrimary").checked },
            dataType: "json",
            success: function (data) {
                if (data.Response != "Success") {
                    $('.viewError').show();
                    $('.viewError').html(data.Response);
                }
                else {
                    $('.viewError').hide();
                    $('.savedialog').dialog("close");
                    window.location.reload(true);
                }
            },
            error: function (e) {
                var r = e.responseJSON;
                if (r == null)
                    return;
                if (r.error == true && r.message == 'AuthenticationTimeout')
                    window.location = "@Url.Action("Login", "Account")";

                alert("Error occured.");
                $('.savedialog').dialog("close");
            }
        });
        var MODEL = $('#FormId').serializeArray();

    });


    //Delete Existing Favourite View
    $('.Delete').click(function () {
        var id = $('#SelectedFavouriteID').val();
        if (id == "" || id <= 0) {
            alert("Please select favourite search item.");
            $('.confirmdialog').dialog("close");
            return;
        }

        $.ajax({
            url: "@Url.Action("DeleteView", "Home")",
            type: "GET",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                if (data.Response != "Success") {
                    $('.confirmdialog').dialog("close");
                    alert("Error occured.");
                }
                else {
                    $('.confirmdialog').dialog("close");
                    window.location.reload(true);
                }
            },
            error: function (e) {
                var r = e.responseJSON;
                if (r == null)
                    return;
                if (r.error == true && r.message == 'AuthenticationTimeout')
                    window.location = "@Url.Action("Login", "Account")";

                alert("Error occured.");
                $('.confirmdialog').dialog("close");
            }
        });

    });

    function SaveView(id) {
        if (id > -2) {//Edit

            var selText = $("#SelectedFavouriteID option:selected").text();
            var selID = $("#SelectedFavouriteID").val()

            if (selID == '') {
                alert("Please select favourite serach item." + selID);
                return;
            }

            $('#viewName').val(selText.trim());
            $('#hdnFavouriteID').val(selID);
            if (id == $("#SelectedFavouriteID").val()) {
                $('#isPrimary').prop('checked', true);
            }

            $('.savedialog').dialog('open');
        }
        else {//Save
            $('#isPrimary').prop('checked', "");
            $('#viewName').val("");
            $('#hdnFavouriteID').val("0");
            $('.savedialog').dialog('open');
        }
    }




    var interval = null;
    var player;
    var flag = false;
    $(document).ready(function () {
        //debugger;
        var SysIDSelect = '@ViewBag.selectSystem';
        var talkIdSelect = '@ViewBag.TalkSelect';
        var SysIDSelect1 = SysIDSelect.split(",");
        var talkIdSelect1 = talkIdSelect.split(",");
        for (var i = 0; i < SysIDSelect1.length; i++)
        {
            $("#" + talkIdSelect1[i]).attr("parid", SysIDSelect1[i]).removeClass("UnSelected");
            $("#" + talkIdSelect1[i]).attr("parid", SysIDSelect1[i]).addClass("Selected");
        }




        @*alert('@ViewBag.TalkSelect');
        alert('@ViewBag.selectSystem');*@





        @*var green = '@ViewBag.Green';
        var Yellowmin = '@ViewBag.Yellowmin';
        var YellowMax = '@ViewBag.YellowMax';
        var red = '@ViewBag.red';
        var TimeDuration = '@ViewBag.TimeDuration';
        alert(TimeDuration);
        alert(green);
        alert(YellowMax);
        alert(Yellowmin);
        alert(red);*@


        //alert('@ViewBag.ActivitySignal');
        if (iOS()) {
            resetFields();
            $(".favourite").css("display", "none");
        }
        else {
            $(".favourite").css("display", "block");
        }
        $(".savedialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Save Search List",
            width: 390,
            height: 240
        });

        $(".confirmdialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Confirm",
            width: 390,
            height: 150
        });

        $(".confirmView").click(function () {
            var id = $('#SelectedFavouriteID').val();
            if (id == "" || id <= 0) {
                alert("Please select favourite search item.");
                $('.confirmdialog').dialog("close");
                return;
            }

            $('.confirmdialog').dialog('open');
        });

        $('.Cancel').click(function () {
            $('.confirmdialog').dialog("close");
        });

        var splitUrl = window.location.href.split('#');
        if (splitUrl.length > 1) {
            var splitChecks = splitUrl[1].split(',');
            if (splitChecks.length > 0) {
                for (var i = 0; i < splitChecks.length; i++) {
                     var currentNode = $('.tree-checkbox.node-item#' + splitChecks[i]);
                    var middleImage = currentNode.parents('.tree ul').find('#middleTGImg');
                    var parentCheckBox = currentNode.parents('.tree ul').find('.tree-checkbox.parent.toggle');

                    currentNode.prop('checked', true);

                    var childList = currentNode.parents('.tree ul').find('.tree-checkbox.node-item');
                    var chkedList = currentNode.parents('.tree ul').find('.tree-checkbox.node-item:checked');
                    if (childList.length == chkedList.length) {
                        currentNode.parents('.tree ul').find('.tree-checkbox.parent.toggle').prop('checked', true);
                        middleImage[0].hidden = true;
                        parentCheckBox[0].hidden = false;
                    }
                    else if (chkedList.length < childList.length) {
                        middleImage[0].hidden = false;
                        parentCheckBox[0].hidden = true;
                    }
                }
            }
        }

        // player = new AudioPlayer(document.getElementById("audioctrl"), "@PoliceMonitor.BLL.Utility.Get().BaseURL", document.getElementById('mainDiv'), onplay);

        FillTransmission();
        if ($("#SelectedFavouriteID").val() != "") {
            $("input:checkbox:not(:checked)").closest(".ShowTalk").hide();

            $("input:checkbox:not(:checked)").closest(".ShowCounty").hide();
            $("input:checkbox:checked").closest(".ShowCounty").show();
            
            $(".middleTGImg").hide();
            
            $(".parent").show();
            $(".ShowSystem").hide();
            $(".ShowMaster").each(function () {
                //debugger;
                if ($(this).find(".ShowCounty").css("display") == "none") {
                    $(this).hide();
                }
                //if($(this).find(".ShowCounty").css("display")=="none")
            })
            $("input:checkbox:checked").closest(".ShowMaster").show();
            $("input:checkbox:checked").each(function () {
                var sysid = $(this).attr("parid");
                $("#" + sysid).show();
            })
            $("input:checkbox:checked").prop("checked", false);
        }
        //interval = setInterval(FillTransmission, 3000);
        //$('input[type=checkbox]').change(function (e) {
        //    if (!flag) {
        //        player.play();
        //        flag = true;
        //    }
        //    e.preventDefault();
        //    var baseUrl = window.location.href;
        //    if (baseUrl.indexOf('#') >= 0) {
        //        baseUrl = baseUrl.substring(0, baseUrl.indexOf('#'));
        //    }
        //    baseUrl += '#';
        //    $('input:checkbox.node-item').each(function () {
        //        var sThisVal = (this.checked ? $(this).val() : "");
        //        if (this.checked) {
        //            baseUrl += $(this)[0].id + ',';
        //        }
        //    });
        //    if (baseUrl.substr(baseUrl.length - 1) == ',')
        //        baseUrl = baseUrl.substr(0, baseUrl.length - 1);

        //    window.location = baseUrl;
        //});
    });

    //function audioclick(param) {
    //    switch (param) {
    //        case 1:
    //            $('#playbtn').hide();
    //            $('#pausebtn').show();
    //            player.play();
    //            break;
    //        case 2:
    //            $('#playbtn').show();
    //            $('#pausebtn').hide();
    //            player.pause();
    //            break;
    //        case 3:
    //            player.next();
    //            break;
    //        case 4:
    //            player.previous();
    //            break;
    //        case 5:
    //            $('#playbtn').show();
    //            $('#pausebtn').hide();
    //            player.stop();
    //            break;
    //    }
    //}

    @*function lockCurrentTalkgroup(elm) {
        if (player.playlist.length <= 0)
            return;

        var tkGroup = 0;
        if (prevLocked != null) {
            tkGroup = $(prevLocked).attr('tkid');
        }
        else {
            tkGroup = player.playlist[player.current].TalkGroupID;
        }
        Gototalkgroup(tkGroup, $('.tkid-' + tkGroup)[0]);
    }
    function onplay() {
        $('#playbtn').hide();
        $('#pausebtn').show();
    }
    var prevLocked = null;
    function Gototalkgroup(talkgroupid, obj) {
        var locked = $(prevLocked).attr("locked");
        if (prevLocked != null) {
            $(prevLocked).attr("src", "@Url.Content("~/images/unlock.png")");
            $("#locktkgroupbtn").attr("src", "@Url.Content("~/images/unlock.png")");
            $(prevLocked).attr("locked", "false");
        }

        var ptalkgroup = (prevLocked != null) ? $(prevLocked).attr('tkid') : "";
        var ctalkgroup = $(obj).attr('tkid');

        if (ptalkgroup != ctalkgroup || locked == "false") {
            $(obj).attr("src", "@Url.Content("~/images/lock.png")");
            $("#locktkgroupbtn").attr("src", "@Url.Content("~/images/lock.png")");
            $(obj).attr("locked", "true");
            player.filterTransmissions(talkgroupid);
            prevLocked = obj;
        }
        else {
            player.filterTransmissions(0);
            prevLocked = null;
        }
    }*@
    function FillTransmission() {
        setTimeout(getlatestTraffic, 1000);
        setTimeout(getlatest, 3000);
        //    $("#loading").hide();
        //$("#loading").show();
        //var dataTalkGroups = [];
        //var dataSystemIds = [];
        //{
        //    var treeChildNodes = $('.tree-checkbox.node-item');
        //    $('.tree-checkbox.node-item').each(function () {
        //        dataTalkGroups.push($(this)[0].id);
        //        dataSystemIds.push($(this)[0].getAttribute('parid'));
        //    });
        //}
        //if (dataTalkGroups.length > 0) {
        //    populateData(dataTalkGroups, dataSystemIds);
        //}
    }

    var lastID = 0;
    var audios = [];
    var prevRequest = null;
    function populateData(dataTalkGroups, dataSystemIds) {
        if (prevRequest != null) {
            prevRequest.abort();
            prevRequest = null;
        }
        $("#loading").show();
        prevRequest = $.ajax({
            type: 'POST',
            url: '@Url.Action("GetActivity", "Home")',
            data: { idTalkGroups: dataTalkGroups.join(", "), idSystemIds: dataSystemIds.join(", "), lastID: lastID },
            cache: false,
            success: function (result) {
                $("#loading").show();
                //$('#loading').css("z-index", "2");
                prevRequest = null;
                var resultJ = JSON.parse(result);
                var resultJson = resultJ.result;
                lastID = resultJ.lastID;
                if (resultJson != "[]") {
                    resultJson = JSON.parse(resultJson);
                    //var mainDiv = document.getElementById("mainDiv"); $("#" + resultJson[0].TalkGroupID + ".DivRadio")
                    for (var i = 0; i < resultJson.length; i++) {
                        $("#Radio_" + resultJson[i].TalkGroupID + ".DivRadio").empty();
                        $("#Radio_" + resultJson[i].TalkGroupID + ".DivRadio").append("<i class='fa fa-circle text-primary' style='font-size: 22px;'></i><span> " + resultJson[i].RadioDesc + "</span>");
                        $("#talk_" + resultJson[i].TalkGroupID).empty();
                        $("#talk_" + resultJson[i].TalkGroupID).append("<input type='button' style='float:none' class='playbtn play audioPlay' audiosrc='" + resultJson[i].TalkGroupItemId + "' onclick='playAudio(this);' value='Play' />");
                        //.attr("audiosrc", resultJson[i].TalkGroupItemId);
                        //$("#talk_" + resultJson[i].TalkGroupID + ".audioPlay").attr("talkgroupid",resultJson[i].)
                    }
                }
                
                setTimeout(getlatestTraffic, 1000);
                setTimeout(getlatest, 1000);
            },
            error: function (e) {
                 //FillTransmission();
                 setTimeout(FillTransmission, 1000);
            }
        });
    }


        var audio = new Audio();
        var currentPlay = "";
        var baseUrl = new AudioPlayer(document.getElementById("audioctrl"), "@PoliceMonitor.BLL.Utility.Get().BaseURL", document.getElementById('mainDiv'), onplay);
    //alert(baseUrl);
    function playAudio(val) {
        if (currentPlay == val.parentElement.id) {
            var id = $(".stop").parent().attr('id');
            $("#" + id + " .audioPlay").removeClass("stop");
            $("#" + id + " .audioPlay").addClass("play");
            audio.pause();
            currentPlay = "";
            return;
        }
        else {
            var id = $(".stop").parent().attr('id');
            $("#" + id + " .audioPlay").removeClass("stop");
            $("#" + id + " .audioPlay").addClass("play");
            audio.pause();
        }
        currentPlay = val.parentElement.id;
        var audioURl = baseUrl.baseURL + "radio/get_audio.cgi?chunk=" + val.getAttribute("audiosrc");
        audio.src = audioURl;
        audio.play();
        $("#" + val.parentElement.id + " .audioPlay").removeClass("play");
        $("#" + val.parentElement.id + " .audioPlay").addClass("stop");
    }
    audio.addEventListener('ended', function () {
        var id = $(".stop").parent().attr('id');//$(".playIcon .stop").attr('id');
        $("#" + id + " .audioPlay").removeClass("stop");
        $("#" + id + " .audioPlay").addClass("play");
    })



    function getlatestTraffic() {
        //debugger;
       // var green = '@ViewBag.Green';
        var Yellowmin = '@ViewBag.Yellowmin';
        var YellowMax = '@ViewBag.YellowMax';
       // var red = '@ViewBag.red';
        var Time = '@ViewBag.TimeDuration';     
        var time1 = parseInt(Time);
        $('#loading').hide();
        var id = "";
        var systemid = "";
      
        $('.tree-checkbox.node-item').each(function () {
            id += $(this).attr('id') + ",";
            systemid += $(this).attr('parid') + ",";
        });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTrafficActivity", "Home")',
            dataType: 'json',
            data: { lastValue: id, TimeDuration: time1, systemid: systemid },
            //contentType: 'application/json; charset=utf-8',
            //headers: {
            //    contentType: 'application/json'
            //},
            cache: false,
            success: function (result) {
                $(".ImageDiv").empty();
                $(".ImageDiv").append("<img src='../Images/green.png' />");
                var resultJson = result.obj1.result;
                var resultJson1 = result.obj2;
                lastID = result.lastID;
                if (resultJson != "[]") {
                    resultJson = JSON.parse(resultJson);
                    for (var i = 0; i < resultJson.length; i++) {
                        var count = 0;
                        for (var j = 0; j < result.obj2.length; j++)
                        {
                            if (resultJson[i].TalkGroupID == result.obj2[j].TalkGroupID)
                            {
                                count++;
                                //alert(count);

                                //if (resultJson[i].Val / (60 * result.obj2[j].HourDuration) < result.obj2[j].YellowMin) {
                                if (resultJson[i].Val / time1 < result.obj2[j].YellowMin) {
                                    $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").empty();
                                $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").append("<img src='../Images/green.png' />");
                                }
                                //if (resultJson[i].Val / (60 * result.obj2[j].HourDuration) >= result.obj2[j].YellowMin && resultJson[i].Val / (60 * result.obj2[j].HourDuration) <= result.obj2[j].YellowMax) {
                                if (resultJson[i].Val / time1 >= result.obj2[j].YellowMin && resultJson[i].Val / time1 <= result.obj2[j].YellowMax) {
                                    $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").empty();
                                    $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").append("<img src='../Images/yellow.png' />");
                                }
                                //if (resultJson[i].Val / (60 * result.obj2[j].HourDuration) > result.obj2[j].YellowMax) {
                                if (resultJson[i].Val / time1 > result.obj2[j].YellowMax) {
                                    {
                                        $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").empty();
                                        $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").append("<img src='../Images/red.png' /> ");
                                    }
                                }


                            }
                            
                        }
                        if (count > 0)
                        {
                            continue;
                        }
                        //if (resultJson[i].Val / (60 * time1) < Yellowmin) {
                        if (resultJson[i].Val / time1 < Yellowmin) {
                            $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").empty();
                            $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").append("<img src='../Images/green.png' />");
                        }
                        //if (resultJson[i].Val / (60 * time1) >= Yellowmin && resultJson[i].Val / (60 * time1) <= YellowMax)
                        if (resultJson[i].Val / time1 >= Yellowmin && resultJson[i].Val / time1 <= YellowMax)
                        {
                            $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").empty();
                            $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").append("<img src='../Images/yellow.png' />");
                        }
                        //if (resultJson[i].Val / (60 * time1) > YellowMax) {
                        if (resultJson[i].Val / time1 > YellowMax) {
                            {
                                $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").empty();
                                $("#traffic_" + resultJson[i].TalkGroupID).attr("data-sysid", resultJson[i].SystemId).find(".ImageDiv").append("<img src='../Images/red.png' /> ");
                            }
                        }

                    }
                }
                //getSelectLatest();
                setTimeout(getlatestTraffic, 10000);
            },
            error: function (error) {
                console.log(error);
                setTimeout(getlatestTraffic, 1000);
            }
        });
    }

        function getSelectLatest()
        {
            
        }


    function getlatest() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetLatestActivity", "Home")',
            dataType: 'json',
            data: { lastValue: 3 },
            cache: false,
            //headers:{
            //    contentType: 'application/json'
            //},
            success: function (result) {
                //prevRequest = null;
                //var resultJ = JSON.parse(result);
                //$(".playIcon").empty();
                $(".DivRadio span").remove();
                $(".DivRadio i").remove();
                //$(".DivRadio i").removeClass("text-danger");
                //$(".DivRadio i").addClass("text-primary");
                var resultJson = result.result;
                lastID = result.lastID;
                if (resultJson != "[]") {
                    resultJson = JSON.parse(resultJson);
                    //var mainDiv = document.getElementById("mainDiv"); $("#" + resultJson[0].TalkGroupID + ".DivRadio")
                    for (var i = 0; i < resultJson.length; i++) {
                        $("#Radio_" + resultJson[i].TalkGroupID + "." + resultJson[i].SystemID).empty();
                        $("#Radio_" + resultJson[i].TalkGroupID + "." + resultJson[i].SystemID).append("<i class='fa fa-circle text-danger' style='font-size: 22px;'></i><span> " + resultJson[i].RadioDesc + "</span>");

                        if ($("#Radio_" + resultJson[i].TalkGroupID).find("i").hasClass("text-danger") == true && $("#Radio_" + resultJson[i].TalkGroupID).parent("ul").children("li.TalkGroupAlarm").children().first().children().prop("checked") == true) {
                            //alert(count);
                            var audio = new Audio();
                            audio.src = "http://mobiringtones.net/uploads/ringtones/sms/134011-nokia-standard.mp3";
                            audio.play();

                        }


                        //$("#talk_" + resultJson[i].TalkGroupID).empty();
                        //$("#talk_" + resultJson[i].TalkGroupID).append("<input type='button' style='float:none' class='playbtn play audioPlay' audiosrc='" + resultJson[i].TalkGroupItemId + "' onclick='playAudio(this);' value='Play' />");
                    }
                }
                setTimeout(getlatest, 3000);
            },
            error: function (error) {
                console.log(error);
                setTimeout(getlatest, 1000);
            }
        });
    }




        function select(e) {
       
            if ($(e).is(':checked')) {
                if ($(e).hasClass("node-item")) {
                    if (($(e).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]:checked").length) == ($(e).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]").length - 1)) {
                        $(e).parent("a").parent("li").parent("ul").parent("ul").find(".parent").show();
                        $(e).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").hide();
                        $(e).parent("a").parent("li").parent("ul").parent("ul").find(".parent").prop("checked", true);
                    }
                    else {
                        $(e).parent("a").parent("li").parent("ul").parent("ul").find(".parent").hide();
                        $(e).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").show();
                    }
                }
            }
        }
        



        function SelectAll(e) {
            $(e).hide();
            $(e).next("input[type=checkbox]").show();
            $(e).next("input[type=checkbox]").prop("checked", true);
            $(e).parent("a").parent("li").parent("ul").find(".tree-checkbox.node-item ").prop("checked", true);
        }
        $('input:checkbox').change(
        function () {
            if ($(this).is(':checked')) {
                if ($(this).hasClass("parent")) {
                    $(this).parent("a").parent("li").parent("ul").find(".tree-checkbox.node-item ").prop("checked", true);
                    $(this).prop("checked", true);
                }
                if ($(this).hasClass("node-item"))
                {
                    if (($(this).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]:checked").length) == ($(this).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]").length - 1))
                    {
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").show();
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").hide();
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").prop("checked", true);
                    }
                    else {
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").hide();
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").show();
                    }
                }
            }
            else {
                if ($(this).hasClass("parent")) {
                    $(this).parent("a").parent("li").parent("ul").find(".tree-checkbox.node-item ").prop("checked", false);
                    $(this).prop("checked", false);
                }
                if ($(this).hasClass("node-item")) {
                    //alert("if");
                    
                    if (($(this).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]:checked").length) == ($(this).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]").length - 1)) {
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").hide();
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").show();
                        $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").prop("checked", false);
                    }
                    else {
                        //  alert("else");
                        if (($(this).parent("a").parent("li").parent("ul").parent("ul").find("input[type=checkbox]:checked").length) > 0) {
                            $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").hide();
                            $(this).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").show();
                        }
                        else {
                            $(this).parent("a").parent("li").parent("ul").parent("ul").find(".parent").show();
                            $(this).parent("a").parent("li").parent("ul").parent("ul").find("#middleTGImg").hide();
                        }
                    }
                }
            }
        });



    </script>
}
