﻿@model PoliceMonitor.Models.TalkGroupView

@{
    ViewBag.Title = "Go To Talkgroup";
}

<div class="searchIcon">
	<button type="button" class="glyphicon glyphicon-filter toggleBtn"></button>
</div>
<div id="searchBar" style="margin-top: 0px">
@Html.Partial("~/Views/Shared/_TransmissionGridHeaderButtons.cshtml", new ViewDataDictionary { { "ShowBack", true }, { "AutoPlay", Model.AutoPlay } })
</div>

@Html.Partial("~/Views/Shared/_TransmissionGrid.cshtml", new ViewDataDictionary { { "ShowBack", true }, { "scrollerId", "myTestID2" }, { "FilteredList", Model.FilteredList }, { "ItemId", ViewBag.ItemId }, { "Cities", Model.Cities }, { "Timeformat", Model.Timeformat } })

<div style="margin-bottom:40px;">
    <input type="button" value="Back to List" onclick="location.href='@Url.Action("FilterTalkGroup", "Home")'" class="btn btn-danger btn-default" />
</div>
@section scripts {
@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
@Scripts.Render("~/Scripts/audioplayer.js")
@Scripts.Render("~/Scripts/helpers/transmissionshelper.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.js"></script>
<script type="text/javascript" src="~/Scripts/utils.js"></script>
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script language="javascript" type="text/javascript">
    var helper;
    $(document).ready(function () {
        helper = new TransmissionHelper('@ViewBag.UserInfo.FirstName', '@ViewBag.UserInfo.LastName', '@ViewBag.UserInfo.UserName',
            "@PoliceMonitor.BLL.Utility.Get().BaseURL", '@Url.Content("~/Home/MarkedForReview")', '@Url.Content("~/Home/MarkListen")',
            "@Url.Action("GenerateMp3", "Home")", '@Url.Action("DownloadMp3File", "Home")', '@Url.Action("GetVideo", "Home")',
            '@Url.Action("downloadVideo", "Home")', '@Url.Action("DownloadMp4File", "Home")', '@Url.Action("UploadFiles", "Home")', '@Url.Action("PostFb", "Home")', '@Url.Action("SearchCity", "Home")', '@Url.Action("SearchEvent", "Home")',
            '@Url.Action("DeleteDraft","Home")', '@Url.Action("SaveDraft","Home")','@Url.Action("GetDraft","Home")', 'myTestID2');
        $("#DateTime").datepicker();
    });
</script>

}
