﻿@{
    ViewBag.Title = "Home";
    ViewBag.Active = "Home";
}
<div class="col-md-4 col-xs-12 col-sm-12">
    <img src="@Url.Content("~/Images/new_tyler_logo_.png")" width="250" style="padding: 40px 0px;" />
</div>
<div class="col-md-8 col-xs-12 col-sm-12">
    <h2>Welcome to Radio1033.com</h2>
    <h3>Please select from a menu option above.</h3>
    <h3>----------------------------------------------------------</h3>
    <br />
</div>

<h3 >
    Last Login :-@ViewBag.LoginDate
</h3>
<h3>INFORMATION: </h3>
<h3>For best performance on an iPad or iPhone - please use Google Chrome or the Dolphin Browser.</h3>
<h3>The Dolphin browser will allow transmissions to continue to play if minimized.</h3>
<h3>ANNOUNCEMENT:</h3>
<h3>Radio1033 was acquired by Tyler Technologies. Please click the below link to the press release. </h3>
@*<a href="" target="_blank"> <h3>press release</h3> </a>*@
@*<a href="~/Views/Home/Tyler%20Technology.html" target="_blank"><h3>press release</h3></a>*@
@Html.ActionLink("Press Release", "Tyler_Technology", "Home", new { target = "_blank" })

@{
    if (Request.IsAuthenticated && User.IsInRole(PoliceMonitor.Security.Base.Model.Constant.SUPERADMIN_ROLENAME))
    {
            @Html.ActionLink("Reports", "Index", "Reports")
    }
}
@*<input type="button" onclick="test()" value="Test" />*@
<div style="height:200px"></div>

<script>
    Date.prototype.stdTimezoneOffset = function () {
        var jan = new Date(this.getFullYear(), 0, 1);
        var jul = new Date(this.getFullYear(), 6, 1);
        return Math.max(jan.getTimezoneOffset(), jul.getTimezoneOffset());
    }

    Date.prototype.dst = function () {
        return this.getTimezoneOffset() < this.stdTimezoneOffset();
    }

    //function test()
    //{
    //    debugger;
    //    var data = [[{ name: 'date', value: '10/10' }, { name: 'time', value: '10:10' }], [{ name: 'date', value: '10/10' }, { name: 'time', value: '10:10' }]];

    //    var result = [];
    //    for (var item in data)
    //    {
    //        var obj = {};
    //        for(var item1 in data[item])
    //        {
    //            obj[data[item][item1].name] = data[item][item1].value;
    //        }
    //        result.push(obj);
    //    }

    //    $.ajax({
    //        url: '/test/home/PostFb',
    //        type: "POST",
    //        dataType: "json",
    //        data: { EventType: 'A', Location: 'L' },// { EventType: 'A', Location: 'L' }],
    //        success: function (msg) {
    //            //alert(msg);
    //        },
    //        error: function (msg) {
    //            console.log(msg);
    //        }

    //    });
    //}
</script>