﻿@model PoliceMonitor.Models.TalkGroupView
@{
    ViewBag.Title = "LivePlayback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .scrollerTable {
        height: 800px;
        overflow: auto;
        margin: 0 0 20px 0;
    }

    .downloadtop {
        background: #e0e0e0;
        padding: 10px;
        margin-top: 20px;
    }

        .downloadtop h4 {
            margin: 0px;
            padding: 8px 0 0 0;
        }

    .highlight td {
        background: yellow !important;
    }
</style>
<label style="color:red;" class="danger">@Html.Raw(Model.ErrorMessage)</label>
@using (Html.BeginForm("FilterTalkGroup", "Home", FormMethod.Get))
{
    if (ViewBag.ReviewStatusList != null && ViewBag.MarkListenList != null)
    {
        <div class="row">
            <div class="col-xs-4">
                <label>Talk Group List</label>
                <label>@Html.ListBox("SelectLeft", Model.TalkGroups, new { style = "height:250px;width:100%;" })</label>
            </div>  
            <div class="row">
                <input type="submit" value="Filter" class="btn btn-danger btn-default" />
            </div>            
        </div>

    }
}

<div class="scrollerTable table-responsive">
    <table aria-multiselectable="true" class="table-condensed table table-bordered table-striped" id="transmisisonTable">

        <tr>
            <td></td>
            <td>Talk Group</td>
            <td>Source</td>
            <td>Date</td>
            <td>Length</td>  
            <td></td>          
        </tr>

        @foreach (var item in Model.FilteredList)
        {
            <tr data-itemid="@item.ID" data-transstartmsec="@item.TransStartMSec" data-translengthmsec="@item.TransLengthMSec"
                data-radioid="@item.RadioID" data-talkgroupid="@item.TalkGroupID"
                data-radiodesc1="@item.RadioDesc1" data-radiodesc2="@item.RadioDesc2" data-radiodesc="@item.RadioDesc"
                data-transstartutc="@item.TransStartUTC" data-transtimedesc="@item.TransTimeDesc" data-reviewstatus="@item.ReviewStatus" data-marklisten="@item.MarkListen"
                data-username="@item.UserName" data-displayname="@item.DisplayName">
              
                <td><input type="checkbox" value="@item.ID" name="selectedTransmission" /></td>
                <td><small><label class="text-primary">@item.TalkGroupID</label></small></td>
                <td><small><label>@item.RadioDesc1</label><label style="color:blue">@item.RadioDesc2</label></small></td>

             
                <td><small><label class="text-muted">@TimeZoneInfo.ConvertTimeFromUtc(item.TransStartUTC, TimeZoneInfo.Local)</label></small></td>
                <td><small><label class="text-primary">@item.TransTimeDesc</label></small></td>
                <td>

                    <audio controls preload="none" name="testingctrl" onplay="disableAudio(this);">

                        <source src="@Url.Content(Model.BaseURL +"radio/get_audio.cgi?chunk=" + item.ID)" type="audio/mp3" />
                        Your browser does not support the audio element.

                    </audio>

                </td>
            </tr>

        }

    </table>
</div>
@section scripts {
@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")


    <script language="javascript" type="text/javascript">  
    </script>
}





