﻿@model PoliceMonitor.Models.TalkGroupView
@{
    ViewBag.Title = "Playback";
    ViewBag.Active = "Playback";
}
<label style="color:red;" class="danger">@Model.ErrorMessage</label>

<div class="form-group">
    @using (Html.BeginForm("TalkGroup", "Home", FormMethod.Post, new { id = "FormId" }))
    {
      <br />
        <div class="row">
            <div class="col-sm-12" style="text-align: right;">
                <a href="javascript:void(0);" class="hidefilters">- Hide Filters</a>
            </div>
        </div>
    <div class="filters">
        <div class="row">
            <div class="col-sm-6">
                <label>Filter By</label><br />
                <input type="radio" name="radioFilter" value="hoursDuration" checked> Hours Duration
                <input type="radio" name="radioFilter" value="dateTimeRange"> Date Time Range
            </div>
            <div class="col-sm-6">
                <label>Minimum Transmission Time (in seconds)</label>
                @Html.TextBoxFor(c => c.MinTranSeconds, new Dictionary<string, object> { { "id", "MinTranSeconds" }, { "name", "MinTranSeconds" }, { "class", "form-control" }, { "placeholder", "Seconds" } })
            </div>
        </div>

        <div class="row" id="hoursDuration">
            <div class="col-sm-6">
                <label>Hours Ago</label>
                @Html.TextBoxFor(c => c.StartHour, new Dictionary<string, object> { { "id", "StartHour" }, { "name", "StartHour" }, { "class", "form-control" }, { "placeholder", "Hours" } })
            </div>
            <div class="col-sm-6">
                <label>Hours Duration (0=current)</label>
                @Html.TextBoxFor(c => c.EndHour, new Dictionary<string, object> { { "id", "EndHour" }, { "name", "EndHour" }, { "class", "form-control" }, { "placeholder", "Hours" } })
            </div>
        </div>
        <div class="row" id="dateTimeRange">
            <div class="col-sm-3">
                <label>Start Date</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(c => c.StartDatetime, new Dictionary<string, object> { { "id", "StartDatetime" }, { "name", "StartDatetime" }, { "class", "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Start Time</label>
                @Html.TextBoxFor(c => c.StartTime, new Dictionary<string, object> { { "id", "StartTime" }, { "name", "StartTime" }, { "class", "form-control" }, { "placeholder", "HH:mm" } })
            </div>
            <div class="col-sm-3">
                <label>End Date</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        @Html.TextBoxFor(c => c.EndDatetime, new Dictionary<string, object> { { "id", "EndDatetime" }, { "name", "EndDatetime" }, { "class", "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>End Time</label>
                @Html.TextBoxFor(c => c.EndTime, new Dictionary<string, object> { { "id", "EndTime" }, { "name", "EndTime" }, { "class", "form-control" }, { "placeholder", "HH:mm" } })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Favorite Search Lists</label><br />
                @Html.DropDownListFor(m => m.SelectedFavouriteID, new System.Web.Mvc.SelectList(Model.PlayBackFavouriteList, "Value", "Text"), "Select View", new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })
            </div>
            <div class="col-sm-3">
                <label>Radio ID Number</label>
                @Html.TextBoxFor(c => c.RadioID, new Dictionary<string, object> { { "id", "RadioID" }, { "name", "RadioID" }, { "class", "form-control" }, { "placeholder", "RadioID" } })
            </div>
            <div class="col-sm-3">
                <label>&nbsp;</label><br />
                <div class="transmissionBtnDesktop">
                    <button style="width: 100%; margin:0 auto;" onmousedown="$('#SelectRight option').attr('selected', true);" class="btn btn-danger btn-default" type="button" onclick="searchNow()">View Transmissions</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="javascript:SaveView(-2)" style="text-decoration:underline">Save Search List</a> -
                <a href="javascript:SaveView('@Model.SelectedFavouriteID')" style="text-decoration:underline">Edit</a> -
                <a href="javascript:void(0)" class="confirmView" style="text-decoration:underline">Delete</a> -
                <a href="javascript:CallChangefunc(0)" style="text-decoration:underline">Reset</a> -
                <a href="javascript:resetFields()" style="text-decoration:underline">Clear All</a>
            </div>
        </div>

        </div>
        <div class="row">
            <div class="col-xs-12 scroller">
                <br />
                <label>Select Talkgroups</label>
                @Html.Partial("~/Views/Shared/_TalkgroupsTree.cshtml", new ViewDataDictionary { { "Model", Model } })
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <div class="transmissionBtn">
                    <button style="width: 100%; margin:0 auto;" onmousedown="$('#SelectRight option').attr('selected', true);" class="btn btn-danger btn-default" type="button" onclick="searchNow()">View Transmissions</button>
                </div>
            </div>
        </div>
       
        <div class="savedialog" style="display: none" align="center">
            <table>
                <tr>
                    <td colspan="2"><input type="hidden" id="hdnFavouriteID"><label class="viewError" style="color:red;display:none;"></label></td>
                </tr>
                <tr>
                    <td>
                        <label>Name of View</label>
                    </td>
                    <td>
                        <input id="viewName" type="text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Make Default</label>
                    </td>
                    <td>
                        <input id="isPrimary" type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input id="btnSubmit" type="button" value="Submit" />
                    </td>
                </tr>
            </table>
        </div>
        
          <div class="confirmdialog" style="display: none" align="center">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="center">
                        <label>Are you sure you want to delete favourite search item?</label>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input class="Delete" type="button" value="Delete" />
                        <input class="Cancel" type="button" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
    <input type="hidden" id="HfSystemID" name="HdfSystemID" value="@Model.SelectedSystemID" />

    }
</div>

@section scripts {
    <link rel="stylesheet" href="~/Content/Site.css?v="@System.Configuration.ConfigurationManager.AppSettings["Dynamic"] />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link href="~/Content/jquery-editable-select.min.css" rel="stylesheet" />
   
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/meiomask.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js")
    @Scripts.Render("~/Scripts/tree.js")
    @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
    @Scripts.Render("~/Scripts/helpers/playbackhelper.js")

    <script language="javascript" type="text/javascript">
        //Favourite DropDown Change
        function CallChangefunc(val) {
            if(val == 0)
                val = $('#SelectedFavouriteID').val();

            if(val == '')
            {
                resetFields();
                return;
            }

            $.ajax({
                type: 'GET',
                url: '@Url.Action("ShowFavouriteData", "Home")',
                data: { id: val },
                cache: false,
                success: function (result) {
                    var resultJ = JSON.parse(result);
                    resetFields();
                    if (resultJ.View != "[]") {
                        resultJson = JSON.parse(resultJ.View);
                        for (var i = 0; i < resultJson.length; i++) {
                            $('#' + resultJson[i].name).val(resultJson[i].value);
                            if (resultJson[i].name == "radioFilter") {
                                $('#radioFilter').val(resultJson[i].value);

                                $('input[name="radioFilter"][value="' + resultJson[i].value + '"]').prop('checked', true);

                                if (resultJson[i].value == 'hoursDuration') {
                                    $("#hoursDuration").show();
                                    $("#dateTimeRange").hide();
                                }
                                else {
                                    $("#dateTimeRange").show();
                                    $("#hoursDuration").hide();
                                }
                            }

                            if (resultJson[i].name == "SelectedTalkGroups") {
                                //$('#' + resultJson[i].value)[0].checked = true;
                                if (resultJson[i].SysID == undefined || resultJson[i].SysID == null)
                                    $('#' + resultJson[i].value).attr("sysid", "1039")[0].checked = true;
                                else
                                    $('#' + resultJson[i].value).attr("sysid", resultJson[i].SysID)[0].checked = true;
                                var parentNode = $('#' + resultJson[i].value).parents('.tree ul');
                                var elements = parentNode.find('ul input[type="checkbox"]');
                                var chkElements = parentNode.find('ul input[type="checkbox"]:checked');
                                var middleImage = parentNode.find('#middleTGImg');
                                if (elements.length == chkElements.length) {
                                    middleImage[0].hidden = true;
                                    parentNode.find('li a .parent').prop('hidden', false);
                                    parentNode.find('li a .parent').prop('checked', true);
                                }
                                else if (chkElements.length == 0) {
                                    middleImage[0].hidden = false;
                                    parentNode.find('li a .parent').prop('checked', false);
                                }
                                else {
                                    middleImage[0].hidden = false;
                                    parentNode.find('li a .parent').prop('hidden', true);
                                }
                                intermediateImg();

                            }
                        }
                    }
                },
                error: function (e) {
                    var r = e.responseJSON;
                    if (r == null)
                        return;
                    if(r.error == true && r.message == 'AuthenticationTimeout')
                        window.location = "@Url.Action("Login", "Account")";
                }
            });
        }

        //Save New Favourite View
        $('#btnSubmit').click(function () {
            var formId = $('#FormId').serializeArray();
            var fid = [];
            //ASDASDA
            for (var i = 0; i < formId.length; i++) {
                if (formId[i].name == "SelectedTalkGroups") {
                    if ($("#"+formId[i].value).prop("checked")==true)
                    {
                        var sysid = ($("#" + formId[i].value).attr("sysid"));
                        formId[i].SysID = sysid;
                    }


                    
                    fid.push(formId[i]);
                }
            } 
            var id = $('#hdnFavouriteID')[0].value;
            $.ajax({
                url: "@Url.Action("SaveView", "Home")",
                type: "POST",
            data: { model: JSON.stringify(fid), name: document.getElementById("viewName").value.trim(), isPrimary: document.getElementById("isPrimary").checked, id: id, ListenLivePrimary: false },
            dataType: "json",
            success: function (data) {
                if (data.Response != "Success") {
                    $('.viewError').show();
                    $('.viewError').html(data.Response);
                }
                else {
                    $('.viewError').hide();
                    $('.savedialog').dialog("close");
                    window.location.reload(true);
                }
            },
            error: function (e) {
                var r = e.responseJSON;
                if (r == null)
                    return;
                if (r.error == true && r.message == 'AuthenticationTimeout')
                    window.location = "@Url.Action("Login", "Account")";

                alert("Error occured.");
                $('.savedialog').dialog("close");
            }
        });
        var MODEL = $('#FormId').serializeArray();

        });

        //Delete Existing Favourite View
        $('.Delete').click(function () {
            var id = $('#SelectedFavouriteID').val();
            if (id == "" || id <= 0) {
                alert("Please select favourite search item.");
                $('.confirmdialog').dialog("close");
                return;
            }

            $.ajax({
                url: "@Url.Action("DeleteView", "Home")",
                type: "GET",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                if (data.Response != "Success") {
                    $('.confirmdialog').dialog("close");
                    alert("Error occured.");
                }
                else {
                    $('.confirmdialog').dialog("close");
                    window.location.reload(true);
                }
            },
            error: function (e) {
                var r = e.responseJSON;
                if (r == null)
                    return;
                if (r.error == true && r.message == 'AuthenticationTimeout')
                    window.location = "@Url.Action("Login", "Account")";

                alert("Error occured.");
                $('.confirmdialog').dialog("close");
            }
        });

        });
    </script>
}