﻿@model PoliceMonitor.Models.PlayBackIndexModel
              
@{
    ViewBag.Title = "Live Playback";
    ViewBag.Active = "LivePlayback";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style type="text/css">
            .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute !important;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
        /* width:360px!important;*/
    }
        .tree ul{
            padding-left: 10px;
        }
.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    overflow: hidden;
}
  .panel-primary > .panel-heading{
  color: black;
        }

.tree li a{
    display: inline-block;

    text-decoration: none;
    color: #666;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight :600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 2px 0;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{
      height: 30px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {

    color: #000;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #dd4814;
}
.tree-checkbox{
    margin :4px !important;
}


*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.tree {
    padding-left: 0px;
    position: relative;
}

.fixed-panel{position: fixed; width:100%; left: 0px; top:51px; border-bottom:3px solid #fff; border-top:3px solid #fff; z-index: 1}
.panel{margin-top: 160px;}
.panel-primary .panel-heading{
        height: 150px;
    background : lightgrey;
}
.panel-body{
    padding:0px!important;
}
        .lock {
            background: url("@Url.Content("~/images/lock.png")");
background-size:cover;
         }
        .unlock {
            background: url("@Url.Content("~/images/unlock.png")");
background-size:cover;
         }
         .lockicon {
                cursor: pointer;
            }
.playback img{margin:5px;}
        .panel-body .row{margin:10px 0px!important;}
.savedialog td
{
    padding: 10px!important;
}
#mainDiv p{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
        .favourite{display:none;}
    </style>

}
@using (Html.BeginForm("PlaybackIndex", "Home", FormMethod.Post, new { id = "PlayBackIndexFormId" }))
    {
<div class="panel panel-primary liveListen">
    <div class="fixed-panel">
        <div class="container">
            <div class="panel-heading panel-head" id="mainAudioDiv">
                <div style="text-align: center; border-bottom: 0px !important;height:80px" id="mainDiv">
                    {Waiting for transmissions}<br /><br />
                </div>
                <div style="text-align: center; border-radius: 0;" class="playback">
                    <img src="@Url.Content("~/images/previous.png")" style="cursor: pointer" onclick="audioclick(4);" id="previousbtn" title="Previous"/>
                    <img src="@Url.Content("~/images/playbtn.png")" style="cursor: pointer" onclick="audioclick(1);" id="playbtn" title="Play"/>
                    <img src="@Url.Content("~/images/pausebtn.png")" hidden style="cursor: pointer" onclick="audioclick(2);" id="pausebtn" title="Pause"/>
                    <img src="@Url.Content("~/images/stop.png")" style="cursor: pointer" onclick="audioclick(5);" id="stopbtn" title="Stop"/>
                    <img src="@Url.Content("~/images/next.png")" style="cursor: pointer" onclick="audioclick(3);" id="nextbtn" title="Next" />
                    <img src="@Url.Content("~/images/last.png")" width="45" style="cursor: pointer" onclick="clearPlaylist(this);" id="clearbtn" title="Bring to Current" />
                    <img src="@Url.Content("~/images/unlock.png")" width="45" style="cursor: pointer" onclick="lockCurrentTalkgroup(this);" id="locktkgroupbtn" title="Lock / Unlock" />
                </div>
            </div>
        </div>
    </div>
<div>
    <audio controls preload="auto" autoplay id="audioctrl" hidden></audio>

</div>
<div id="frm-author" class="panel-body">
    <div class="row favourite">
        <div class="col-sm-4">
            <label>Favorite Search Lists</label><br />
            @Html.DropDownListFor(m => m.SelectedFavouriteID, new System.Web.Mvc.SelectList(Model.ListenLiveFavouriteList, "Value", "Text"), "Select View", new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <div class="row favourite">
        <div class="col-sm-4">
            <a href="javascript:SaveView(-2)" style="text-decoration:underline">Save Search List</a> -
            <a href="javascript:SaveView('@Model.SelectedFavouriteID')" style="text-decoration:underline">Edit</a> -
            <a href="javascript:void(0)" class="confirmView" style="text-decoration:underline">Delete</a> -
            <a href="javascript:CallChangefunc(0)" style="text-decoration:underline">Reset</a> -
            <a href="javascript:resetFields()" style="text-decoration:underline">Clear All</a>
        </div>
    </div>

    <div class="tree playbackCheckboxDiv">
        @{
        var talkGroupModel = Model.TalkGroupModel;
        var sys = talkGroupModel.Select(a => a.SystemName).Distinct().ToList();
        var sysid = talkGroupModel.Select(a => a.SysID).Distinct().ToList();
        }
        @for (int v = 0; v < sys.Count;v++ )
        { 
            if (sys.Count > 1) 
            { 
             <p id="@sysid[v]" style="text-align: center; font-weight: bold; background-color: #d9534f;color:white;">@sys[v]</p>
        }
            
            
            
            for (int i = 0; i < talkGroupModel.Count(); i++)
            {
                if (sys[v].ToString() == talkGroupModel[i].SystemName)
                { 
                    
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            @if (talkGroupModel[i].AllNotChecked == true)
                            {
                                <img id="middleTGImg" src="~/Images/middle.png" width="15px">
                                <input type="checkbox" class="tree-checkbox parent toggle" hidden checked="@talkGroupModel[i].IsSelect" id=@(talkGroupModel[i].TalkGroupID + "-" + i) />
                            }
                            else
                            {
                                <img id="middleTGImg" src="~/Images/middle.png" width="15px" hidden>
                                <input type="checkbox" class="tree-checkbox parent toggle" checked="@talkGroupModel[i].IsSelect" id=@(talkGroupModel[i].TalkGroupID + "-" + i) />
                            }


                            <label for=@talkGroupModel[i].ChannelName>
                                @Html.DisplayFor(model => talkGroupModel[i].ChannelName)
                            </label>
                        </a>
                        <ul>
                            @for (int j = 0; j < talkGroupModel[i].RadioGroupModel.Count(); j++)
                            {
                                int k = 1 + j;
                                <li>
                                    <a href="javascript:void(0)">
                                        <input type="checkbox" class="tree-checkbox node-item" parid="@sysid[v]" checked="@talkGroupModel[i].RadioGroupModel[j].IsSelect"
                                               name="SelectedTalkGroups"
                                               value="@talkGroupModel[i].RadioGroupModel[j].RadioID" id="@talkGroupModel[i].RadioGroupModel[j].RadioID" />
                                        <img src="@Url.Content("~/images/unlock.png")" class="lockicon unlock tkid-@talkGroupModel[i].RadioGroupModel[j].RadioID" tkid="@talkGroupModel[i].RadioGroupModel[j].RadioID" style="width:27px;" title="Go to TalkGroup" onclick="Gototalkgroup(@talkGroupModel[i].RadioGroupModel[j].RadioID, this)" />
                                        <label for=@i@j>
                                            @Html.DisplayFor(model => talkGroupModel[i].RadioGroupModel[j].RadioDesc)
                                        </label>

                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                }
            }
        }

        <div class="savedialog" style="display: none" align="center">
            <table>
                <tr>
                    <td colspan="2"><input type="hidden" id="hdnFavouriteID"><label class="viewError" style="color:red;display:none;"></label></td>
                </tr>
                <tr>
                    <td>
                        <label>Name of View</label>
                    </td>
                    <td>
                        <input id="viewName" type="text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Make Default</label>
                    </td>
                    <td>
                        <input id="isPrimary" type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input id="btnSubmit" type="button" value="Submit" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="confirmdialog" style="display: none" align="center">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="center">
                        <label>Are you sure you want to delete favourite search item?</label>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input class="Delete" type="button" value="Delete" />
                        <input class="Cancel" type="button" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
@*<div id="audios"></div>*@

</div>
</div>
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="~/Scripts/utils.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link href="~/Content/jquery-editable-select.min.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/autocomplete.js")
    @Scripts.Render("~/Scripts/tree.js")
    @Scripts.Render("~/Scripts/audioplayer.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])

    @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
    @Scripts.Render("~/Scripts/jquery-editable-select.min.js")


<script language="javascript" type="text/javascript">
    /*Code for Favourite List - SaveNew/Edit/Delete*/
    function intermediateImg() {
        var elements = $('ul input[type="checkbox"]');
        var chkElements = $('ul input[type="checkbox"]:checked');
        if (elements.length == chkElements.length) {
            if ($('#toggleAll')[0] != undefined) {
                $('#toggleAll')[0].hidden = false;
                $('#toggleAll')[0].checked = true;
            }
            if ($('#middleImg')[0] != undefined) {
                $('#middleImg')[0].hidden = true;
            }
        }
        else if (chkElements.length == 0) {
            if ($('#toggleAll')[0] != undefined) {
                $('#toggleAll')[0].hidden = false;
                $('#toggleAll')[0].checked = false;
            }
            if ($('#middleImg')[0] != undefined) {
                $('#middleImg')[0].hidden = true;
            }
        }
        else {
            if ($('#toggleAll')[0] != undefined) {
                $('#toggleAll')[0].hidden = true;
            }
            if ($('#middleImg')[0]) {
                $('#middleImg')[0].hidden = false;
            }
        }
    }

    function clearPlaylist(elm)
    {
        player.clearPlaylist();
    }

    function resetFields(){
        $('input[type="checkbox"]').prop('hidden', false);
        $('input[type="checkbox"]').prop('checked', '');
        $("[id=middleTGImg]").prop('hidden', true);
        $("[id=middleImg]").prop('hidden', true);
    }

    //Favourite DropDown Change
    function CallChangefunc(val) {
        if (val == 0)
            val = $('#SelectedFavouriteID').parent().find('.es-visible').val();//$('#SelectedFavouriteID').val();
	    $('document').ready(function() {$(window).scrollTop(0);},300);

        if (val == '')
        {
            resetFields();
	    $('document').ready(function() {$(window).scrollTop(0);},300);
            return;
        }

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ShowFavouriteData", "Home")',
            data: { id: val },
            cache: false,
            success: function (result) {
                var resultJ = JSON.parse(result);
                resetFields();
                if (resultJ.View != "[]") {
                    resultJson = JSON.parse(resultJ.View);
                    for (var i = 0; i < resultJson.length; i++) {
                        $('#' + resultJson[i].name).val(resultJson[i].value);
                        if (resultJson[i].name == "radioFilter") {
                            $('#radioFilter').val(resultJson[i].value);

                            $('input[name="radioFilter"][value="' + resultJson[i].value + '"]').prop('checked', true);

                            if (resultJson[i].value == 'hoursDuration') {
                                $("#hoursDuration").show();
                                $("#dateTimeRange").hide();
                            }
                            else {
                                $("#dateTimeRange").show();
                                $("#hoursDuration").hide();
                            }
                        }

                        if (resultJson[i].name == "SelectedTalkGroups") {
                            //$('#' + resultJson[i].value)[0].checked = true;
                            if (resultJson[i].SysID == undefined || resultJson[i].SysID == null)
                                $('#' + resultJson[i].value).attr("sysid", "1039")[0].checked = true;
                            else
                                $('#' + resultJson[i].value).attr("sysid", resultJson[i].SysID)[0].checked = true;
                            var parentNode = $('#' + resultJson[i].value).parents('.tree ul');
                            var elements = parentNode.find('ul input[type="checkbox"]');
                            var chkElements = parentNode.find('ul input[type="checkbox"]:checked');
                            var middleImage = parentNode.find('#middleTGImg');
                            if (elements.length == chkElements.length) {
                                middleImage[0].hidden = true;
                                parentNode.find('li a .parent').prop('hidden', false);
                                parentNode.find('li a .parent').prop('checked', true);
                            }
                            else if (chkElements.length == 0) {
                                middleImage[0].hidden = false;
                                parentNode.find('li a .parent').prop('checked', false);
                            }
                            else {
                                middleImage[0].hidden = false;
                                parentNode.find('li a .parent').prop('hidden', true);
                            }
                            intermediateImg();

                        }
                    }
                }
            },
            error: function (e) {
                var r = e.responseJSON;
                if (r == null)
		$('document').ready(function() {$(window).scrollTop(0);},300);
                    return;
                if(r.error == true && r.message == 'AuthenticationTimeout')
                    window.location = "@Url.Action("Login", "Account")";
            }
        });
    }

    //Save New Favourite View
    $('#btnSubmit').click(function () {
        var formId = $('#PlayBackIndexFormId').serializeArray();
        var fid = [];
        for (var i = 0; i < formId.length; i++) {
            if (formId[i].name == "SelectedTalkGroups") {
                if ($("#" + formId[i].value).prop("checked") == true) {
                    var sysid = ($("#" + formId[i].value).attr("parid"));
                    formId[i].SysID = sysid;
                }
                fid.push(formId[i]);
            }
        } 
        var id = $('#hdnFavouriteID')[0].value;
        $.ajax({
            url: "@Url.Action("SaveView", "Home")",
            type: "POST",
            data: { model: JSON.stringify(fid), name: document.getElementById("viewName").value.trim(), isPrimary: false, id: id, ListenLivePrimary: document.getElementById("isPrimary").checked },
        dataType: "json",
        success: function (data) {
            if (data.Response != "Success") {
                $('.viewError').show();
                $('.viewError').html(data.Response);
            }
            else {
                $('.viewError').hide();
                $('.savedialog').dialog("close");
                window.location.reload(true);
            }
        },
        error: function (e) {
            var r = e.responseJSON;
            if (r == null)
                return;
            if (r.error == true && r.message == 'AuthenticationTimeout')
                window.location = "@Url.Action("Login", "Account")";

            alert("Error occured.");
            $('.savedialog').dialog("close");
        }
    });
    var MODEL = $('#FormId').serializeArray();

    });


    //Delete Existing Favourite View
    $('.Delete').click(function () {
        var id = $('#SelectedFavouriteID').val();
        if (id == "" || id <= 0) {
            alert("Please select favourite search item.");
            $('.confirmdialog').dialog("close");
            return;
        }

        $.ajax({
            url: "@Url.Action("DeleteView", "Home")",
            type: "GET",
        data: { id: id },
        dataType: "json",
        success: function (data) {
            if (data.Response != "Success") {
                $('.confirmdialog').dialog("close");
                alert("Error occured.");
            }
            else {
                $('.confirmdialog').dialog("close");
                window.location.reload(true);
            }
        },
        error: function (e) {
            var r = e.responseJSON;
            if (r == null)
                return;
            if (r.error == true && r.message == 'AuthenticationTimeout')
                window.location = "@Url.Action("Login", "Account")";

            alert("Error occured.");
            $('.confirmdialog').dialog("close");
        }
    });

    });

    function SaveView(id) {
        if (id > -2) {//Edit

            var selText = $("#SelectedFavouriteID option:selected").text();
            var selID = $("#SelectedFavouriteID").val()

            if(selID == '')
            {
                alert("Please select favourite serach item." + selID);
                return;
            }

            $('#viewName').val(selText.trim());
            $('#hdnFavouriteID').val(selID);
            if (id == $("#SelectedFavouriteID").val()) {
                $('#isPrimary').prop('checked', true);
            }

            $('.savedialog').dialog('open');
        }
        else {//Save
            $('#isPrimary').prop('checked', "");
            $('#viewName').val("");
            $('#hdnFavouriteID').val("0");
            $('.savedialog').dialog('open');
        }
    }




    var interval = null;
    var player;
    var flag = false;
    $(document).ready(function () {
        if (iOS()) {
            resetFields();
            $(".favourite").css("display", "none");
        }
        else
        {
            $(".favourite").css("display", "block");
        }
        $(".savedialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Save Search List",
            width: 390,
            height: 240
        });

        $(".confirmdialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Confirm",
            width: 390,
            height: 150
        });

        $(".confirmView").click(function () {
            var id = $('#SelectedFavouriteID').val();
            if (id == "" || id <= 0) {
                alert("Please select favourite search item.");
                $('.confirmdialog').dialog("close");
                return;
            }

            $('.confirmdialog').dialog('open');
        });

        $('.Cancel').click(function () {
            $('.confirmdialog').dialog("close");
        });

        var splitUrl = window.location.href.split('#');
        if (splitUrl.length > 1) {
            var splitChecks = splitUrl[1].split(',');
            if (splitChecks.length > 0) {
                for (var i = 0; i < splitChecks.length; i++) {
                     var currentNode = $('.tree-checkbox.node-item#' + splitChecks[i]);
                    var middleImage = currentNode.parents('.tree ul').find('#middleTGImg');
                    var parentCheckBox = currentNode.parents('.tree ul').find('.tree-checkbox.parent.toggle');

                    currentNode.prop('checked', true);

                    var childList = currentNode.parents('.tree ul').find('.tree-checkbox.node-item');
                    var chkedList = currentNode.parents('.tree ul').find('.tree-checkbox.node-item:checked');
                    if (childList.length == chkedList.length) {
                        currentNode.parents('.tree ul').find('.tree-checkbox.parent.toggle').prop('checked', true);
                        middleImage[0].hidden = true;
                        parentCheckBox[0].hidden = false;
                    }
                    else if (chkedList.length < childList.length) {
                        middleImage[0].hidden = false;
                        parentCheckBox[0].hidden = true;
                    }
                }
            }
        }

        player = new AudioPlayer(document.getElementById("audioctrl"), "@PoliceMonitor.BLL.Utility.Get().BaseURL", document.getElementById('mainDiv'), onplay);
        
        FillTransmission();
        //interval = setInterval(FillTransmission, 3000);
        $('input[type=checkbox]').change(function (e) {
            if (!flag) {
                player.play();
                flag = true;
            }
            e.preventDefault();
            var baseUrl = window.location.href;
            if (baseUrl.indexOf('#') >= 0) {
                baseUrl = baseUrl.substring(0, baseUrl.indexOf('#'));
            }
            baseUrl += '#';
            $('input:checkbox.node-item').each(function () {
                var sThisVal = (this.checked ? $(this).val() : "");
                if (this.checked) {
                    baseUrl += $(this)[0].id + ',';
                }
            });
            if (baseUrl.substr(baseUrl.length - 1) == ',')
                baseUrl = baseUrl.substr(0, baseUrl.length - 1);

            window.location = baseUrl;
        });
    });

    function audioclick(param) {
        switch (param) {
            case 1:
                $('#playbtn').hide();
                $('#pausebtn').show();
                player.play();
                break;
            case 2:
                $('#playbtn').show();
                $('#pausebtn').hide();
                player.pause();
                break;
            case 3:
                player.next();
                break;
            case 4:
                player.previous();
                break;
            case 5:
                $('#playbtn').show();
                $('#pausebtn').hide();
                player.stop();
                break;
        }
    }

    function lockCurrentTalkgroup(elm) {
        if (player.playlist.length <= 0)
            return;

        var tkGroup = 0;
        if (prevLocked != null) {
            tkGroup = $(prevLocked).attr('tkid');
        }
        else {
            tkGroup = player.playlist[player.current].TalkGroupID;
        }
        Gototalkgroup(tkGroup, $('.tkid-' + tkGroup)[0]);
    }
    function onplay() {
        $('#playbtn').hide();
        $('#pausebtn').show();
    }
    var prevLocked = null;
    function Gototalkgroup(talkgroupid, obj) {
        var locked = $(prevLocked).attr("locked");
        if (prevLocked != null) {
            $(prevLocked).attr("src", "@Url.Content("~/images/unlock.png")");
            $("#locktkgroupbtn").attr("src", "@Url.Content("~/images/unlock.png")");
            $(prevLocked).attr("locked", "false");
        }

        var ptalkgroup = (prevLocked != null) ? $(prevLocked).attr('tkid') : "";
        var ctalkgroup = $(obj).attr('tkid');

        if (ptalkgroup != ctalkgroup || locked == "false") {
            $(obj).attr("src", "@Url.Content("~/images/lock.png")");
            $("#locktkgroupbtn").attr("src", "@Url.Content("~/images/lock.png")");
            $(obj).attr("locked", "true");
            player.filterTransmissions(talkgroupid);
            prevLocked = obj;
        }
        else {
            player.filterTransmissions(0);
            prevLocked = null;
        }
    }

    function FillTransmission(selectedAudioID) {
        //debugger;
        var dataTalkGroups = [];
        var dataSystemIds = [];
        if (selectedAudioID > 0) {
            var selectedNode = $('.tree-checkbox.node-item#' + selectedAudioID + ':checked');
            if (selectedNode.length > 0) {
                dataTalkGroups.push(selectedNode[0].id);
                dataSystemIds.push(selectedNode[0].getAttribute('parid'));
            }
        }
        else {
            var treeChildNodes = $('.tree-checkbox.node-item:checked');
            $('.tree-checkbox.node-item:checked').each(function () {
                dataTalkGroups.push($(this)[0].id);
                dataSystemIds.push($(this)[0].getAttribute('parid'));
            });
        }
        if (dataTalkGroups.length > 0) {
            populateData(dataTalkGroups, dataSystemIds);
        }else
        {
            setTimeout(FillTransmission, 500);
        }
    }

    var lastID = 0;
    var audios = [];
    var prevRequest = null;
    function populateData(dataTalkGroups, dataSystemIds) {
        if (prevRequest != null)
        {
            prevRequest.abort();
            prevRequest = null;
        }
        prevRequest = $.ajax({
            type: 'GET',
            url: '@Url.Action("GetRadios", "Home")',
            data: { idTalkGroups: dataTalkGroups.join(", "), idSystemIds: dataSystemIds.join(", ") , lastID: lastID },
            cache: false,
            success: function (result) {
                setTimeout(FillTransmission, 2000);
                prevRequest = null;
                var resultJ = JSON.parse(result);
                var resultJson = resultJ.result;
                lastID = resultJ.lastID;
                if (resultJson != "[]") {
                    resultJson = JSON.parse(resultJson);
                    var mainDiv = document.getElementById("mainDiv");
                    player.addToPlaylist(resultJson);
                    player.continuePlay();
                    displayAudios();
                }
            },
            error: function (e) {
                prevRequest = null;
                var r = e.responseJSON;
                if (r == null)
                    return;
                if(r.error == true && r.message == 'AuthenticationTimeout')
                {
                    window.location = "@Url.Action("Login", "Account")";
                    return;
                }
                setTimeout(FillTransmission, 2000);
            }
        });
    }

    function displayAudios() {
        var str = "LASTID: " + lastID + "<br>";
        for (var item in player.playlist) {
            str += player.playlist[item].TalkGroupID + " >>  " + player.playlist[item].TalkGroupItemId + "<br>";
        }
        $("#audios").html(str);
    }

if(window.innerHeight > window.innerWidth){
var contHgt = $(document).height()-82;
$('.liveListen').height(contHgt);
}

$(window).on('resize', function(){
if(window.innerHeight < window.innerWidth){
$('.liveListen').height("inherit");
}
})

</script>
}
