﻿@model PoliceMonitor.Models.PostFacebookModel

@{
    ViewBag.Title = "Facebook Posts";
    ViewBag.Active = "PostFaceBook";

    var val = ViewBag.PostFB;
    var grid = new WebGrid(val, new string[] { "Postid", "Description", "Event", "City" }, canSort: false, rowsPerPage: 20);
}
<audio controls preload="auto" autoplay id="audioctrl" hidden></audio>
<input type="hidden" id="PostFbPage" value="true" />
<input type="hidden" id="TempID" value="" />
<div class="modal fade PostFbPage " tabindex="-1" role="dialog" id="PostFB" style="z-index: 1; margin-top: 40px; overflow: auto;">
    <div class="modal-dialog  modal-lg" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Facebook Post Entry</h4>
            </div>
            <div class="modal-body ">
                <form id="FormPost">
                    <div class="form-horizontal selectActionPOP">

                        <div class="row">

                            <div class="col-md-2 col-xs-12">Date </div>
                            <div class="col-md-3 col-xs-6 customeDate"><input id='DateTime' class="form-control" name="postedOn" value=""><span class="glyphicon glyphicon-calendar"></span></div>
                            <div class="col-md-2 col-xs-6"><input id="TimeInp" placeholder="HH:mm" class="form-control" type="time" name="Time"></div>

                            <div class="col-md-2 col-xs-12">City or County</div>
                            <div class="col-md-3 col-xs-12">
                                <input type="text" name="city" id="CityID" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-2 col-xs-12">Location </div>
                            <div class="col-md-5 col-xs-12"><input id="Location" name="Location" max="50" class="form-control"></div>

                            <div class="col-md-2 col-xs-12">Event Type</div>
                            <div class="col-md-3 col-xs-12">
                                <input type="text" name="event_type" id="EventType" maxlength="50" class="form-control" />
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-2 col-xs-12">Description</div>
                            <div class="col-md-10 col-xs-12"><textarea id="Description" maxlength="5000" name="description" class="form-control"></textarea></div>
                        </div>



                        <div class="row">

                            <div class="col-md-2 col-xs-12">Category</div>
                            <div class="col-md-5 col-xs-12">
                                <select id="CategoriesID" name="categoryId" class="form-control" style="height:35px;">
                                    <option value="">Select Category</option>
                                    <option value="10">Police Chase Audio</option>
                                    <option value="8">Non Chase Audio</option>
                                    <option value="9">National Audio/Video</option>
                                    <option value="7">Dumb Criminals</option>
                                    <option value="12">Security/Cell Phone Cams</option>
                                    <option value="11">Dash/Body Cams</option>
                                    <option value="13">Live News Feeds</option>
                                    <option value="14">Funny MN Audio Clips</option>
                                    <option value="1">The Craziest Stories</option>
                                    <option value="3">Naked Nutcases</option>
                                    <option value="2">Horrible Parents</option>
                                    <option value="4">Dopey Dopes</option>
                                    <option value="5">911 Numskulls</option>
                                    <option value="6">Alcoholic All-Stars</option>
                                    <option value="16">General 911 calls</option>
                                    <option value="17">Shootings</option>
                                    <option value="18">National Incidents</option>
                                    <option value="15">Historical</option>
                                </select>
                            </div>

                            <div class="col-md-2 col-xs-12">Public Post</div>
                            <div class="col-md-3 col-xs-12">
                                <input id="MemberChange" name="ismember" type="checkbox">
                            </div>

                        </div>

                        <div class="row" id="ImageUplodeFirst">

                            <div id="wrapper" class="col-md-6 col-xs-12">
                                <label class="control-label">Select Photo</label>
                                <input type="file" id="fileUpload" class="fileUpload" name="Image">
                            </div>
                            <div id="wrapper" class="col-md-6 col-xs-12">
                                <div id="image-holder" class="image-holder" style="overflow:hidden;max-height:150px;max-width:150px;"></div>
                            </div>
                        </div>
                        <input type="hidden" name="transid" id="transmissionID" />
                        <input type="hidden" name="url" id="AudioURL" />
                        <input type="hidden" name="imageurl" id="ImageURL" />
                        <input type="hidden" name="common_img" id="ImageURL" />
                        <input type="hidden" name="TalkURl" id="TalkURl" />
                    </div>
                </form>



                <div class="row">
                    <div class="col-md-12 col-xs-12 mainBtns downloadtop" style="text-align:right">
                        <div class="row ">
                            @if ((User as PoliceMonitor.Security.Principal.CustomPrincipal).HasPermission(PoliceMonitor.Security.Base.Model.Constant.CANDOWNLOADAUDIO) == true)
                            {
                                <div class="col-md-3 col-xs-12 autoplayPopBtn"><input type="checkbox" onclick='javascript: helper.autoplayTransmissionpop(this); return false;' id="autoplayTransmissionpop" data-toggle="toggle" data-on="Autoplay On" data-off="Autoplay Off" data-onstyle="success" data-offstyle="danger"></div>
                                <div class="col-md-4 col-xs-12 "><button type="button" onclick='javascript: helper.unchkAllPop(this); return false;' class="btn btn-danger Fixedbtn btn2" id="unchkAllPop" value="false">Uncheck All</button></div>
                                <div class="col-md-5 col-xs-12 "><button type="button" onclick='javascript: helper.markAllBetweenCheckPop(this); return false;' class="btn btn-danger Fixedbtn btn3" id="markAllBetweenCheckPop" value="false">Mark all <span class="mobile">b/w</span> <span class="desktop">between</span> Checks</button></div>
                            }
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-xs-12 col-xs-12 scrollerTable " style="overflow:scroll; height:200px;" id="GripPop">

                        </div>
                        <iframe id="iframPop" src="" name="Ifram"></iframe>
                    </div>*@

                <div class="row">
                    <div class="col-xs-12 col-xs-12 ">
                        <div class="scrollerTable table-responsive" id="GripPop">
                        </div>
                    </div>
                    <iframe id="iframPop" src="" name="Ifram"></iframe>
                </div>

                @*<div class="row">

                        <div class="col-md-12 col-xs-12" style="text-align:center;">
                            <a href="#" data-toggle="modal" data-target="#TimeBefor">Load More Transmissions</a>
                        </div>
                    </div>*@

            </div>



            <div class="modal-footer" id="postBtn">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" style="z-index:2" id="TimeBefor">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Load More Transmissions</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-6">Duration </div>
                    <div class="col-md-6 col-xs-6" data-co>
                        <table><tr><td><input id="timestamp" style="width:50px" class="form-control" type="text"></td><td> <label style="margin-left:5px;">minutes</label></td></tr></table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button onclick="javascript: helper.AddTime(this); return false;" type="button" class="btn btn-primary" aria-label="Close">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="FinalPostFB" style="margin-top: 40px; overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Facebook Post Entry</h4>
            </div>
            <div class="modal-body">
                <form id="FormPostFinal">
                    <div class="row tableMo" id="DivFB"></div>
                </form>


                <div class="row imageUploadModel " id="ImageUplode">
                    <div class="col-md-5 col-xs-6">Upload Photo</div>
                    <div id="wrapper" class="col-md-7 col-xs-6">
                        <label class="control-label">Select Photo</label>
                        <input type="file" id="fileUploadFB" class="fileUpload" name="Image">
                        <div id="image-holderFB" class="image-holder" style="max-height:150px;max-width:150px; overflow:hidden;"></div>
                    </div>
                </div>


            </div>



            <div class="modal-footer">
                <button onclick="javascript: helper.SacePostFB(this); return false;" type="button" class="btn btn-primary">Save</button>
                <button onclick="javascript: helper.FinalPostFB(this); return false;" type="button" class="btn btn-primary">Save and Post</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div style="margin-top:20px;">
    <div class="table-responsive">
        <h2>@ViewBag.Title</h2>
        @grid.GetHtml("table tabledata tableMo", columns:
    grid.Columns(
                grid.Column(columnName: "Postid", header: "Postid", format: @<text><span>Postid</span>@item.Postid</text>),
                grid.Column(columnName: "PostDate", header: "Date Time", format: @<text><span>Date</span>@item.PostDate</text>),
                grid.Column(columnName: "City", header: "City", format: @<text><span>City</span><p style='width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>
                @item.City
            </p></text>),
                grid.Column(columnName: "Event", header: "Event", format: @<text><span>Event</span>
            <p style='width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>
                @item.Event
            </p></text>),
                grid.Column(columnName: "Description", header: "Description", format: @<text><span>Description</span>
            <p style='width: 170px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>
                @item.Description
            </p></text>),
                grid.Column(columnName: "PostedBy", header: "Posted By", format: @<text><span>Posted By</span>@item.PostedBy</text>),
                grid.Column("Type", format: @<text><span>Type</span></text>),
                grid.Column("Action", format: @<text><span></span>
            <button class="btn mini btn-primary" id="@item.Postid" onclick="ViewME('@item.Postid')">View</button>
                </text>, style: "col3Width", canSort: false)
                ))
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="DraftDiv" style="margin-top: 40px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Facebook Post</h4>
            </div>
            <div class="modal-body">
                <form id="FormPostFinal">
                    <div class="row tableMo" id="DivFBDraft">
                    </div>
                    <div class="row" id="ImageUplodeFirst">

                        <div id="wrapper" class="col-md-6 col-xs-12">
                            @*<label class="control-label">Select Photo</label>*@
                            @*<input type="file" id="fileUpload" class="fileUpload" name="Image">*@
                        </div>
                        <div id="wrapper" class="col-md-6 col-xs-12">
                            <div id="holderdraft" class="image-holder" style="overflow:hidden;max-height:150px;max-width:150px;"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="FooterDiv" style="display:none">
                    <button onclick="javascript: FinalPostFB(this); return false;" type="button" class="btn btn-primary">Save and Post</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts{
    @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/audioplayer.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    @Scripts.Render("~/Scripts/helpers/transmissionshelper.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
    @*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
        <script type="text/javascript" src="~/Scripts/utils.js"></script>
        <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/multiple-select.css">
        <link rel="stylesheet" href="~/Content/developer.css">*@
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.multiple.select.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/utils.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/multiple-select.css">
    <link rel="stylesheet" href="~/Content/developer.css">
    <script language="javascript" type="text/javascript">
        var helper;
        $(document).ready(function () {
            helper = new TransmissionHelper('@ViewBag.FirstName', '@ViewBag.LastName', '@ViewBag.UserName',
                "@ViewBag.BaseURL", '@Url.Content("~/Home/MarkedForReview")', '@Url.Content("~/Home/MarkListen")',
                "@Url.Action("GenerateMp3", "Home")", '@Url.Action("DownloadMp3File", "Home")', '@Url.Action("GetVideo", "Home")',
                '@Url.Action("downloadVideo", "Home")', '@Url.Action("DownloadMp4File", "Home")', '@Url.Action("UploadFiles", "Home")', '@Url.Action("PostFb", "Home")',
                '@Url.Action("SearchCity", "Home")', '@Url.Action("SearchEvent", "Home")', '@Url.Action("DeleteDraft","Home")', '@Url.Action("SaveDraft","Home")',
                '@Url.Action("GetDraft","Home")', 'myTestID');//;
            GetDraft();

        });




        //$(document).ready(function () {
        //    //GetDraft(function (result) {
        //    //});

        //});
        var resultData = [];
        var FbPost = [];
        var id = "";

        function convertUTCDateToLocalDate(time) {
            if (time != null) {
                var time1 = time.split("(");
                var time2 = time1[1].split(")");
                time = time2[0];
                var date = new Date(parseInt(time)).toJSON().slice(0, 10).split("-");
                date1 = date[1] + '/' + date[2] + '/' + date[0];
                //.reverse().join("/");
                return date1;
            }
            //console.log(date);
        }
        function CancelPosted() {
            $("#postBtn").empty();
            $("#image-holder").empty();
            $("#GripPop #transmisisonTable").remove();
            $("#PostFB").modal('hide');
            ViewME($("#TempID").val());
        }

        function ViewME(e) {
            $("#FooterDiv").css("display", "none");
            var result = e;
            $("#TempID").val(e);
            $("#holderdraft").empty();
            //alert(e);
            $.ajax({
                url: "@Url.Action("ViewPostID", "Home")",
                type: "POST",
                dataType: "json",
                data: { result: e },
                success: function (result) {
                    resultData = result;
                    show(result);
                    for (var i = 0; i < result.length; i++) {
                    }

                },
                error: function (result) {
                    //console.log(result);
                }
            });
        }
        function show(result) {
            var TableData = "<table class='table'><thead><tr><th>#</th><th>DateTime</th><th>Events</th><th>Description </th><th>Posted By</th></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var time1 = result[i].PostDate.split("(");
                var time2 = time1[1].split(")");
                var datetime1 = helper.Dateconvert(parseInt(time2[0]));
                var date = datetime1.split(" ");
                //$("#iframPop").show();
                //var date1 = date[0];
                var datetime = date[0];//convertUTCDateToLocalDate(result[i].PostDate);

                TableData += "<tr><td><span>Postid</span>" + (i + 1) + "</td><td><span>Date</span>" + datetime + "</td> <td><span>Event</span><p style='width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>" + result[i].Event + "</p></td><td><span>Description</span><p style='width: 130px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>" + result[i].Description + "</p></td> <td><span>Posted By</span><p style='width: 130px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>" + result[i].PostedBy + "</p></td><td><span></span><button onclick='javascript: ViewSaved(this); return false;' style='margin-right: 10px;'  class='btn mini btn-danger' id='" + result[i].ID + "' >View</button></td> </tr> "
                //TableData += "<td><button onclick='javascript: EditFB(this); return false;' style='margin-right: 10px;'  class='btn mini btn-danger' id='" + result[i].ID + "' >Edit</button>";
                //TableData += "<button onclick='javascript: DeleteFB(this); return false;' style='margin-right: 10px;' class='btn mini btn-danger' id='" + result[i].ID + "' >Delete</button></td> </tr>";
            }
            if (result[0].FBPostUrl != null) {
                $("#holderdraft").append("<img class='sealImage' style='height: 150px;width: 150px;' alt='Image of Seal' src='../" + result[0].FBPostUrl + "'>")
            }
            TableData += " </tbody></table>";
            $("#DivFBDraft").empty();
            $("#DivFBDraft").append(TableData);
            $("#DraftDiv").modal('show');

        }
        function ViewSaved(e) {
            var id = e.id;
            $(".image-holder").empty();
            $.ajax({
                url: "@Url.Action("ViewSaved", "Home")",
                type: "POST",
                dataType: "json",
                data: { ID: id },// { EventType: 'A', Location: 'L' }],
                success: function (msg) {
                    ViewPosted(msg);
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

        function ViewPosted(msg) {
            //debugger;
            $("#PostFB").modal("show");
            $("#DraftDiv").modal("hide");
            $("#postBtn").empty();
            $("#image-holder").empty();
            var datetime = (msg[0].PostDate);
            $('#loading').show();
            $('#loading').css("z-index", "2");
            var time1 = datetime.split("(");
            var time2 = time1[1].split(")");
            datetime = helper.Dateconvert(parseInt(time2[0]));
            //alert(datetime);
            $("#GripPop #transmisisonTable").remove();

            var date = datetime.split(" ");
            $("#iframPop").show();
            var date1 = date[0].split("/");
            //if (parseInt((date[0].split("/"))[0]) < 10) {
            //    //date1[0] = "0" + date1[0];
            //}
            //if (parseInt((date[0].split("/"))[1]) < 10) {
            //    //date1[1] = "0" + date1[1];
            //}
            $("#DateTime").val(date1[0] + "/" + date1[1] + "/" + date1[2]);
            var time = date[1].split(":");
            if (date[2].toUpperCase() == 'PM'.toUpperCase()) {
                //alert("rohit");
                if (time[0] != '12') {
                    time[0] = parseInt(time[0]) + 12;
                }
            }
            else if (date[2].toUpperCase() == 'AM'.toUpperCase()) {
                if (time[0] == '12') {
                    time[0] = '00';
                }
            }
            var timeset = time[0] + ":" + time[1];
            if (time[0] < 10) {
                $("#TimeInp").val(timeset);
            }
            else {
                $("#TimeInp").val(time[0] + ":" + time[1]);
            }
            $("#iframPop").hide();

            //$("#DateTime").val(datetime);
            //$("#TimeInp").val(msg[0].);
            $('#MemberChange').prop("checked", msg[0].IsMember)
            $("#CityID").val(msg[0].City);
            $("#Location").val(msg[0].Location);
            $("#EventType").val(msg[0].Event);
            $("#Description").val(msg[0].Description);
            $("#CategoriesID").val(msg[0].Categories.trim());
            $("#GripPop").find('#transmisisonTable').remove();
            if (msg[0].ImageURL != null) {
                var image = "<img class='sealImage' style='height: 100px;width: 100px;' alt='Image of Seal' src='../" + msg[0].ImageURL + "'>";
            }
            $("#image-holder").append(image);
            //$("#GripPop").empty();
            $("#postBtn").append("<button style='float:left;' onclick='javascript: CancelPosted(this);  return false;' type='button' id='FinalFB' class='btn btn-danger'>Cancel</button>");
            if (msg[0].TransmissionUrl != "") {

                var transId = (msg[0].TransmissionID).split(",");


                $("#iframPop").attr("src", document.location.origin + "" + msg[0].TransmissionUrl);


                $("#iframPop").ready(function () {
                    function show_popup() {
                        if ($('#iframPop').contents().find('#transmisisonTable').length == 0) {
                            window.setTimeout(show_popup, 500);
                        }
                        else {
                            $("#GripPop").prepend($('#iframPop').contents().find('#transmisisonTable'));
                            $("#iframPop").attr("scr", "");
                            for (var i = 0; i < transId.length; i++) {
                                $("#GripPop #" + transId[i]).children().find('input:checkbox').prop('checked', 'checked');
                            }
                            function show_up() {
                                if ($("#GripPop #" + transId[0]).length == 0) {
                                    window.setTimeout(show_up, 500);
                                    return;
                                }
                                for (var i = 0; i < transId.length; i++) {
                                    $("#GripPop #" + transId[i]).children().find('input:checkbox').prop('checked', 'checked');
                                }
                                $('#loading').hide();
                                $("#GripPop #" + transId[0]).get(0).scrollIntoView();
                            } window.setTimeout(show_up, 500);
                        }
                    };
                    window.setTimeout(show_popup, 2000);
                });


            }
            $('#PostFB').find('input, textarea, select,file').attr('readonly', 'readonly');
        }



        function GetDraft() {
            $("#FooterDiv").css("display", "block");
            var result = "";
            $.ajax({
                url: "@Url.Action("GetDraftFBPop", "Home")",
                type: "POST",
                dataType: "json",
                data: { result: result },
                success: function (result) {
                    if (result.length >= 1) {
                        var result1 = [];
                        result1 = result;
                        show1(result1);
                    }
                    else {
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }

        function show1(result) {
            debugger
            var TableData = "";
            for (var i = 0; i < result.length; i++) {
                var arr = [];
                if (result[i].PostData.length >= 1) {
                    arr = jQuery.parseJSON(result[i].PostData);
                }
                if (arr.length >= 1) {
                    TableData += " <tr><td><span>Postid</span><b>" + i + "</b></td>";
                    for (j = 0; j < arr[0].length - 4; j++) {
                        //if (j==2|| j == 4 || j == 5) {
                        //    TableData += "<td>" + arr[0][j].value + "</td>";
                        //}
                        if (j == 2) {
                            TableData += "<td><span>City</span>" + arr[0][j].value + "</td>";
                        }
                        if (j == 4) {
                            TableData += "<td><span>Event</span>" + arr[0][j].value + "</td>";
                        }
                        if (j == 5) {
                            TableData += "<td><span>Description</span><p style='width: 170px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-weight:normal; '>" + arr[0][j].value + "<p></td>";
                        }
                        if (j == 0) {
                            //debugger;
                            var dateString = arr[0][j].value + " " + arr[0][j + 1].value,
                            dateTimeParts = dateString.split(' '),
                            timeParts = dateTimeParts[1].split(':'),
                            dateParts = dateTimeParts[0].split('/'),
                            date;

                            date = new Date(dateParts[2], parseInt(dateParts[0], 10) - 1, dateParts[1], timeParts[0], timeParts[1]);
                            var date1 = helper.Dateconvert(date.getTime());
                            TableData += "<td><span>Date</span>" + date1 + "</td>";
                        }
                    }
                    var value = "Save";
                    if (result[i].Active == true) {
                        value = "Draft";
                    }
                    TableData += "<td><span>Posted By</span>" + result[i].UserName + "</td><td><span>Type</span><b>" + value + "<b></td>";
                    TableData += "<td><span></span><button class='btn mini btn-primary' onclick='javascript: helper.ViewPost(this); return false;'  id='" + result.ID + "' >View</button></td>"
                    TableData += "</tr>";
                }
            }

            $(".tabledata tbody").prepend(TableData);
        }

    </script>
}
