﻿@model List<PoliceMonitor.Models.TalkGroupModel>
@{
    ViewBag.Title = "Quick Playback";
    ViewBag.Active = "QuickPlayback";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style type="text/css">

        .tree ul{
            padding-left: 10px;
        }
.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
}
  .panel-primary > .panel-heading{
  color: black;
        }

.tree li a{
    display: inline-block;

    text-decoration: none;
    color: #666;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight :600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 2px 0;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{
      height: 30px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {

    color: #000;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #dd4814;
}
.tree-checkbox{
    margin :4px !important;
}


*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.tree {
    padding-left: 0px;
    position: relative;
}

.fixed-panel{position: fixed; width:100%; left: 0px; top:51px; border-bottom:3px solid #fff; border-top:3px solid #fff; z-index: 1}
.panel{margin-top: 160px;}
.panel-primary .panel-heading{
    background : lightgrey;
}
.panel-body{
    padding:0px!important;
}
        .lock {
            background: url("@Url.Content("~/images/lock.png")");
         }
        .unlock {
            background: url("@Url.Content("~/images/unlock.png")");
         }
         .lockicon {
                cursor: pointer;
            }

.navbar-collapse{padding:0 15px !important;}
#img_logo{float: left;}


    </style>

}


<div class="panel panel-primary">
    <div class="fixed-panel">
        <div class="container">
            <div id="mainAudioDiv">

                <div class="panel-heading panel-head" style="text-align: center; border-bottom: 0px !important;" id="mainDiv">
                    {Loading selected talkgroups}<br /><br /><br /><br />
                </div>
                <div class="panel-heading panel-head" style="text-align: center; border-radius: 0;">
                    @*<img src="@Url.Content("~/images/icons.png")" style="width:150px;" />*@
                    @*<img src="@Url.Content("~/images/replay.png")" hidden id="replaybtn" />*@
                    <img src="@Url.Content("~/images/previous.png")" style="cursor: pointer" onclick="audioclick(4);" id="previousbtn" />
                    <img src="@Url.Content("~/images/playbtn.png")" style="cursor: pointer" onclick="audioclick(1);" id="playbtn" />
                    <img src="@Url.Content("~/images/pausebtn.png")" hidden style="cursor: pointer" onclick="audioclick(2);" id="pausebtn" />
                    <img src="@Url.Content("~/images/stop.png")" style="cursor: pointer" onclick="audioclick(5);" id="stopbtn" />
                    <img src="@Url.Content("~/images/next.png")" style="cursor: pointer" onclick="audioclick(3);" id="nextbtn" />
                </div>
                </div></div>
            </div>
            <audio controls preload="auto" autoplay id="audioctrl" hidden></audio>


            <div id="frm-author" class="panel-body">

                <div class="tree">
                    @{
                        //var talkGroupModel = new List<PoliceMonitor.Models.TalkGroupModel>();
                        //talkGroupModel = ViewBag.Model.TalkGroupModel;
                        //int selectedListCount = talkGroupModel.Where(aa => aa.IsSelect == true).ToList().Count;
                        //var Name = talkGroupModel.Select(a => a.SystemName).Distinct().ToList();

                        var count = ViewBag.Countsys;
                        var SysID = ViewBag.SysID;
                        var sys = Enumerable.Count(ViewBag.Countsys);
                        
                    }
                    <table>
                        @for (int v = 0; v < sys; v++)
                        { 
                            <tr><td style="text-align: center;" colspan="6"> 
                                @if (count.Count > 1) { 
                                <p id="@SysID[v]" style="text-align: center; font-weight: bold; background-color: #d9534f; color: white;">@count[v]</p>
                                }
                                
                                </td></tr>

                            for (int i = 0; i < Model.Count(); i++)
                            {
                                for (int j = 0; j < Model[i].RadioGroupModel.Count(); j++)
                                {
                                    if (count[v] == Model[i].SystemName)
                                    {
                                        <tr style="border-bottom: 1px solid lightgray; height:40px">
                                            <td>
                                                <a href="javascript:void(0)">

                                                    <label for=@Model[i].ChannelName>
                                                        @Html.DisplayFor(model => model[i].ChannelName) - @Html.DisplayFor(model => model[i].RadioGroupModel[j].RadioDesc)
                                                    </label>
                                                </a>
                                            </td>
                                            <td>
                                                <button type="button"  class="btn btn-primary Fixedbtn" onclick="populateLastTransmissions(@Model[i].RadioGroupModel[j].RadioID, 1, 0,@SysID[v])">Last Transmission</button>
                                            </td>
                                            <td>
                                                <button type="button"  class="btn btn-success Fixedbtn" onclick="populateLastTransmissions(@Model[i].RadioGroupModel[j].RadioID, 2, 0,@SysID[v])">Last 2 Transmissions</button>
                                            </td>
                                            <td>
                                                <button type="button"  class="btn btn-info Fixedbtn" onclick="populateLastTransmissions(@Model[i].RadioGroupModel[j].RadioID, 10, 0,@SysID[v])">Last 10 Transmissions</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning Fixedbtn" onclick="populateLastTransmissions(@Model[i].RadioGroupModel[j].RadioID, 0, 30,@SysID[v])">Last 30 Seconds</button>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Go to Talkgroup", "GoToTalkgroup", new { id = @Model[i].RadioGroupModel[j].RadioID, SystemId = @SysID[v], transStartUTC = "01/01/1970 00:00:00" }, new { target = "_blank", @class = "btn btn-danger Fixedbtn btn-block" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </table>

                </div>
                @*<div id="audios"></div>*@

            </div>
        </div>

        @section scripts{

            @Scripts.Render("~/Scripts/tree.js")
            @Scripts.Render("~/Scripts/audioplayer.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
            @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")

            <script language="javascript" type="text/javascript">
                var interval = null;
                var player;
                var flag = false;
                $(document).ready(function () {
                    player = new AudioPlayer(document.getElementById("audioctrl"), "@PoliceMonitor.BLL.Utility.Get().BaseURL", document.getElementById('mainDiv'), onplay);
                });

                function audioclick(param) {
                    switch (param) {
                        case 1:
                            $('#playbtn').hide();
                            $('#pausebtn').show();
                            player.play();
                            break;
                        case 2:
                            $('#playbtn').show();
                            $('#pausebtn').hide();
                            player.pause();
                            break;
                        case 3:
                            player.next();
                            break;
                        case 4:
                            player.previous();
                            break;
                        case 5:
                            $('#playbtn').show();
                            $('#pausebtn').hide();
                            player.stop();
                            break;
                    }
                }

                function onplay() {
                    $('#playbtn').hide();
                    $('#pausebtn').show();
                }

                function populateLastTransmissions(talkGroupID, size, time,SystemID) {
                    if (!flag) {
                        player.play();
                        flag = true;
                    }

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetLastNTransmissions", "Home")',
                        data: { talkGroupID: talkGroupID, size: size, time: time, SystemId: SystemID },
                        cache: false,
                        success: function (result) {
                            var resultJ = JSON.parse(result);
                            var resultJson = resultJ.result;
                            if (resultJson != "[]") {
                                resultJson = JSON.parse(resultJson);
                                //var mainDiv = document.getElementById("mainDiv");
                                player.stop();
                                player.current = 0;
                                player.playlist = [];
                                player.addToPlaylist(resultJson);
                                if (player.audio.src != "") {
                                    player.resetSrc();
                                }
                                player.play();
                            }
                        }
                    });
                }
            </script>
        }
