﻿@model PoliceMonitor.Models.TalkGroupView

@{
    ViewBag.Title = "TalkGroup";
}
<div class="searchIcon">
	<button type="button" class="glyphicon glyphicon-filter toggleBtn"></button>
</div>

<div id="searchBar">
<label style="color:red;" class="danger">@Html.Raw(Model.ErrorMessage)</label>
@using (Html.BeginForm("FilterTalkGroup", "Home", FormMethod.Get))
{
    if (ViewBag.ReviewStatusList != null && ViewBag.MarkListenList != null)
    {
	    <div class="filterTable">
            <table style="width:50%" class="filters">
                <tr>
                    <td>
                        <label>Review Status</label>
                    </td>
                    <td>
                        <label>Listened Status</label>
                    </td>
                    <td ></td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("ReviewStatusList", new SelectList(ViewBag.ReviewStatusList, "Value", "Text"), "Show All", new { @onchange = "submit();", @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("MarkListenList", new SelectList(ViewBag.MarkListenList, "Value", "Text"), "Show All", new { @onchange = "submit();", @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="Filter" class="btn btn-danger btn-default" />
                    </td>
                </tr>
            </table>
        </div>
    }
}
@Html.Partial("~/Views/Shared/_TransmissionGridHeaderButtons.cshtml", new ViewDataDictionary { { "ShowBack", false }, { "AutoPlay", Model.AutoPlay } })
</div>

    @Html.Partial("~/Views/Shared/_TransmissionGrid.cshtml", new ViewDataDictionary { { "ShowBack", false }, { "scrollerId", "myTestID" }, { "FilteredList", Model.FilteredList }, { "Cities", Model.Cities }, { "Timeformat", Model.Timeformat } })

    @section scripts {
        @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/Scripts/audioplayer.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
        @Scripts.Render("~/Scripts/helpers/transmissionshelper.js?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
       <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery.multiple.select.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
        <script type="text/javascript" src="~/Scripts/utils.js"></script>
        <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/stylesheet.css" rel="stylesheet" />
        @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
        <link rel="stylesheet" href="~/Content/multiple-select.css">
        <link rel="stylesheet" href="~/Content/developer.css">

        <script language="javascript" type="text/javascript">
            var helper;
            $(document).ready(function () {
                helper = new TransmissionHelper('@ViewBag.UserInfo.FirstName', '@ViewBag.UserInfo.LastName', '@ViewBag.UserInfo.UserName',
                    "@PoliceMonitor.BLL.Utility.Get().BaseURL", '@Url.Content("~/Home/MarkedForReview")', '@Url.Content("~/Home/MarkListen")',
                    "@Url.Action("GenerateMp3", "Home")", '@Url.Action("DownloadMp3File", "Home")', '@Url.Action("GetVideo", "Home")',
                    '@Url.Action("downloadVideo", "Home")', '@Url.Action("DownloadMp4File", "Home")', '@Url.Action("UploadFiles", "Home")', '@Url.Action("PostFb", "Home")',
                    '@Url.Action("SearchCity", "Home")', '@Url.Action("SearchEvent", "Home")','@Url.Action("DeleteDraft","Home")','@Url.Action("SaveDraft","Home")',
                    '@Url.Action("GetDraft","Home")','myTestID');//;
                

            } );
        </script>
    }
