﻿
@{
    Layout = null;
    ViewBag.Title = "Tyler Technology";
    ViewBag.Active = "Tyler Technology";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tyler_Technology</title>
</head>
<body>
    <div class="col-md-12" style=" max-width: 1200px; margin: 0 auto; padding: 50px 20px; background: #e8e8e8;"> 
        <h3>Tyler Technologies (TYL) Acquires Radio 10-33</h3>
        <h5>November 29, 2017 9:26 AM </h5>
        <p>Tyler Technologies, Inc. (NYSE: TYL) today announced it has acquired audio and digital two-way radio communications technology and related assets from Radio 10-33, LLC. Tyler expects to deploy the acquired assets in future applications for recording E-911 transmissions.</p>
        <p>With this acquisition, Tyler is investing in enhanced capabilities that will provide added value to emergency communication centers, law enforcement, fire and EMS agencies for monitoring and responding to the regions they serve. The recordings can be used by mobile units, dispatch centers, and agency professionals for instant incident playback, and can be saved as MP3 or MP4 video files with metadata.

“We are looking forward to integrating this advanced technology with our public safety solutions,” said Greg Sebastian, president of Tyler’s Public Safety Division. “Radio integration with a public safety software system is a significant benefit, providing backup for important information and assisting neighboring agency interoperability. We are always seeking best-of-breed technology to continuously improve service to existing and future clients.”

During the coming months, Radio 10-33’s technology and services offerings will be integrated into Tyler operations and branding.</p>
    </div>
</body>
</html>
