﻿@model PoliceMonitor.Models.GroupViewModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt>
            Users
        </dt>
        <dd>
            @string.Join(", ", Model.Users.Select(x => x.UserName).ToArray())
        <dd>
        <dt>
            Talk Groups
        </dt>
        <dd>
            @string.Join(", ", Model.TalkGroupList.Select(x => x.Text).ToArray())
        <dd>
    </dl>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
