﻿@model PoliceMonitor.Models.GroupViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
       </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt>
            Users
        </dt>
        <dd>
            @string.Join(", ", Model.Users.Select(x => x.UserName).ToArray())
        <dd>
        <dt>
            Talk Groups
        </dt>
        <dd>
            @string.Join(", ", Model.TalkGroupList.Select(x => x.Text).ToArray())
        <dd>
</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
