﻿@model PoliceMonitor.Models.GroupViewModels

@{
    ViewBag.Title = "Edit";
}
<style>
    .checkboxDiv {
        position: relative;
    }

        .checkboxDiv input {
            position: absolute;
            left: 15px;
            top: 9px;
        }

        .checkboxDiv label {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            font-weight: normal;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 5px;
        }
</style>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Groups</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group checkboxDiv">
            <label class="col-md-2 control-label" style="font-weight:bold">
                Select Talk Group
            </label>
            <div class="col-md-10">
                <div class="row">
                    @foreach (SelectListItem item in ViewBag.TalkGroups)
                    {
                        <div class="col-sm-6">
                            <input type="checkbox" name="SelectedTalkGroup" value="@item.Value" class="checkbox-inline" checked="@item.Selected" />
                            @Html.Label(item.Text, new { @class = "", @title = item.Text })
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group checkboxDiv">
            <label class="col-md-2 control-label" style="font-weight:bold">
                Select Users
            </label>
            <div class="col-md-10">
                <div class="row">
                    @foreach (SelectListItem item in ViewBag.AllUsers)
                    {
                        <div class="col-sm-6">
                            <input type="checkbox" name="SelectedUser" value="@item.Value" class="checkbox-inline" checked="@item.Selected" />
                            @Html.Label(item.Text, new { @class = "", @title = item.Text })
                        </div>
                    }
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        SelectChange();
    });
    function SelectChange() {
        var selectedCaseId = $("#SelectedCaseId").val();
        $("#case1").hide();
        $("#case2").hide();
        $("#case3").hide();
       
        if(selectedCaseId == 1)
        {
            $("#case1").show();
            $("#AfterFirstTransmissionWaitInterval").val(null);
            $("#LastNSecTransmissionsCount").val(null);
            $("#NSecInterval").val(null);
            $("#AfterNSecTransmissionWaitInterval").val(null);
        }
        else if (selectedCaseId == 2) {
            $("#case2").show();
            $("#NotifiyTransmissionsCount").val(null);
            $("#Interval").val(null);
            $("#LastNSecTransmissionsCount").val(null);
            $("#NSecInterval").val(null);
            $("#AfterNSecTransmissionWaitInterval").val(null);
        }
        else if (selectedCaseId == 3) {
            $("#case3").show();
            $("#NotifiyTransmissionsCount").val(null);
            $("#Interval").val(null);
            $("#AfterFirstTransmissionWaitInterval").val(null);
        }
    }

</script>
}