﻿@model IEnumerable<PoliceMonitor.Models.GroupViewModels>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "GroupIndex";
}

<h2>Manage Groups</h2>

<p>
    @Html.ActionLink("Add Group", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Group Name
            </th>
            <th>
                Users
            </th>
            <th>
                Talk Groups
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @string.Join(", ", item.Users.Select(x=>x.UserName).ToArray())
        </td>
        <td>
            @string.Join(", ", item.TalkGroupList.Select(x=>x.Text).ToArray())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Details", "Details", new { id = item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GroupId })
        </td>
    </tr>
}

    </table>
</div>