﻿@model PoliceMonitor.Models.MyRadiosModel
@{
    ViewBag.Title = "Add My Radios";
    ViewBag.Active = "MyRadios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tagsItems ul li {
        margin: 7px 10px 0 0;
        padding: 2px 8px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #6e6e6e;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        background: #f0f0f0;
    }
</style>
<h2>Add My Radios</h2>
<hr />
<div class="form-group">
    @using (Html.BeginForm("SaveRadios", "MyRadios", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                <label>Enter Radio IDs</label><br />
                Comma separated or range e.g. 1000-1030
            </div>
            <div class="col-sm-3" style="margin-bottom: 10px;">
                @Html.TextBoxFor(m => m.RadioIds, new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                <button style="width: 100%;margin:0 auto;" class="btn btn-danger btn-default" type="submit">Add</button>
            </div>
        </div>
        <hr />
        <h4>My Radios</h4>
        <div class="row">
            <div class="col-sm-12 tagsItems">
                <ul>
                    @for (int j = 0; j < Model.Radios.Count(); j++)
                    {
                        <li radioid="@Model.Radios[j]">
                            @Model.Radios[j]
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
@section scripts {
    @Styles.Render("~/Content/Site.css?v=" + @System.Configuration.ConfigurationManager.AppSettings["Dynamic"])
}
<script>
    $(function () {
        jQuery.fn.ForceNumericOnly =
            function () {
                return this.each(function () {
                    $(this).keydown(function (e) {
                       
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, enter, arrows, numbers, comma and keypad numbers ONLY
                        // home, end, period, and numpad decimal
                        return (
                            key == 8 ||
                            key == 9 ||
                            key == 13 ||
                            key == 46 ||
                            key == 110 ||
                            key == 188 ||
                            key == 189 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    });
                });
            };

        $("#RadioIds").ForceNumericOnly();
        $("#RadioIds").val("");

        $('.tagsItems li').append(' <a href="javascript: void(0);">x</a>');
        $('.tagsItems li a').click(function (elm) {
            var liElm = $(this).parent();
            var rid = liElm.attr('radioid');
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/MyRadios/RemoveRadio")',
                dataType: "json",
                data: {radioId: rid},
                success: function (msg) {
                    window.location.href = '@Url.Content("~/MyRadios")';
                },
                error: function (msg) {
                    window.location.href = '@Url.Content("~/MyRadios")';
                }
            });
        });
    })
</script>
